//********************************************************
// 18F.gsa.gov CUSTOM SASS
//********************************************************
* {
  font-feature-settings: "liga" 0;
}

// Site-wide media queries
//********************************************************
.mantra, .blog-entry, .service-entry, .contact-box, .newsletter-box {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media($bigger) {
      padding-left: 5%;
      padding-right: 5%;
  }
}
.bare {
  @include media($tiny) {
      padding-left: 5%;
      padding-right: 5%;
  }
}

// Extends
//********************************************************
%heading-text-style {
  color: #fff;
    background-color: #03253e; /* For browsers that don't support opacity */
    background-color: rgba(0,0,0,.4);
}
%section-padding {
  padding-bottom: 40px;
  @include media($tiniest) {
      padding-top: 25px;
      padding-bottom: 25px;
  }
}

// Utility and site-wide classes
//********************************************************
.container {
  @include outer-container;
}

.container-spaced {
  padding-bottom: 40px;
  padding-top: 40px;
}

.lead {
  font-size: 1.4em;
  line-height: 1.6em;
  padding-top: 1em;
  @include media($small) {
    font-size: 1.2em;
  }
}
// skip links
.skips {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  &:focus {
    border: 1px $blue;
    left: 0;
    height: auto;
    width: auto;
    background: white;
  }
}

// Splash
//********************************************************
.usa {
  @include span-columns(12);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
    height: 20px;
    font-size: 0.75em;
    color: $light-gray;
    padding-top: 1.5px;
    p {
      font-family: $base-font-family;
  }
  img {
    height: 8px;
  }
  @include media($tinier) {
      font-size: 0.6em;
      height: 16px;
      padding-top: 0.5px;
    img {
      height: 6px;
    }
  }
}

.back {
  margin-bottom:1.5em;
  display: inline-block;
  position: relative;
  a,
  i {
    text-decoration: none;
    color: $dark-gray !important;
    &:hover,
    &:focus {
      text-decoration: underline;
      color: $red;
    }
    font-size: 0.8em !important;
  }
}

.logo {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 20;
    @include media($big) {
      height: 100px;
    width: 100px;
    top: 40px;
    left: 20px;
    }
    @include media($small) {
      height: 75px;
    width: 75px;
    }
    @include media($tiny) {
    top: 73px;
    }
    @include media($tinier) {
    top: 16px;
    left: 0px;
    }
}

.splash {
  @include span-columns(12);
  .wallpaper {
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 370px;
    width: 860px;
    text-align: left;
    font-size: 3.6em;
    padding: 30px 50px;
    z-index: 10;
      @include media($bigger) {
      top: 295px;
      }
      @include media($big) {
      top: 208px;
        width: 100%;
        font-size: 3.2em;
        padding: 30px 20px;
      }
      @include media($small) {
      top: 145px;
        font-size: 3em;
        padding: 20px 20px;
      }
      @include media($tiny) {
      top: 60px;
        width: 450px;
        font-size: 2em;
        padding: 20px 20px 20px 110px;
      }
      @include media ($tinier) {
        top: 121px;
        width: 100%;
        padding: 13px 0px 13px 10px;
        font-size: 1.4em;
      }
      @extend %heading-text-style;
  }
  .caption {
    position: absolute;
    top: 370px;
    z-index: 20;
    color: #fff;
    font-size: 1em;
    @include media($bigger) {
      top: 295px;
    }
    @include media($big) {
      top: 220px;
    margin-top: 160px;
      font-size: 0.9em;
    }
    @include media($small) {
      top: 217px;
    margin-top: 124px;
      font-size: 0.8em;
    }
    @include media($tiny) {
      top: 83px;
    margin-top: 122px;
      font-size: 0.6em;
    }
    @include media($tinier) {
      margin-top: 145px;
      margin-right: 98px;
    }
    @include media($tiniest) {
      display: none;
    }
    background-color: rgba(0,0,0,.4);
    margin-top: 186px;
      i {
        vertical-align: middle;
        padding: 17px 20px 15px 50px;
        @include media($big) {
          padding-left: 20px;
        }
        @include media($tinier) {
          padding-left: 5px;
        }
      }
      .icon-camera {
        font-size: 30px;
        margin-right: 10px;
        @include media($big) {
          font-size: 20px;
        }
        @include media($tiny) {
          font-size: 12px;
          margin-right: 0px;
          padding-right: 5px;
        }
        @include media($tinier) {
          font-size: 9px;
        }
      }
      a {
        padding: 17px 20px 20px 0;
        color: #fff;
        text-decoration: none;
        &:hover,
        &:focus {
        color: $red;
          text-decoration: none;
      }
    }
  }
}


// Mantra
//********************************************************
.mantra {
  @include span-columns(12);
  @extend %section-padding; //standard top and bottom padding for all sections
  background-image: url(/assets/images/lightbulb.png);
  background-size: 10%;
  background-position: 90% 50%;
  @include media($big) {
    background-position: 87% 50%;
  }
  background-repeat: no-repeat;
  @include media($tiny) {
    background: none;
  }
  h1 {
    margin: 0;
    > strong {
      color: $red;
    }
    @include media($tiniest) {
      font-size: 01.8em;
    }
  }
  p {
    font-size: 0.9em;
    line-height: 1.8;
      padding-top: 20px;
      margin: 0;
      width: 70%;
      @include media($tiny) {
        width: 100%;
      }
  }
}

// Section Titles
//********************************************************
.header {
    height: 100px;
    background-color: $red;
    position: relative;
    font-size: 1.2em;
    @extend %heading-text-style;
    @include media($small) {
      height: 80px;
      .container-fluid {
        padding: 20px 50px;
      }
    }
    @include media($tiniest) {
      height: 60px;
      h1 {
        font-size: 1.6em;
      }
    }
}
.container-fluid {
    position: absolute;
    top: 0px;
    height: 100px;
    padding: 30px 50px;
    @include media($small) {
      height: 80px;
    }
    @include media($tiniest) {
      height: 60px;
      padding: 20px 20px;
    }
    background-color: #03253e; /* For browsers that don't support opacity */
    background-color: rgba(0,0,0,.4);
    z-index: 20;
}



// PIF
//********************************************************
.pif-logo {
  img {
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 20;
      @include media($big) {
        height: 100px;
      width: 100px;
      top: 40px;
      left: 20px;
      }
    }
    @include media($small) {
      height: 75px;
    width: 75px;
    }
    @include media($tiny) {
    top: 73px;
    }
    @include media($tinier) {
    top: 66px;
    left: 0px;
    }
}
.pif-nav-bar {
  li {
    padding-left: 20px;
    &:first-of-type{
      padding-top: 20px;
    }
    &:last-of-type {
      padding-top: 20px;
    }
    a {
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.pif-nav-horizontal {
  li {
    display: inline;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.pif-title {
  font-weight: normal;
  padding-bottom: 20px;
}


.pif-content {
  @include span-columns(9);
  @include omega();
  @include media($small) {
    @include span-columns(10);
  }
  @include media($tiny) {
    @include span-columns(12);
  }
}

.bare_pif .pif-content {
  p {
    margin-bottom: 1.1em;
    margin-top: 1.1em;
  }
  img {
    float: left;
    padding-right: 1em;
    width: 74px;
  }
  h3 {
    margin-top: .5em;
  }
}

.pif_bio {
  p {
    margin-left: 5em;
  }
  h3 {
    margin-left: 3.5em;
  }
}



// Profiles
.profile > .content {
  margin-top: 80px;
  margin-left: 165px;
  margin-right: 0 !important;
  padding: 0 2.35765% 0;
  display: block;
  float: left;
  @include span-columns(6);
  @include media($medium) {
    @include span-columns(10);
    float: none;
    margin: 7px auto 0 !important;
  }
  p {
    @include media($medium) {
      margin-left: auto;
      margin-right: auto;
      float: none;
      &:last-child {
        margin-right: auto;
      }
    }
  }
  h3 {
    font-size: $base-font-size * 1.125;
    font-weight: 600;
  }
}
.profile > aside {
  margin-top: 80px;
  display: block;
  float: right;
  @include span-columns(4);
  h2 {
    font-size: $base-font-size * 1.25;
    padding-top: 0.2em;
    padding-bottom: 10px;
  }
  h3 {
    font-size: $base-font-size * 1.125;
    padding-top: 0;
  }
  ul {
    padding-bottom: 20px;
  }
  @include media($big) {
    @include span-columns(3);
    h2 {
      font-size: 18px;
      font-weight: 300;
    }
  }
  @include media($medium) {
    @include span-columns(10);
    float: none;
    margin: 25px auto 0;
    padding: 0px 2.35765%;
    &:last-child {
      margin-right: auto;
    }
  }
}
// Headline
.headline {
  background-color: #18f;
  color: white;
  clear: both;
  position: relative;
  overflow: visible;
  padding: 1em 0em 1em 11.7em;
  @include media($medium) {
    min-height: 6em !important;
    max-height: auto !important;
    height: auto;
    margin-top: 15px;
    padding-left: 0;
  }
  img {
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    top: -60px;
    right: 2em;
    @include media($medium) {
      border-radius: 100%;
      display: block;
      margin: 1em auto;
      top: auto;
      right: auto;
      position: relative;
      padding: 1em 0;
    }
  }
  h1,
  h2 {
    display: block;
    position: relative;
    clear: both;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-width: 500px;
    max-width: 570px;
    @include media($medium) {
      float: left;
      display: block;
      position: relative;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
      max-width: 100% !important;
      min-width: 100% !important;
      text-align: center;
    }
  }
  h1 {
    // font-size: 32px;
    @include media($big) {
      font-size: 24px !important;
    }
  }
  h2 {
    font-size: $base-font-size * 1.55 !important;
    font-weight: 300 !important;
  }
}









/* vim:noet ts=4 sw=4 */
