@charset "UTF-8";

@font-face {
  font-family: "18f";
  src:url("../fonts/18f-font.eot");
  src:url("../fonts/18f-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/18f-font.woff") format("woff"),
    url("../fonts/18f-font.ttf") format("truetype"),
    url("../fonts/18f-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}
@font-face {
    font-family: 'Nimbus';
    src: url('../fonts/nimbus-sans-l_bold-webfont.eot');
    src: url('../fonts/nimbus-sans-l_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nimbus-sans-l_bold-webfont.woff2') format('woff2'),
         url('../fonts/nimbus-sans-l_bold-webfont.woff') format('woff'),
         url('../fonts/nimbus-sans-l_bold-webfont.ttf') format('truetype'),
         url('../fonts/nimbus-sans-l_bold-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus';
    src: url('../fonts/nimbus-sans-l_italic-webfont.eot');
    src: url('../fonts/nimbus-sans-l_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nimbus-sans-l_italic-webfont.woff2') format('woff2'),
         url('../fonts/nimbus-sans-l_italic-webfont.woff') format('woff'),
         url('../fonts/nimbus-sans-l_italic-webfont.ttf') format('truetype'),
         url('../fonts/nimbus-sans-l_italic-webfont.svg#nimbus_sans_lreguital') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nimbus';
    src: url('../fonts/nimbus-sans-l_regular-webfont.eot');
    src: url('../fonts/nimbus-sans-l_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nimbus-sans-l_regular-webfont.woff2') format('woff2'),
         url('../fonts/nimbus-sans-l_regular-webfont.woff') format('woff'),
         url('../fonts/nimbus-sans-l_regular-webfont.ttf') format('truetype'),
         url('../fonts/nimbus-sans-l_regular-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


[data-icon]:before {
  font-family: "18f" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "18f" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb:before {
  content: "a";
}
.icon-github1:before {
  content: "b";
}
.icon-github2:before {
  content: "c";
}
.icon-github3:before {
  content: "d";
}
.icon-18f-logo:before {
  content: "e";
}
.icon-camera:before {
  content: "f";
}
.icon-twitter:before {
  content: "g";
}
.icon-rss:before {
  content: ".";
  background-image: url(/assets/images/rss.png);
  background-size: 18px;
}
.icon-spinner:before {
  content: "l";
}
.icon-email:before {
  content: "h";
}
.icon-lastfm:before {
  content: "i";
}
.icon-linkedin:before {
  content: "j";
}
.icon-anchor:before {
  content: "k";
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nimbus', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

a {
  color:#06d;
  text-decoration: underline;
}
a:hover {color:#c21;}

/* SPINNER */
.icon-spin {
  display: inline-block;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
