//********************************************************
// 18F.gsa.gov CUSTOM SASS
//********************************************************


// Print override styles
//********************************************************
body, p {
  font-size: 12pt;
}

a {
  font-weight: 700;
}

h1 {
  font-size: 20pt;
}

.blog-posting, .blog-related {
  p a {
    &:link:after, &:visited:after, {
      content: " (" attr(href) ")";
      font-weight: normal;
      word-break: break-all;
    }
    &[href^="/"]:after {
      content: " (https://18f.gsa.gov" attr(href) ") ";
    }
  }
}

.blog-posting .blog-tags {
  a:link:after, a:visited:after {
    content: '';
  }
}

.usa p {
  font-size: 10pt;
}

.global-nav {
  float: none;
  ul {
    margin-right: 2em;
    li a {
      padding: 0.8em;
    }
  }
}

.bare-logo {
  padding-top: 0;
}

.blog-posting h1 {
  margin-top: 0;
}

.bare h2 {
  font-size: 18pt;
  padding-top: 20px;
}

.blog-pagination, .newsletter {
  display: none;
}

.footer {
  background-color: #fff;
  border-top-width: 2px;
  padding-top: 5px;
  h1 {
    color: #06d;
  }
  a {
    color: #06d;
    font-size: 10pt;
    &[title="Edit this page"] {
      &:link:after, &:visited:after {
        content: '';
      }
    }
  }
  .container {
    background-color: #fff;
    padding-top: 2em;
  }
  .usa-footer-primary-section .usa-grid-full {
    padding: 0 .5em;
  }
}

.footer-content:first-child {
  a:link:after,
  a:visited:after{
    content: '';
  }
}

// two columns for the footer links
.usa-grid-full .usa-width-one-sixth {
  clear: right;
  float: left;
  display: block;
  margin-right: 5%;
  width: 45%;
  &:first-child {
    margin-bottom: 0;
  }
}





/* vim:noet ts=4 sw=4 */
