<nav class="usa-accordion footer-mobile">
  <ul class="usa-sidenav-list">
    <li>
      <button aria-expanded="false" aria-controls="amendment-1">
        Site menu
      </button>
      <ul id="amendment-1" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="{{ site.baseurl }}/what-we-deliver/">What we deliver</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/hire/">Hire 18F</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/join/">Join 18F</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
      </ul>
    </li>
    <li>
      <button aria-controls="amendment-2">
        Policies and Standards
      </button>
      <ul id="amendment-2" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="{{ site.baseurl }}/developer">/developer</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/linking-policy/">Linking policy</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/open-source-policy/">Open source policy</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/code-of-conduct/">Code of conduct</a>
        </li>
      </ul>
    </li>
    <li>
      <button aria-controls="amendment-3">
        Contact us
      </button>
      <ul id="amendment-3" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="{{ site.baseurl }}/press/">Press</a>
        </li>
        <li>
          <a href="https://twitter.com/18F">@18F</a>
        </li>
        <li>
          <a href="mailto:18F@gsa.gov">18F@gsa.gov</a>
        </li>
        <li>
          <a href="https://github.com/18F/18f.gsa.gov/edit/master/{{ page.path }}">Edit on GitHub</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
