/_site
.DS_Store
/todo.txt
*.log
node_modules/
/.sass-cache/
.rvmrc
_data/private
.*.sw?
*.pyc
.jekyll-metadata
.floo*
manifest-*.yml
_team/greg.md
_team/joe.md
_team/majma.md
_team/michelle.md
_team/papazian.md
_team/robert.md
_team/sean.md
_team/ori.md
_team/stephplageman.md
_team/jackie.md
_team/alison.md
_team/mbland.md
/bin
/coverage
tmp
