language: ruby
rvm:
  - 2.3.1

sudo: false
cache: bundler
git:
  submodules: false

script: ./go ci_build

notifications:
  email:
    recipients:
      - eric.mill@gsa.gov
      - hillary.hartley@gsa.gov
      - gregory.boone@gsa.gov
    on_success: change
    on_failure: change

branches:
  only:
    - staging
    - production
