# Site settings
title: "18F: Digital service delivery"
description: "18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves."
baseurl: "" # the subpath of your site, e.g. /blog
permalink: pretty
url: "https://18f.gsa.gov" # the base hostname & protocol for your sites
federalist_url: "https://federalist.18f.gov"
localhost: "localhost:4000"
env: "production"
logo: /assets/img/logos/18F-Logo-Bright-S.png
tag_dir: tags
github_repo: https://github.com/18F/18f.gsa.gov/blob/master

related_posts: 3


analytics:
  google:
    code: 'UA-48605964-1' # Change this to your GSA analytics code
  dap:
    agency: GSA    # Change this to your agency
    subagency: 18F # Change this to your agency

# blog archive at /blog
paginate: 5
paginate_path: "blog/page/:num"

jekyll-archives:
  enabled:
    - 'tags'
  layout: tag-results
  permalinks:
    tag: '/tags/:name/'

collections:
  about:
    output: true
    permalink: /:path/
  principles:
    output: true
    permalink: /partnership-principles/:path/
  join:
    output: true
    permalink: /join/:path/
  authors:
    output: true
    permalink: /author/:name/
  press:
    output: true
    permalink: /press/:name/
  products_projects:
    output: true
    permalink: /what-we-deliver/:path/
  services_projects:
    output: true
    permalink: /what-we-deliver/:path/
  contact:
    output: false
    permalink: /contact/:path/
  code_of_conduct:
    output: true
    permalink: /code-of-conduct/:path/
  styleguide:
    output: true
    permalink: /styleguide/:path/

defaults:
 -
  scope:
    type: "posts" # an empty string here means all files in the project
  values:
    layout: post
 -
  scope:
    path: "pages"
  values:
    layout: primary
 -
  scope:
    path: "_authors"
  values:
    layout: default-profile
 -
  scope:
    path: "_contact"
  values:
    layout: primary
    # include_subnav: true
    subnav_anchor: /contact/
 -
  scope:
    path: "_about"
  values:
    layout: primary
    include_subnav: true
    subnav_anchor: /about/
 -
  scope:
    path: "_code_of_conduct"
  values:
    layout: primary
    include_subnav: true
    subnav_anchor: /code-of-conduct/
 -
  scope:
    path: "_principles"
  values:
    layout: primary
    include_subnav: true
    subnav_anchor: /partnership-principles/
 -
  scope:
    path: "_join"
  values:
    layout: primary
    include_subnav: true
    subnav_anchor: /join/
    parent_title: Join 18F
    parent_permalink: /join/
 -
  scope:
    path: "_products_projects"
  values:
    layout: project-page
 -
  scope:
    path: "_services_projects"
  values:
    layout: project-page

 -
  scope:
    path: "_styleguide"
  values:
    layout: styleguide
    include_subnav: true

frontmatter_tests:
  path: "tests/schema"

footer:
  image: /assets/img/logos/18F-Logo-M.png
  email:
  twitter:
    - 18f
    - usgsa
  text: This site was built using <a href="https://federalist.18f.gov/" target="_blank">Federalist, from 18F</a>. # Change to a tag line for your agency

# Build settings
markdown: kramdown
highlighter: rouge

exclude:
- .about.yml
- .cfignore
- .codeclimate.yml
- .gitignore
- .gitmodules
- .hound.yml
- 404.html
- api-endpoints
- bin
- build
- circle.yml
- config_blog.rb
- CONTRIBUTING.md
- docker-compose.yml
- docker_entrypoint.rb
- Dockerfile
- examples/
- favicon.ico
- Gemfile*
- ISSUE_TEMPLATE.md
- killport
- LICENSE.md
- node_modules
- package.json
- pages/our-work.html
- PULL_REQUEST_TEMPLATE.md
- README.md
- spec/
- system-security-plan.yml
- tests/
- tests/schema/tags.yml
- tmp/
- vendor

# jekyll plugins
plugins:
  - jekyll-sitemap
  - jekyll-archives
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate

# Configuration for jekyll_pages_api_search plugin gem.
jekyll_pages_api_search:
  # Uncomment this to speed up site generation while developing.
  #skip_index: true

  # Each member of `index_fields` should correspond to a field generated by
  # the jekyll_pages_api. It can hold an optional `boost` member as a signal
  # to Lunr.js to weight the field more highly (default is 1).
  index_fields:
    title:
      boost: 10
    tags:
      boost: 10
    url:
      boost: 5
    body:
