---
permalink: /pif/fellows/
layout: bare_pif
title: Meet the Fellows
---
<h2>{{page.title}}</h2>
	<p>
		<a href= "/pif/fellows/round-1/">Round 1</a> |
		<a href= "/pif/fellows/round-2/">Round 2</a>
		|
		<a href= "/pif/fellows/">Round 3</a>
	</p>
{% assign people = site.data.team | where: "pif-round", 3 | group_by: "project" %}
{% for projects in people %}
  <h2>{{ projects.name }}</h2>
  {% for person in projects.items %}
    <h3>{{ person.full_name }}</h3>
    <p>{{ person.bio }}</p>
  {% endfor %}
{% endfor %}
