---
layout: default
---
{% include "feature-image.html" %}

<article id="main-content" class="post-article margin-top-6" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-12">
        <header>
          <h1 itemprop="name headline">{{ title }}</h1>
          <p class="margin-top-1">
            Published on <time datetime="{{ page.date }}" itemprop="datePublished">{{ dateString }}</time>
          </p>
          {% include "post-tags.html", post: page %}
        </header>
      </div>
    </div>
    <hr class="hr-1-dark">
    <div class="grid-row grid-gap margin-top-8">
      <div class="tablet:grid-col-7">
        <div class="post-content" itemprop="articleBody">

          {% include "feature-image-small.html" %}

          {{ content }}

        </div>
      </div>
      <aside class="tablet:grid-offset-1 tablet:grid-col-4">
        {% include "social-media.html" %}
      </aside>
    </div>
  </div>
</article>

{% include "adjacent_page_links.html" %}

<section class="margin-top-3 margin-bottom-6">
  <div class="grid-container">
    {% assign related_posts = page | related %}
    {% include "featured-posts.html",
       type: "related",
       posts: related_posts,
       show_excerpt: true %}
    </div>
  </div>
</section>
