@import 'color-box';
@import 'typography';
@import 'nav';


.styleguide-details {
  margin-bottom: $site-margins;
  margin-top: $site-margins;
}

.styleguide-border {
  border: 1px solid $color-gray-lightest;
}
