@import 'color-box';
@import 'typography';


.menu-btn-styleguide {
  align-items: flex-start;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  // left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;

  svg {
    height: $icon-diameter;
    // margin-top: 2.7rem;
    margin-top: 4rem;
    padding: 5px;
    width: $icon-diameter;


    path {
      fill: $color-white;
    }
  }
}

.styleguide-details {
  margin-bottom: $site-margins;
  margin-top: $site-margins;
}

.styleguide-border {
  border: 1px solid $color-gray-lightest;
}
