//color
.color-box-group {
  margin-bottom: 2rem;
}

.color-box {
  width: 70%;
  height: 6rem;
}

.cb-black {
  background: $theme-color-base;
}

.cb-dark {
  background: $theme-color-primary-dark;
}

.cb-medium {
  background: $theme-color-secondary-dark;
}

.cb-medium-hover {
  background: $theme-color-secondary-darker;
}

.cb-bright {
  background: $theme-color-secondary;
}

.cb-light {
  background: $theme-color-secondary-light;
}

.cb-gray {
  background: color('base-dark');
}

.cb-gray-lightest {
  background: color('gray-cool-5');
}

//backgrounds
.styleguide-bg-box {
  border: 1px solid color('gray-cool-5');
  height: 25rem;
  margin-bottom: $theme-site-margins-width;
  padding: $theme-site-margins-width;
  width: 70%;
}

// Box
.box-rem-wrapper {
  align-items: center;
  border: 1px solid color('gray-cool-5');
  display: inline-block;
}

.box-rem {
  background: $theme-color-base;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.box-base-wrapper {
  margin-bottom: $theme-site-margins-width;
}
