$sg-header-height: 10rem;
$margins-width: $sliding-panel-width + (2 * $site-margins);

.styleguide-main-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.styleguide-details {
  margin-bottom: $site-margins;
  margin-top: $site-margins;
}

.styleguide-border {
  border: 1px solid $color-gray-lightest;
}

.styleguide-content-wrapper {
  display: flex;

  .styleguide-subnav {
    position: fixed;
    top: $sg-header-height;
  }
}

.styleguide-header-wrapper {
  align-items: center;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  height: $sg-header-height;
  padding: $site-margins;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 100%;
  }

  > * {
    display: inline-block;
    margin: 0;
  }

  h1 {
    font-size: $h4-font-size;
    margin: 0;
    width: 100%;
  }
}


.styleguide-content {
  display: inline-block;
  margin-bottom: $sg-header-height;
  margin-left: 0;
  margin-right: 0;
  margin-top: $sg-header-height;
  max-width: $site-max-width;
  padding-left: $site-margins;
  padding-right: $site-margins;
  width: 100%;

  h2 + h3 {
    margin-top: 0;
    padding-top: $site-margins;
  }

  > h3:target,
  hr + h3 {
    margin-top: 0;
    padding-top: $sg-header-height + $site-margins;
  }

  hr {
    margin-top: $sg-header-height + $site-margins;
  }

  @include media($medium-screen + $nav-width-extra) {
    margin-left: $site-margins + $sliding-panel-width;
    margin-right: $site-margins;
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - #{$margins-width});
  }
}

.styleguide-logo {
  height: $sg-header-height - (2 * $site-margins);
  margin-right: $paragraph-margins;
  width: auto;
}
