$sg-header-height: 10rem;
$margins-width: $sliding-panel-width + (2 * $theme-site-margins-width);

.styleguide-main-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.styleguide-details {
  margin-bottom: $theme-site-margins-width;
  margin-top: $theme-site-margins-width;
}

.styleguide-border {
  border: 1px solid color('gray-cool-5');
}

.styleguide-content-wrapper {
  display: flex;

  .styleguide-subnav {
    position: fixed;
    top: $sg-header-height;
  }
}

.styleguide-header-wrapper {
  align-items: center;
  border-bottom: 1px solid color('gray-cool-30');
  display: flex;
  height: $sg-header-height;
  padding: $theme-site-margins-width;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 100%;
  }

  > * {
    display: inline-block;
    margin: 0;
  }

  h1 {
    font-size: $h4-font-size;
    margin: 0;
    width: 100%;
  }
}


.styleguide-content {
  display: inline-block;
  margin-bottom: $sg-header-height;
  margin-left: 0;
  margin-right: 0;
  margin-top: $sg-header-height;
  max-width: $theme-site-max-width;
  padding-left: $theme-site-margins-width;
  padding-right: $theme-site-margins-width;
  width: 100%;

  h2 + h3 {
    margin-top: 0;
    padding-top: $theme-site-margins-width;
  }

  > h3:target,
  hr + h3 {
    margin-top: 0;
    padding-top: $sg-header-height + $theme-site-margins-width;
  }

  hr {
    margin-top: $sg-header-height + $theme-site-margins-width;
  }

  @include at-media('tablet-lg') {
    margin-left: $theme-site-margins-width + $sliding-panel-width;
    margin-right: $theme-site-margins-width;
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - #{$margins-width});
  }
}

.styleguide-logo {
  height: $sg-header-height - (2 * $theme-site-margins-width);
  margin-right: $paragraph-margins;
  width: auto;
}
