.nav-mobile-styleguide {

  border-right: 1px solid color('gray-cool-30');
  overflow: auto;
  padding-bottom: $sg-header-height + $theme-site-margins-width;
  position: fixed;
  top: $sg-header-height;

  .usa-sidenav-list {
    margin-top: $theme-site-margins-width;
  }

  @include at-media('tablet-lg') {
    transform: translateX(0);
    display: inline-block;
    left: 0;

    .usa-sidenav-list {
      margin-top: 0;
    }
  }
}

.menu-btn-styleguide-wrapper {
  width: 50%;
}

.menu-btn-styleguide {
  @include at-media('tablet-lg') {
    display: none;
  }

  float: right;
  margin: 0;
}

// .styleguide-subnav {
//   a:target {
//     padding-top: 10rem;
//     background: yellow;
//   }
// }
