.nav-mobile-styleguide {
  @extend .nav-mobile;
  border-right: 1px solid $color-gray-light;
  position: fixed;
  top: 10rem;
  width: 26rem;

  .usa-sidenav-list {
    margin-top: $site-margins;
  }

  @include media($medium-screen + $nav-width-extra) {
    display: inline-block;

    left: 0;
    @include transform(translateX(0));

    .usa-sidenav-list {
      margin-top: 0;
    }
  }
}

.menu-btn-styleguide-wrapper {
  width: 100%;
}

.menu-btn-styleguide {
  @include media($medium-screen + $nav-width-extra) {
    display: none;
  }

  float: right;
  font-size: $base-font-size;
  margin: 0;
}

.sliding-panel-close-styleguide {
  @extend .sliding-panel-close;

  @include media($medium-screen + $nav-width-extra) {
    display: none;
  }
}
