//typography
.top-typography {
  margin-bottom: $section-margins;
}

.intro-font {
  color: color('gray-cool-60');
  font-size: $h4-font-size;
}

//links
.styleguide-links-section {
  margin-bottom: $section-margins;

  a {
    margin-right: $paragraph-margins;
  }
}

.visited {
  color: $theme-link-visited-color;
}

//Font Family
.text-huge {
  font-size: 80px;
}
