//typography
.intro-font{
	color: $color-gray;
	font-size: 20px;
}

//links
.styleguide-links{
	margin: $paragraph-margins;
}

.visited {
	color: #4c2c92;
}

//Font Family
.text-huge {
	font-size: 120px;
}

.text-tiny {
	font-size: 15px;
}

