@use 'uswds-core' as *;
@use '../abstracts/variables.scss' as *;

.card-with-image-guides {

  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: white;
  border-radius: radius-lg;
  flex-grow: 0;
  min-height: 260px;

  h2 {
    font-size: 1.58rem;
    line-height: 1.3;
    letter-spacing: .0125em;
  }
}

.card-content{
  flex-grow: 1;
}

.card-with-image-guides p{
  text-wrap: pretty;
  flex-grow: 1;
}

.card-with-image-guides a{
  text-wrap: pretty;
}