.bare {
  @extend %section-padding;
  h1 {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 20px;
    @include media($small) {
      font-size: 1.65em;
      padding-top: 10px;
    }
  }
  h3 {
    font-family: $base-font-family;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    @include media($small) {
      font-size: 1.2em;
    }
  }
  h4 {
    font-family: $base-font-family;
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 4px;
    @include media($small) {
      font-size: 1em;
    }
  }
  p {
    margin-bottom: 1.1em;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-left: 2em;
  }
  ul,
  ol {
    li {
      margin: 5px 0;
    }
  }
}

.bare-logo,
.team-logo {
  @include span-columns(2);
  padding-top: 40px;
  line-height: 1;
  a {
    text-decoration: none;
    i {
      font-size: 6em;
      color: $blue;
    }
    img {
      margin: 0;
      max-width: 6em;
    }
    @include media($small) {
      i {
        font-size: 5em;
      }
    }
    @include media($tiny) {
      @include span-columns(12);
    }
  }
  @include media($tiny) {
    @include span-columns(12);
  }
}

.bare-content {
  margin-top: 30px;
  @include span-columns(9);
  @include omega();
  @include media($small) {
    @include span-columns(10);
  }
  @include media($tiny) {
    @include span-columns(12);
  }
}

.bare_pif .bare-content {
  p {
    margin: 0 0 0 13em;
  }
  img {
    float: left;
    padding-right: 1em;
  }
}
