.pquote {
    float: left;
    font-weight: bold;
    margin: 0 1.3em 1.3em 0;
    padding: 1.3em;
    width: 40%;

    blockquote {
    	border-left: none;
	    display: inline-block;
	    margin: 0;
	    padding-top: 1.3em;
	}

   @include media(max-width 500px) {
     float:none;
     width: 100%;
   }
}
.pquote-img{
	float: left;
	margin-right: 1.5em;
	max-width: 90%;
}

