// Contact
//********************************************************
// Newsletter
//********************************************************

.newsletter-form {
	@include span-columns(4);
	@extend %section-padding;
	@include media($bigger) {
		@include span-columns(5);
	}
	@include media($small) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($tinier) {
		@include span-columns(12);
		@include shift(0);
	}
}
.newsletter-words {
	@include span-columns(7);
	@include shift(1);
	@extend %section-padding;
	p {
		font-size: 1.4em;
		&:last-of-type {
			font-size: $small-text;
		}
	}
	@include media($bigger) {
		@include span-columns(6);
		@include shift(0);
	}
	@include media($big) {
		p {
			font-size: 1.3em;
			&:last-of-type {
				font-size: ($small-text) * 0.9;
				line-height: 1.2em;
			}
		}
	}
	@include media($small) {
		@include span-columns(8);
		@include shift(2);
		padding-top: 0;
	}
	@include media($tiny) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($tinier) {
		@include span-columns(12);
		@include shift(0);
	}
	@include media($tiniest) {
		p {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 7px;
			&:last-of-type {
				font-size: ($small-text) * 0.8;
				line-height: 1.1em;
			}
		}
	}
}
.button {
	@include button($green);
	width: 100%;
}
