// Dashboard
//********************************************************
%dashboard-table-layout {
	> div:nth-of-type(1) {
		@include span-columns(3);
	}
	> div:nth-of-type(2) {
		@include span-columns(3);
	}
	> div:nth-of-type(3) {
		@include span-columns(6);
	}
}

.dashboard-projects-headings {
	@extend %dashboard-table-layout;
	h1 {
		font-size: 1.2em;
		color: $medium-gray;
	}
}
.dashboard-projects-content {
	@extend %dashboard-table-layout;
	padding-top: 10px;
	border-top: 1px solid $light-gray;
	clear:both;
	h1 {
		font-size: 1.2em;
	}
	i {
		color: $medium-blue;
	}
	p {
		line-height: 1.2em;
		margin-bottom: 8px;
	}
	p + p {
		font-size: 0.9em;
		margin-bottom: 20px;
	}
}
.status {
	background-color: lighten($blue, 10%);
	border: $medium-blue;
	padding: 5px;
	color: white;
	margin-top: 10px;
	font-size: .8em;
	display: inline-block;
}
