// Footer
//********************************************************

.footer {
	border-top: 5px solid $blue;
	background-color: $darkest-blue;
	height: auto;
	color: #fff;
	padding-top: 55px;
	@include media($small) {
		padding-top: 40px;
	}
	padding-bottom: 20px;
	h1 {
		font-size: 1.2em;
		padding-bottom: 0.3em;
		@include media($small) {
			font-size: 1em;
			padding-bottom: 0.1em;
		}
		@include media($tiniest) {
			font-size: 1em;
			padding-bottom: 0.2em;
		}
	}
	.container > div {
		padding-top: 10px;
		padding-bottom: 10px;
		@include span-columns(2);
		&:nth-of-type(3) {
			@include span-columns(4);
		}
		@include media($tiny) {
			@include span-columns(10);
			@include shift(2);
			&:nth-of-type(3) {
				@include span-columns(10);
			}
		}
		@include media($tiniest) {
			@include span-columns(10);
			@include shift(1);
			&:nth-of-type(3) {
				@include span-columns(10);
			}
		}
	}
	img {
		max-width: 100%;
  		max-height: 100px;
	}
	a {
		color:#fff;
		font-size: 0.9em;
  		text-decoration: none;
  		&:hover, &:focus {
  			text-decoration: underline;
  		}
		@include media($small) {
			font-size: 0.8em;
		}
		@include media($tiniest) {
			text-decoration: underline;
			font-size: 0.75em;
		}
	}
	.tagline {
		float: right;
		@include media($tiny) {
			float: none;
		}
	}
}