// 404
//********************************************************
.fours {
	background-color: $blue;
	color: white;
	padding-top: 130px;
	padding-bottom: 130px;
	margin-bottom: 30px;
}
.fours-content {
	@include span-columns(6);
	@include shift(3);
	text-align: center;
	h1 {
		font-family: $base-font-family;
		font-weight: 500;
		font-size: 9em;
	}
	h2 {
		font-size: 1.4em;
		padding-top: 10px;
		line-height: 1.3em;
	}
	p {
		margin: 0;
		font-size: 0.9em;
	}
	p+p {
		margin-bottom: 100px;
	}
	@include media($tiny) {
	@include span-columns(12);
	@include shift(0);
	}
}
