// Global nav
//********************************************************
.global-nav-absolute {
	position: absolute;
	top: 20px;
	right: 0;
}
.global-nav {
	float: right;
	clear: none;
	display: block;
	width: auto;
	z-index: 999;
	background-color: white;
	font-size: .9em;
	.toggle {
		display: none;
	}
	hr {
		display: none;
	}
	ul {
		display: inline-block;
		margin: 0;
		li {
			display: inline-block;
			margin: 0;
			a {
				color: $dark-gray;
				display: block;
				text-decoration: none;
				padding: 1em 2em;
				&:hover, &:focus {
					background-color: $medium-blue;
					color: white;
				}
			}
		}
	}
	@include media($small) {
		position: absolute;
		right: 0;
		top: 20px;
		border: 1px solid $dark-gray;
		a {
			display: block;
			margin: 0em auto;
			padding: 1em;
		}
		ul {
			border-top: 1px solid $medium-gray;
			display: block;
			li {
				display: block;
			}
			a {
				&:hover, &:focus {

				}
			}
		}

		.toggle {
			display: block !important;
			color: #767676;
		  text-decoration: none;
		  padding: 1em 2em;
		}
		.hidden {
			display: none !important;
		}
		.sep {
			display: none;
		}
	}
}
