// Team landing page
//********************************************************

#team {
	@include outer-container;
	.intro, .team {
		@include span-columns(9 of 12);
		margin-left: 15%;
		margin-top: -65px;
		h1 {
			margin-bottom: 10px;
		}
		@include media($small) {
			@include span-columns(12 of 12);
			margin-left: 0;
			padding-top: 64px;
		}
		@include media($tiny) {
			@include span-columns(12 of 12);
			margin-left: 0;
			padding-top: 64px;
		}
	}
	.team {
	  margin-top: 0;
	}
	.bio {
		@include span-columns(2 of 12);
		margin: 1.5em 1em 3em 1.5%;
		float: left;
		clear: none;
		max-height: 2.4em;
		line-height: 1.2em;
		margin-bottom: 7em;
		@include media($big) {
			@include span-columns(2 of 12);
			@include omega();
			padding-left: 1%;
			margin-top: 1em;
			margin-bottom: 6em
		}
		@include media($small) {
			@include span-columns(2 of 12);
			@include omega();
		}
		@include media($tiny) {
			@include span-columns(3 of 12);
			@include omega();
			padding-left: 1.5%;
			margin-top: 3em;
		}
		@include media($tiniest) {
			@include span-columns(4 of 12);
			@include omega();
		}
		strong {
			float: left;
			clear: both;
		}
		a {
			text-decoration: none;
			img {
				width: 100%;
				height: auto;
		    -moz-border-radius: 100%;
			  -webkit-border-radius: 100%;
			  border-radius: 100%;
		  }
		  h1 {
		  	font-size: 0.9em;
		  	text-align: center;
		  }
			&.disabled {
				cursor: default;
			}
			&.disabled:hover, &.disabled:focus {
				color: #0075E1;
			}
		}
	}
	.bio:nth-child(10n+6) {
		margin-left: 65px;
		@include media($big) {
			margin-left: 1.5%;
		}
	}
	.bio:first-child, .bio:nth-child(10n+11) {
		margin-left: 0;
		@include media($big) {
			margin-left: 1.5%;
		}
	}
	.bio:last-child {
		margin-bottom: 9em;
	}
	.sortable {
		min-height: 60px;
		li {
			display: inline;
			border: 1px solid $light-gray;
			padding: 0.2em 0.5em;
			a:hover, a:focus {
				color: $red
			}
			a {
				color: $dark-gray;
				text-decoration: none;
			}
		}
	}
}