<nav class="footer-desktop">
  <div class="footer-logo-links">
    <a class="footer-logo media_link" href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/img/logos/18f-logo.svg" alt="18F logo">
    </a>
    <a class="footer-logo media_link" href="http://www.gsa.gov/">
      <img src="{{ site.baseurl }}/assets/img/logos/gsa-logo.svg" alt="GSA">
    </a>
  </div>
  <div class="footer-links-wrapper">
  <div class="footer-links">
    <ul>
    {% for item in include.nav_items %}
      <li>
        {% if item.permalink %}
          {% assign item_link = item.permalink | prepend: site.baseurl %}
        {% else %}
          {% assign item_link = item.text | slugify | hash_link | prepend: site.baseurl %}
        {% endif %}
        <a href="{{ item_link }}">{{ item.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="footer-links">
    <h2 class="footer-links-heading">Policies and Standards</h2>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/guides">Guides</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/linking-policy/">Linking policy</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/open-source-policy/">Open source policy</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/vulnerability-disclosure-policy/">Vulnerability disclosure</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/code-of-conduct/">Code of Conduct</a>
      </li>
    </ul>
  </div>
  <div class="footer-links">
    <h2 class="footer-links-heading">Contact us</h2>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/about/#for-press">Press</a>
      </li>
      <li>
        <a href="https://twitter.com/18F">@18F</a>
      </li>
      <li>
        <a href="mailto:18F@gsa.gov">18F@gsa.gov</a>
      </li>
      <li>
        <a href="https://github.com/18F/18f.gsa.gov/issues/new">Report a bug</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
