<nav class="usa-accordion footer-mobile">
  <ul class="usa-sidenav-list">
    <li>
      <button aria-expanded="false" aria-controls="amendment-1">
        Site menu
      </button>
      <ul id="amendment-1" class="usa-accordion-content usa-sidenav-sub_list">
      {% for item in include.nav_items %}
        <li>
          {% if item.permalink %}
            {% assign item_link = item.permalink | prepend: site.baseurl %}
          {% else %}
            {% assign item_link = item.text | slugify | hash_link | prepend: site.baseurl %}
          {% endif %}
          <a href="{{ item_link }}">{{ item.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </li>
    <li>
      <button aria-controls="amendment-2">
        Policies and Standards
      </button>
      <ul id="amendment-2" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="{{ site.baseurl }}/developer">/developer</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/linking-policy/">Linking policy</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/open-source-policy/">Open source policy</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/vulnerability-disclosure-policy/">Vulnerability disclosure</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/code-of-conduct/">Code of conduct</a>
        </li>
      </ul>
    </li>
    <li>
      <button aria-controls="amendment-3">
        Contact us
      </button>
      <ul id="amendment-3" class="usa-accordion-content usa-sidenav-sub_list">
        <li>
          <a href="{{ site.baseurl }}/about/#for-press">Press</a>
        </li>
        <li>
          <a href="https://twitter.com/18F">@18F</a>
        </li>
        <li>
          <a href="mailto:18F@gsa.gov">18F@gsa.gov</a>
        </li>
        <li>
          <a href="https://github.com/18F/18f.gsa.gov/issues/new">Report a bug</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
