<!-- prettier-ignore -->
<nav aria-label="Primary navigation" class="usa-nav">
  <button class="usa-nav__close">
    <img src="{{ '/assets/img/close.svg' | prepend: site.baseurl }}" alt="close">
  </button>
  <ul class="usa-nav__primary usa-accordion">
    {% for item in include.nav_items %}
    <li class="usa-nav__primary-item">
        {% if item.permalink %}
          {% assign item_link = item.permalink | prepend: site.baseurl %}
        {% else %}
          {% assign item_link = item.text | slugify | hash_link | prepend: site.baseurl %}
        {% endif %}

        {% if item.multiple_permalinks %}
          {% assign is_matching = page.url | matches_url: item.multiple_permalinks %}
        {% else %}
          {% assign is_matching = page.url | matches_url: item.permalink %}
        {% endif %}

        <a href="{{ item_link }}" {% if is_matching %}class="usa-current"{% endif %}><span>{{ item.text }}</span></a>
      </li>
    {% endfor %}
  </ul>
  <form
    class="usa-search usa-search--small"
    role="search"
    id="search_form"
    action="https://search.usa.gov/search"
    accept-charset="UTF-8"
    method="get"
  >
    <input name="utf8" type="hidden" value="&#x2713;" />
    <label class="usa-sr-only" for="search-field-small">Search</label>
    <input class="usa-input" type="hidden" name="affiliate" id="affiliate" value="18f-site" >
    <input class="usa-input" type="search" name="query" id="query" autocomplete="off">
    <button class="usa-button" type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>
</nav>
