<div class="usa-section background-medium">
    <div class="usa-grid usa-flex usa-flex-baseline">
      <div class="usa-width-one-third h3">Have a project in mind?</div>
      <div>
        <p>
           Want to see if 18F can help your agency? We’d love to talk more, answer your questions, or learn more about what you’re working on.
        </p>
        <a href="{{ site.baseurl }}/hire/"><button class="usa-button usa-button-secondary marginless">Get in touch</button></a>
      </div>
    </div>
  </div>
