<section class="usa-section bg-primary-dark section-padding-md">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col">
        <p class="font-sans-lg text-white">
          Work with us to plan successful projects, choose better vendors, build custom software, or learn how to work in new ways.
        </p>
        <a class="usa-button an18f-button--accent" href="{{ "/contact/" | url }}">
          Contact us
        </a>
      </div>
    </div>
  </div>
</div>
</section>
