<section class="usa-section bg-primary-dark">
  <div class="grid-container">
      <div class="usa-graphic-list__row grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col">
            <img class="usa-media-block__img"  src="{{ site.baseurl }}/assets/img/talk-bubble.svg" alt="Alt text">
            <div class="usa-media-block__body">
              <p>Work with us to plan successful projects, choose better vendors, build custom software, or learn how to work in new ways.</p>
              <a class="usa-button usa-button--secondary" href="{{ site.baseurl }}/contact/">Contact us</a>
      </div>
    </div>
  </div>
</section>