{% assign parent_title = include.parent_title | default: page.parent_title %}
{% assign parent_permalink = include.parent_permalink | default: page.parent_permalink %}

{% assign sub_parent_agency = include.sub_parent_agency | default: page.sub_parent_agency %}
{% assign sub_parent_permalink = include.sub_parent_permalink | default: page.sub_parent_permalink %}

{% assign page_agency = include.page_agency | default: page.agency %}
<div class="grid-container">
  <nav class="usa-breadcrumb" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}/" class="usa-breadcrumb__link">
          <span>Home</span>
        </a>
      </li>
      {% if page.collection == 'guides' %}
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}/{{ page.collection }}/" class="usa-breadcrumb__link">
          <span>{{ page.collection | capitalize }}</span>
        </a>
      </li>
      {% endif %}
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}{{ parent_permalink }}" class="usa-breadcrumb__link">
          <span>{{ parent_title }}</span>
        </a>
      </li>
      {% if sub_parent_title and sub_parent_permalink %}
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}{{ sub_parent_permalink }}" class="usa-breadcrumb__link">
          <span>{{ sub_parent_agency }}</span>
        </a>
      </li>
      {% endif %}
      <li class="usa-breadcrumb__list-item">
        <span>{{ page_agency }}</span>
      </li>
    </ol>
  </nav>
</div>
