{% comment %}
This partial outputs a card that displays a project title, the associated agency logo, and an excerpt. The expected argument for this partial is the markdown file name for the project, which is in the "_services_projects" directory.
{% endcomment %}

{% assign project = site | find_collection: 'services_projects' | where: 'slug', include.project | first %}
{% assign card_link = project.permalink | prepend: site.baseurl %}


<div class="usa-card__container maring-bottom-4">
  <header class="usa-card__header">
    {% if project.agency %}
      <div class="display-flex flex-align-center"> 
        {% assign agency = site.data.agencies | where: "name", project.agency | first %}
        {% assign agency_logo = agency.logo %}
        {% unless agency_logo %}
          {% if project.agency_logo %}
            {% assign agency_logo = project.agency_logo %}
          {% endif %}
        {% endunless %}
        {% if agency_logo %} 
        <img src= "{{ site.baseurl }}{{ agency_logo }}" 
             class="maxw-8 margin-right-2"
             alt=""
        >
        {% endif %}
        <p class="line-height-sans-2 text-bold margin-top-0">{{ project.agency }}</p>
      </div>
    {% endif %}
    {% if card_link and project.title %}
    <a href="{{ card_link }}">
      <h3 class="margin-top-3 text-bold">{{ project.title }}</h3>
    </a>
    {% endif %}        
  </header>

  <div class="usa-card__body">
    <p class="margin-top-2">{{ project.excerpt }}</p>
  </div>
</div>
