{% assign card_link = include.link | prepend: site.baseurl %}

{% assign columns = include.columns | default: 3 %}

{% if columns == 2 %}
  {% assign wds_grid_class = 'tablet:grid-col-6' %}
{% else %}
  {% assign wds_grid_class = 'tablet:grid-col-4' %}
{% endif %}


<li class="usa-card {{ wds_grid_class }}">
    <div class="usa-card__container shadow-2" data-href="/site/what-we-deliver/forest-service/" tabindex="-1">
      
      <header class="usa-card__header">
        {% if include.agency %}
          <h6 class="font-sans-8 text-bold text-base-darker
          ">{{ include.agency }}</h6>
        {% endif %}
        {% if card_link and include.tagline %}
          <a href="{{ card_link }}" tabindex="-1" class="card-link-tagline"><h3 class="text-black">{{ include.tagline }}</h3></a>
        {% endif %}        
      </header>

      <div class="usa-card__media">
      <div role="img"
          title="{{ include.image_alt }}"
          class="usa-card__img {% unless include.image_src %} card-image-svg {% endunless %}">
          
          {% if include.image_src %}
            <img src="{{ site.baseurl }}{{ include.image_src }}">
          {% endif %}
        {% unless include.image_src %}
          {% if include.image_icon %}
            {% include svg/icons/{{ include.image_icon }} %}
          {% else %}
            {% include svg/icons/monitor.svg %}
          {% endif %}
        {% endunless %}
      </div>
      </div>
      
      <div class="usa-card__body">
        <p class="card-description">{{ include.description }}</p>
      </div>
      
      <div class="usa-card__footer">
        <a href="{{ card_link }}" class="text-no-underline

        text-bold font-sans-lg link-arrow-right" tabindex="0">
          Read more
          <span class="usa-sr-only">about {{ include.tagline }}</span>
          {% include svg/icons/arrow-right.svg %}
        </a>
      </div>

    </div>
  
  </li>

