{% assign card_link = include.link | prepend: site.baseurl %}

{% assign columns = include.columns | default: 3 %}

{% if columns == 2 %}
	{% assign wds_grid_class = 'usa-width-one-half' %}
{% else %}
	{% assign wds_grid_class = 'usa-width-one-third' %}
{% endif %}

{% assign project_bucket = include.project_bucket | default: 'none' %}

<article class="card {{ wds_grid_class }}" data-bucket="{{ project_bucket }}">
  <a class="card-link" href="{{ card_link }}">
    <img class="card-image" src="{{ include.image_src | prepend: site.baseurl }}"
           alt="{{ include.image_alt }}" />
    <div class="card-banner">
      <h3>{{ include.title }}</h3>
      <p class="card-description">{{ include.description }}</p>
      <span class="link-arrow-right">Learn more</span>
    </div>
  </a>
</article>

