
{% assign project = site | find_collection: 'services_projects' | where: 'slug', include.project | first %}
{% assign card_link = project.permalink | prepend: site.baseurl %}


<li class="usa-card tablet-lg:grid-col-4">
  
  <div class="usa-card__container">
    
    <header class="usa-card__header">
      {% if project.agency %}
        <div class="display-flex flex-align-center"> 
          {% if project.agency-logo %} 
          <img src= "{{ site.baseurl }}/{{project.agency-logo}}" 
               class="maxw-8 margin-right-2"
               alt=""
          >
          {% endif %}
          <p class="line-height-sans-2 text-bold margin-top-0">{{ project.agency }}</p>
        </div>
      {% endif %}
      {% if card_link and project.title %}
      <a href="{{ card_link }}">
        <h3 class="margin-top-3">{{ project.title }}</h3>
      </a>
      {% endif %}        
    </header>

    <div class="usa-card__body">
      <p class="margin-top-2">{{ project.excerpt }}</p>
    </div>
  </div>

  {% comment %}
  //TODO: Remove
  {% endcomment %}
    <!-- <div class="usa-card__media"> --
    <!-- <div role="img" -->
    <!--     title="{{ project.image_accessibility }}" -->
    <!--     class="usa-card__img {% unless project.image %} card-image-svg {% endunless %}"> -->
        
    <!--     {% if project.image %} -->
    <!--       <img --> 
    <!--         src="{{ site.baseurl }}{{ project.image }}" -->
    <!--         alt="{{ project.image_accessibility }}" -->
    <!--       > -->
    <!--     {% endif %} -->
    <!--   {% unless project.image %} -->
    <!--     {% if project.image_icon %} -->
    <!--       {% include svg/icons/{{ project.image_icon }} %} -->
    <!--     {% else %} -->
    <!--       {% include svg/icons/monitor.svg %} -->
    <!--     {% endif %} -->
    <!--   {% endunless %} -->
    <!-- </div> -->
    <!-- </div> -->
    

</li>
