<div id="contact" class="jumbotron header">
  <div class="container-fluid">
	<h3>
	  &lt; contact /&gt;
	</h3>
  </div>
</div>
<div class="container section">
  <div class="row">
	<div class="col-md-7 col-md-push-5">
	  <p class="lead">Leave us your name and email if you'd like more information about the way we work.<p>
	  <p class="small">Your privacy and security are important to us, and we'll never share your information. Please see <a href="http://www.gsa.gov/portal/content/116609">GSA's Privacy and Security Notice</a> for more information.</p>
	</div>
	<div class="col-md-4 col-md-pull-7">
	  <form action="http://hydra.gsa.gov/cgi-bin/listserv.pl" method="post" id="contact-form">
	  <input value="listserv@listserv.gsa.gov" type="hidden" name="recipient" /> <input value="18f" type="hidden" name="subject" /><input value="email" type="hidden" name="required" /><input value="https://18f.gsa.gov/thank-you.html" type="hidden" name="redirect" /><input checked="checked" name="subscribe_or_signoff" id="Subscribe" value="SUBSCRIBE 18f" type="hidden" />
	  <div class="form-group"><input class="form-control input-lg" type="text" placeholder="Your Name" name="realname" /></div>
	  <div class="form-group"><input class="form-control input-lg" type="text" placeholder="your@email-address.com" id="email" name="email" /></div>
	  <input type="submit" class="btn btn-success btn-lg btn-block" value="Sign Up for More Information" />
	  </form>
	</div>
	<!--  -->
	<div class="col-md-3 col-sm-6 col-xs-6 bio">&nbsp;</div>
	<!-- END OF TEAM -->
  </div>
</div>