<footer class="footer usa-footer usa-footer-big">
  <div class="container usa-footer-primary-section">
    <div class="usa-grid-full">
        <div class="usa-width-one-sixth footer-content">
          <img src="{{ site.baseurl }}/assets/images/logo-gsa.png" alt="GSA logo">
          <div>
            <a href="https://github.com/18f"><img src="{{ site.baseurl }}/assets/images/always-be-shipping_orange.png" alt="Always Be Shipping."></a>
          </div>
        </div>
          <div class="usa-width-one-sixth usa-footer-primary-content footer-content" itemscope itemtype="http://schema.org/ContactPoint">
            <h1>Work</h1>
              <a href="{{ site.baseurl }}/what-we-deliver/" title="What we deliver">What we deliver</a>
              </br>
              <a href="{{ site.baseurl }}/hire/" title="Hire">Hire us</a>
              </br>
              <a href="https://github.com/18F"><i class="fa fa-github" title="18F GitHub page"></i> github.com/18F</a>
          </div>
          <div class="usa-width-one-sixth usa-footer-primary-content footer-content">
            <h1>People</h1>
              <a href="{{ site.baseurl }}/team/" title="18F People">Team</a>
              </br>
              <a href="{{ site.baseurl }}/join/" title="Joining 18F">Join us</a>
          </div>
          <div class="usa-width-one-sixth usa-footer-primary-content footer-content">
            <h1> Resources </h1>
              <a href="{{ site.baseurl }}/blog/" title="18F Blog">Blog</a>
              </br>
              <a href="https://pages.18f.gov/guides" title="18F Guides">Guides</a>
              </br>
              <a href="{{ site.baseurl }}/developer/" title="Developer program">Developer program</a>
          </div>
          <div class="usa-width-one-sixth usa-footer-primary-content footer-content">
            <h1>Policies</h1>
              <a href="{{ site.baseurl }}/linking-policy/" title="18F Linking policy">Linking</a>
              <br/>
              <a href="https://github.com/18F/open-source-policy" title="18F Open source policy">Open source</a>
              <br/>
              <a href="https://github.com/18F/18f.gsa.gov/edit/staging/{{ page.path }}" title="Edit this page">Edit this page</a>
          </div>
          <div class="usa-width-one-sixth usa-footer-primary-content footer-content">
             <h1>Contact Us</h1>
                <a href="{{ site.baseurl }}/press/" title="Press">Press</a>
                <br/>
                <a href="https://twitter.com/18F"><i class="fa fa-twitter" title="18F Twitter"></i> @18F</a>
                </br>
                <a href="mailto:18f@gsa.gov" itemprop="email"><i class="fa fa-envelope" title= "email 18F"></i> 18F@gsa.gov</a>
          </div>
    </div>
  </div>
</footer>
