<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-darker">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col usa-dark-background">
          <p class="margin-bottom-0 text-white"> This project is maintained by <a class="usa-link text-primary-dark" href="https://18f.gsa.gov/">18F</a></p>
          <p class="margin-bottom-0 margin-top-05 text-white"> Learn more about our <a class="usa-link text-primary-dark" href="https://18f.gsa.gov/linking-policy/">Linking Policy</a></p>
          <p class="margin-top-05 text-white"> Have questions or would like to contact us? Email us at <a class="usa-link text-primary-dark" href="mailto:18f@gsa.gov">18F@gsa.gov</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% include "usa_identifier.html" %}
