<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"><img src="images/logo-gsa.png" alt="GSA logo"></div>
      <div class="col-sm-2">
        <h4>Contact Us</h4>
        <a href="mailto:18f@gsa.gov"><i class="icon-email"></i> 18F@gsa.gov</a>
        <br/>
        <a href="http://twitter.com/18F"><i class="icon-twitter"></i> @18F</a>
      </div>
      <div class="col-sm-4">
        <h4>Fork Us</h4>
        <a href="https://github.com/18f"><i class="icon-github2"></i> github.com/18F</a>
        <br/>
        <a href="https://github.com/presidential-innovation-fellows"><i class="icon-github2"></i> github.com/presidential-innovation-fellows</a>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/18f"><img class="propaganda" src="images/always-be-shipping_orange.png" alt="Always Be Shipping."></a>
      </div>
    </div>
  </div>
</div>