<a class="skipnav" href="#main-content">Skip to main content</a>
<div class="usa-banner">
  <header class="usa-banner__header">
    <div class="usa-banner__inner">
      <div class="grid-col-auto">
        <img
          src="{{ site.baseurl }}/assets/img/global/usa-flag.png"
          class="usa-banner__header-flag"
          alt="U.S. flag"
        />
      </div>
      <div class="grid-col-fill tablet:grid-col-auto">
        <p class="usa-banner__header-text">
          An official website of the United States government
        </p>
      </div>
    </div>
  </header>
</div>
<div class="overlay"></div>
<header class="usa-header usa-header--basic ">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <a class="site-logo media_link" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/img/logos/18f-logo.svg" alt="18F
          logo" {% if page.url == '/' %} aria-hidden="true" {% endif %} ></a
        >
        {% if page.url == '/' %}
        <h1 class="usa-sr-only">18F</h1>
        {% else %}
        <span class="usa-sr-only">18F</span>
        {% endif %}
        <button class="usa-menu-btn">Menu</button>
      </div>
    </div>
    <nav class="usa-nav" aria-label="Primary Navigation">
      {% include navigation.html navbar=true %}
    </nav>
  </div>
</header>
