<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>18F Digital Services Delivery</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.">

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Meta cards
================================================== -->
<!-- Twitter Card data -->
<meta name="twitter:site" content="@18f">
<meta name="twitter:title" content="18F - Digital Service Delivery for the Federal Government">
<meta name="twitter:description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.">

<!-- Open Graph data -->
<meta property="og:title" content="18F" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://18f.gsa.gov/" />
<meta property="og:image" content="https://18f.gsa.gov/images/logo-18f.png" />
<meta property="og:image:secure_url" content="https://18f.gsa.gov/images/logo-18f.png" />
<meta property="og:description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves." />
<meta property="og:site_name" content="18F - Digital Service Delivery for the Federal Government" />

<!-- Favicons
================================================== -->
<!-- 128x128 -->
<link rel="shortcut icon" type="image/ico" href="/assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png" />
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/18f-center-57.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/18f-center-72.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/18f-center-114.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/18f-center-144.png">

<!-- CSS
================================================== -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/assets/css/fonts.css" rel="stylesheet">
<link href="/assets/css/normalize.css" rel="stylesheet">
<link href="/assets/css/styles.css" rel="stylesheet">
<!-- <link href="/assets/css/18f.css" rel="stylesheet"> -->

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/js/ie8/html5shiv.js"></script>
  <script src="/assets/js/ie8/respond.js"></script>
  <link href="/assets/css/ie8/ie.css" rel="stylesheet">
<![endif]-->

{% include ascii.html %}
