<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official usa-grid">
      <img src="{{ site.baseurl }}/assets/img/global/usa-flag.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
    </div>
  </div>
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logos/18f-logo.svg" alt="18F logo"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
      ></a>
    {% if page.url == '/' %}
      <h1 class="usa-sr-only">18F</h1>
      {% else %}
        <span class="usa-sr-only">18F</span>
    {% endif %}
    <nav role="navigation">
      {% include navigation.html navbar=true %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
