{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">This is not the Guides home page
      </h1>
      <p>On the web, this home page does not appear. The actual guides homepage lives in the 18F.gsa.gov repository. Look into the individual
      guides below for the actual Guides content.</p>
      <a class="usa-button" href="https://18f.gsa.gov/guides/">Leave to visit the actual Guides homepage</a>
    </div>
  </div>
</section>
