<div class="modal fade" id="linkModal" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">You are leaving 18F</h4>
	  </div>
	  <div class="modal-body">
		<p>
		  Thank you for visiting 18F.  We hate to see you go.
		</p>
		<p>
		  You are being redirected to <a class="targetLink" href="#">link</a>.  
		</p>
		<p id="linkRedirect">
		  You will be redirected in <span class="targetTime">5</span> seconds.
		</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<a href="#" type="button" class="btn btn-primary">Leave 18F</a>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->