<a href="#main" class="skips">Skip to main content</a>
<nav class="global-nav {% if page.layout == 'default' %} global-nav-absolute {% endif %}">
  <a href="#" class="toggle">Menu</a>
  <a href="#" class="toggle hidden">Close</a>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="/dashboard">Work</a></li>
    <li class="global-nav-link"><a href="/team">People</a></li>
    <li class="global-nav-link"><a href="/consulting">Consulting</a></li>
    <li class="global-nav-link"><a href="https://pages.18f.gov/joining-18f/">Join</a></li>
  </ul>
  <span class="sep">|</span>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="/blog">Blog</a></li>
    <li class="global-nav-link"><a href="/#contact">Contact</a></li>
    <li class="global-nav-link"><a href="/">Home</a></li>
  </ul>
</nav>
