<a href="#main" class="skips">Skip to main content</a>
<nav class="global-nav {% if page.layout == 'default' %} homepage {% endif %}">
  <a href="#" class="toggle">Menu</a>
  <a href="#" class="toggle hidden">Close</a>
  <ul class="hidden">
    <li><a href="/dashboard">Work</a></li>
    <li><a href="/team">People</a></li>
    <li><a href="/consulting">Consulting</a></li>
    <li><a href="https://pages.18f.gov/joining-18f/">Join</a></li>
  </ul>
  <span class="sep">|</span>
  <ul class="hidden">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/#newsletter">Newsletter</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
