<a href="#main" class="skips">Skip to main content</a>
<nav class="global-nav {% if page.layout == 'default' %} global-nav-absolute {% endif %}">
  <a href="javascript:;" class="toggle">Menu</a>
  <a href="javascript:;" class="toggle hidden">Close</a>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="{{site.baseurl}}/what-we-deliver/">What we deliver</a></li>
    <li class="global-nav-link"><a href="{{site.baseurl}}/hire/">Hire us</a></li>
    <li class="global-nav-link"><a href="{{site.baseurl}}/join/">Join 18F</a></li>
  </ul>
  <span class="sep">|</span>
  <ul class="hidden global-nav-links">
    <li class="global-nav-link"><a href="{{site.baseurl}}/blog/">Blog</a></li>
    <li class="global-nav-link"><a href="{{site.baseurl}}/#newsletter">Newsletter</a></li>
    <li class="global-nav-link"><a href="{{site.baseurl}}/">Home</a></li>
  </ul>
</nav>
