{% assign current = page.url | downcase | split: '/' %}

{% if page.nav_items %}
  {% assign nav_items = page.nav_items %}
{% else %}
  {% assign nav_items = site.data.navigation %}
  {% assign nav_items = nav_items['assigned'] %}
{% endif %}

{% if include.navbar %}
  {% include navigation/navbar.html nav_items=nav_items %}
{% endif %}

{% if include.drawer %}
  {%
    include navigation/drawer.html
    children=true
    nav_items=nav_items
  %}
{% endif %}


{% if include.subnav %}
  {% if page.nav_items %}
    {% include navigation/subnav.html
       page_data=page
       nav_items=nav_items
       children=true
    %}
  {% else %}
    {% assign subnav_page_url = include.subnav_anchor | default: page.url %}
    {% assign page_data = subnav_page_url | find_page: nav_items %}
    {% include navigation/subnav.html
       page_data=page_data
       children=true
    %}
  {% endif %}
{% endif %}

{% if include.footer %}
  {%
    include navigation/footer-mobile.html
    children=false
    nav_items=nav_items
  %}
  {%
    include navigation/footer-desktop.html
    children=false
    nav_items=nav_items
  %}
{% endif %}
