<div class="footer-newsletter">
  <p>Receive updates about our work and news from the civic tech community.</p>
  <form action="https://gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=cbc418738b" method="post" id="contact-form">
    <div class="form-group">
      <label id="newsletter" for="EMAIL">Your email</label>
      <input type="email" id="EMAIL" required="" name="EMAIL">
    </div>
    <div style="position: absolute; left: -5000px;">
      <input type="hidden" name="b_6f1977de9eff4c384dc8d6527_cbc418738b" tabindex="-1" value="">
    </div>
    <input type="submit" class="button" value="Sign up">
  </form>
</div>
