<section id="newsletter" class="newsletter">
  <div class="header">
    <div class="container-fluid">
      <h1>
        newsletter
      </h1>
    </div>
  </div>
  <div class="container newsletter-box">
    <div class="newsletter-form">
      <form action="https://gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=cbc418738b" method="post" id="contact-form">
      <div class="form-group"><label class="sr-hide" for="FULLNAME">Your name</label><input type="text" placeholder="Your Name" id="FULLNAME" name="FULLNAME" /></div>
      <div class="form-group"><label class="sr-hide" for="EMAIL">Your email address (required)</label><input type="email" placeholder="your@email-address.com" id="EMAIL" required name="EMAIL" /></div>
      <div style="position: absolute; left: -5000px;"><input type="hidden" name="b_6f1977de9eff4c384dc8d6527_cbc418738b" tabindex="-1" value=""></div>
      <input type="submit" class="button" value="Subscribe to our newsletter" />
      </form>
    </div>
    <div class="newsletter-words">
      <p>Want to know more? Leave us your name and email to receive updates about our work and news from the civic tech community.</p>
      <p class="small">Your privacy and security are important to us, we'll only share your information as described in <a href="http://www.gsa.gov/portal/content/116609">GSA's Privacy and Security Notice</a>.</p>
    </div>
  </div>
</section>
