<div class="newsletter">
  <form action="https://gsa.us9.list-manage.com/subscribe/post-json?u=6f1977de9eff4c384dc8d6527&amp;id=cbc418738b&c=" method="get" id="contact-form" class="usa-flex-always usa-flex-end">
    <div class="form-group">
      <label id="newsletter" for="newsletter-email">Your email</label>
      <input class="newsletter-flex-form" type="email" id="newsletter-email" required name="newsletter-email">
    </div>
    <div class="usa-sr-only">
      <input type="hidden" name="b_6f1977de9eff4c384dc8d6527_cbc418738b" tabindex="-1" value="">
    </div>
    <input class="newsletter-flex-form button" type="submit" value="Sign up">
  </form>

  <div id="newsletter-success" style="display: none;">
    <p class="newsletter-no-margin p-bold">You're subscribed</p>
    <p class="newsletter-no-margin">You'll receive the newsletter at <span id="newsletter-response"></span> every week.</p>
    <button class="usa-button usa-button-primary" id="button-reset">OK</button>
  </div>
</div>
