  {% assign all_positions = site | find_collection: 'join' | shift %}
  {% if all_positions.size > 0 %}
    {% assign published_positions = all_positions | where: "published", true %}
    {% assign open_positions = published_positions | where: "listed", true %}
  {% if open_positions.size > 0 %}
  <h3>Open positions</h3>
    {% for position in open_positions %}{% unless "listed" == false %}
  <a class="usa-button" href="{{ site.baseurl }}{{ position.permalink }}">{{ position.position_title | default: position.title }}</a>{% endunless %}
      {% endfor %}

<p><em>Most of our roles use the “Innovation Specialist” <a href="https://www.opm.gov/faqs/QA.aspx?fid=d2dc8952-41ec-434a-ac7e-bcb6ee8206ba&pid=c9df01f3-8580-4f87-88a4-3e26125f1205">position description</a>, regardless of what team we're hiring for. See the performance profile link above for more detail about specific skills, responsibilities, and expectations.</em></p>

  {% else %}
  <h4>We don’t have any open positions right now. You can sign up for the <a href="https://18f.gsa.gov/contact/#newsletter">18F Newsletter</a> to receive regular updates, including new open positions.</h4>
  {% endif %}
  {% endif %}
