{% assign post_date = include.date | default: post.date %} {% assign post_title
= include.title | default: post.title %} {% assign post_excerpt =
include.excerpt | default: post.excerpt %} {% assign post_url = include.url |
default: post.url %} {% assign hide_date = include.hide_date | default: false %}

<li class="post tablet:grid-col-4">
  <article class="padding-top-2">
    {% if hide_date == true %}
    <p class="post-date">{{ post_date | date: "%B %-d, %Y" }}</p>
    {% endif %}
    <h3 class="featured-posts__heading">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post_title }}
      {% if post.series %}
        (Series: {{ post.series }})
      {% endif %}
      </a>
    </h3>
    <p>{{ post.excerpt }}</p>
    <p>
      <a class="link-arrow-right post-link-continue_reading" 
        href="{{ post.url | prepend: site.baseurl }}">
        Read more
        <span class="usa-sr-only">about {{ post_title }}</span>
        {% include svg/icons/arrow-right.svg %}
      </a>
    </p>
    {% if include.show_tags %}
    <span class="post-tags" itemprop="keywords">
      {% for tag in post.tags %}
        <a class="usa-label" href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}/">{{ tag }}
        </a>
      {% endfor %}
    </span>
    {% endif %}
  </article>
</li>