<script src="/site/assets/uswds/js/uswds.min.js" async></script>

{%- assign _scripts = _scripts
  | push: layout.scripts
  | push: page.scripts
  | uniq
-%}
{%- for _script in _scripts -%}
  {%- assign _src = _script.src | default: _script -%}
    {%- if _src -%}
      <script src="{{ _src | replace: _async_marker, '' | relative_url }}"{% if _script.async or _src contains _async_marker %} async{% endif %}></script>
    {%- endif -%}
{%- endfor -%}

{% if site.search_site_handle %}
<script type="text/javascript">
//<![CDATA[
      var usasearch_config = { siteHandle:"{{ site.search_site_handle }}" };

      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);

//]]>
</script>
{% endif %}


{% if site.touchpoints_form_id %}
<script src="https://touchpoints.app.cloud.gov/touchpoints/{{ site.touchpoints_form_id }}.js" async></script>
{% endif %}
