{% comment %}
Add sidebars filtered by layout below
{% endcomment %}

{% if page.layout == "profile" %}
<aside>
	{% if page.project %}
	<h3>{{ page.first_name }}'s projects:</h3>
		<ul>
			{% for project in page.project %}
				<li>{{ project }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% authored_posts heading=h3 %}
</aside>
{% endif %}

{% if page.layout == "press" %}
<aside id="toc">
	<h2>We get asked...</h2>
		<ul>
		{% for item in site.press %}
		{% unless item.title == '18F Press' %}
			{% capture slug %}{{item.title | slugify}}{% endcapture %}
			<li><a href="#{{slug}}">{{item.title}}</a></li>
		{% endunless %}
		{% endfor %}
	</ul>
</aside>
{% endif %}
