{% comment %}
Add sidebars filtered by layout below
{% endcomment %}
{% if page.layout == "profile" %}
<aside>
	{% if page.github or page.twitter or page.personal and site.config.display_personal %}
		<h2>Where to find {{ page.first_name }}</h2>
		<ul>
			{% if page.github %}
			<li><a href="https://github.com/{{ page.github }}">GitHub</a></li>
			{% endif %}
			{% if page.twitter %}
			<li><a href="https://twitter.com/{{ page.twitter }}">Twitter</a></li>
			{% endif %}
			{% if page.personal %}
			<li><a href="{{page.personal}}">Personal Blog</a></li>
			{% endif %}
		</ul>
	{% endif %}
	{% authored_posts heading=2 %}
</aside>
{% endif %}
