{% comment %}
This partial was used while migrating the guides, but could be used for other site alerts in the future.
{% endcomment %}

<section aria-label="Alert">
  <div class="usa-alert usa-alert--warning usa-alert--no-icon">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        We are in the process of moving all of the 18F guides to a new url. You can still find all 18F guides at <a href="https://18f.gsa.gov/guides">18f.gsa.gov/guides</a>.
      </p>
    </div>
  </div>
</section>
