<div class="jumbotron slideshow-wrapper">
  <img id="logo" src="images/logo-18f.png" alt="18F logo" class="fadeIn" />
  <div class="container-fluid fadeIn">
	<h1>
	  Building the 21st century digital government.
	</h1>
	<span class="photo-credit"></span>
  </div>
  <div id="slideshow" class="fadeIn">
	<div class="slide" style="background-image: url({{ site.baseurl }}/images/slideshow/flickr-bay-bridges.jpg); background-position: 25% 40%;" data-caption="<a href='http://www.flickr.com/photos/photogism/9903236524' class='link'>New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)</a>"></div>
	<div class="slide" style="background-image: url({{ site.baseurl }}/images/slideshow/energy-olympus-supercomputer.jpg); background-position: 50% 50%;" data-caption="<a href='http://energy.gov/articles/photo-week-olympus-supercomputer' class='link'>The Olympus Supercomputer (ENERGY.GOV)</a>"></div>
	<div class="slide" style="background-image: url({{ site.baseurl }}/images/slideshow/flickr-wind-technology.jpg); background-position: left top;" data-caption="<a href='http://www.flickr.com/photos/departmentofenergy/9396316654/' class='link'>National Renewable Energy Laboratory (ENERGY.GOV)</a>"></div>
  </div>
</div>