<!-- begin slideshow -->
<div class="jumbotron slideshow-wrapper">
  <img id="logo" src="images/logo-18f.png" alt="18F logo" class="fadeIn" />
  <div class="container-fluid fadeIn">
    <h1>
      Building the 21st century digital government.
    </h1>
    <span class="photo-credit"></span>
  </div>
  <div id="slideshow" class="fadeIn">
    <!-- slides -->
    <div class="slide" style="background-image: url(images/slideshow/flickr-bay-bridges.jpg); background-position: 25% 40%;" data-caption="<a href='http://www.flickr.com/photos/photogism/9903236524'>New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)</a>"></div>
    <div class="slide" style="background-image: url(images/slideshow/energy-olympus-supercomputer.jpg); background-position: 50% 50%;" data-caption="<a href='http://energy.gov/articles/photo-week-olympus-supercomputer'>The Olympus Supercomputer (ENERGY.GOV)</a>"></div>
    <div class="slide" style="background-image: url(images/slideshow/flickr-wh-science-fair.jpg); background-position: right bottom;" data-caption="<a href='http://www.flickr.com/photos/whitehouse/6857502764'>White House Science Fair (White House)</a>"></div>
    <div class="slide" style="background-image: url(images/slideshow/flickr-wind-technology.jpg); background-position: left top;" data-caption="<a href='http://www.flickr.com/photos/departmentofenergy/9396316654/'>National Renewable Energy Laboratory (ENERGY.GOV)</a>"></div>
    <div class="slide" style="background-image: url(images/slideshow/nasa-ibm-704.jpg); background-position: 10% 20%;" data-caption="<a href='http://grin.hq.nasa.gov/ABSTRACTS/GPN-2000-001881.html'>IBM Electronic Data Processing Machine (NASA)</a>"></div>
    <!-- end slides -->
  </div>
</div>
<!-- end slideshow -->

<!-- begin slideshow overlay -->
<div class="container section mantra">
  <div class="row">
    <div class="col-md-8">
      <h2>
        <strong>Delivery</strong> is the strategy.
      </h2>
      <p>
        <strong>18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.</strong> We help agencies deliver on their mission through the development of digital and web services. Our newly formed organization, within the <a href="http://gsa.gov">General Services Administration</a>, encompasses the <a href="http://wh.gov/innovationfellows">Presidential Innovation Fellows</a> program and an in-house digital delivery team.
      </p>
      <p>
        18F is a startup within GSA &mdash; the agency responsible for government procurement &mdash; giving us the power to make small changes with big effect. We’re doers, recruited from industry and the most innovative corners of public service, who are passionate about &quot;hacking&quot; bureaucracy to drive efficiency, transparency, and savings for government agencies and the American people. <strong>We make easy things easy, and hard things possible.</strong>
      </p>
    </div>
  </div>
</div>
<!-- end slideshow overlay -->