<div class="bg-primary-darker margin-top-6 padding-3 text-white usa-dark-background">
  <h2 class="font-sans-lg text-bold margin-bottom-2">Follow 18F</h2>
  <ul class="usa-list usa-list--unstyled">
    {% for item in site.data.social_media %}
    <li class="margin-bottom-2">
      <a href="{% if item.platform == "RSS feed" %}{{ site.baseurl }}{% endif %}{{ item.link }}"
         class="usa-link--alt"
         >
         <img src="{{ site.baseurl }}{{ item.image.light }}"
              class="maxw-3 margin-right-2 text-sub"
              alt="">
         {%- unless item.platform == "RSS feed" -%}18F on {% endunless%}{{ item.platform }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
