<section class="usa-section bg-primary-darker testimonial">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12 tablet:grid-offset-1 tablet:grid-col-10">
        <p class="large-quotemark">&ldquo;</p>
        <blockquote class="font-sans-lg tablet:font-sans-xl line-height-sans-3 
                           measure-5 margin-top-4
                           text-center text-ls-05 text-white"
        >
          <em>{{ include.quote }}</em>
        </blockquote>
        <figcaption class="font-sans-md tablet:font-sans-lg line-height-sans-4 
                           text-center text-primary-lightest"
        >
        <strong>&mdash;{{ include.attribution }}</strong> {{ include.position }}<br>
          <em>{{ include.organization }}</em>
        </figcaption>
      </div>
    </div>
  </div>
</section>
