 {% assign anchor = site.data.usa_anchor.anchor_data[0] %}
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency identifier"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a href="https://www.gsa.gov/" class="usa-identifier__logo">
            <img
              class="usa-identifier__logo-img"
              src="{{ site.baseurl }}{{ anchor.agency_logo }}"
              alt="GSA logo"
            />
          </a>
        </div>
        <div class="usa-identifier__identity text-base-lightest" aria-label="Agency description">
          <p class="usa-identifier__identity-domain">18f.gsa.gov</p>
          <p class="usa-identifier__identity-disclaimer text-base-lightest">An official website of the
            <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">
              GSA’s Technology Transformation Services
            </a>
          </p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.about_gsa_url }}"
              title="About GSA"
            >
              About GSA
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.accessibility_url }}"
              title="Accessibility support"
            >
              Accessibility support
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.foia_request_url }}"
              title="FOIA requests"
            >
              FOIA requests
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.no_fear_act_url }}"
              title="No FEAR Act data"
            >
              No FEAR Act data
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.fraud_waste_abuse_url }}"
              title="Office of the Inspector General"
            >
              Office of the Inspector General
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.budget_performance_url }}"
              title="Performance reports"
            >
              Performance reports
            </a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              class="usa-identifier__required-link usa-link"
              href="{{ anchor.privacy_policy_url }}"
              title="Privacy Policy"
            >
              Privacy policy
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="U.S. government information and services">
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description text-base-lightest">Looking for U.S. government information and services?</div>
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </section>
  </div>
