// -------------------------------------
// 18F site components
@import '_components/blockquotes';
@import '_components/blog-index';
@import '_components/card';
@import '_components/icons';
@import '_components/hero';
@import '_components/image-adjustments';
@import '_components/lists';
@import '_components/post-list';
@import '_components/blog-pagination';
@import '_components/post-pagination';
@import '_components/post-meta';
@import '_components/tag-index';
@import '_components/post-feature';
@import '_components/social-links';

// 18F site templates
// ==========================
@import '_templates/home';
@import '_templates/guides';
@import '_templates/how-we-work';
@import '_templates/what-we-deliver';

//18F styleguide
// ===========================
@import '_styleguide/all';


// -------------------------------------
// Fix hero area button:focus text contrast
.bg-primary-dark .usa-button-secondary.usa-button:focus {
  color: $theme-color-base-lightest;
}

// -------------------------------------
// page introduction and call to action
section.usa-section.bg-primary-darker {
  h1 {
      color: $theme-color-secondary;
  }

  h2, p {
      color: #FFF;
  }

  p {
    font-size: $theme-h3-font-size;
  }

}