// -------------------------------------
// 18F site components
@import '_components/blockquotes';
@import '_components/blog-index';
@import '_components/card';
@import '_components/icons';
@import '_components/hero';
@import '_components/image-adjustments';
@import '_components/lists';
@import '_components/post-list';
@import '_components/blog-pagination';
@import '_components/post-pagination';
@import '_components/post-meta';
@import '_components/tag-index';
@import '_components/post-feature';
@import '_components/social-links';
@import '_components/header';

// 18F site templates
// ==========================
@import '_templates/home';
@import '_templates/guides';
@import '_templates/how-we-work';
@import '_templates/what-we-deliver';

// -------------------------------------
// Because the USWDS link token was incorrect about AA contrast
a {
  color: color('accent-cool');
}

// -------------------------------------
// Fix hero area button:focus text contrast
.bg-primary-dark .usa-button--secondary.usa-button {
  color: color('primary-dark');

  &:focus,
  &:hover {
    color: color('base-lightest');
  }
}



// -------------------------------------
// page introduction and call to action
.usa-section.bg-primary-dark {
  h1 {
    color: color('secondary');
    font-size: font-size('sans', '3xl');
  }

  h2, p {
      color: #FFF;
  }

  h2 {
    margin-top: .25em;
    font-weight: normal;
  }

  p {
    font-size: font-size($theme-body-font-family, $theme-h3-font-size);
  }

}

// special case for border on hww page
.section-case-studies {
  border-bottom: 1rem solid $color-medium;
}

//footer
.usa-footer {

  h4 {
    font-size: font-size($theme-font-role-heading, 'lg');
    margin-bottom: 1rem;
  }
}

.no-left-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  margin-top: 1px;
  height: 38px;
}