// 18F Palette Colors
$color-bright-light: #b3efff;
$color-bright: #00cfff;
$color-medium: #046b99;
$color-dark: #1c304a;
$color-medium-hover: #00547a;

@use 'uswds-core' as * with (

  /*---------------------------------------------------------
  # Color Settings
  ----------------------------------------------------------*/
  $theme-color-primary-family: 'blue',
  $theme-color-primary-lightest: $color-bright-light,
  $theme-color-primary-lighter: 'blue-cool-20v',
  $theme-color-primary-light: 'blue-cool-40v',
  $theme-color-primary: $color-medium,
  $theme-color-primary-vivid: 'blue-warm-60v',
  $theme-color-primary-dark: 'blue-70v',
  $theme-color-primary-darker: $color-dark,
  $theme-color-primary-darkest: 'blue-90',

  $theme-color-accent-cool-family: 'cyan',
  $theme-color-accent-cool-lightest: 'blue-5',
  $theme-color-accent-cool-lighter: 'cyan-10v',
  $theme-color-accent-cool-light: 'cyan-20v',
  $theme-color-accent-cool: $color-bright,
  $theme-color-accent-cool-dark: 'cyan-50v',
  $theme-color-accent-cool-darker: 'cyan-70v',
  $theme-color-accent-cool-darkest: 'cyan-80v',

  $theme-color-base-ink: 'blue-90',

  $theme-color-error-lighter: 'red-warm-5',
  
  $theme-link-color: 'primary',

  /*---------------------------------------------------------
  # Typography Settings
  ----------------------------------------------------------*/
  $theme-global-paragraph-styles: true,
  $theme-global-link-styles: true,
  $theme-global-content-styles: true,

  $theme-font-role-heading: 'sans',
  $theme-font-role-alt: 'sans',

  $theme-type-scale-md: 7,
  $theme-type-scale-xl: 11,

  $theme-font-weight-medium: 500,

  $theme-body-font-size: 'md',
  $theme-h1-font-size: '3xl',

  /*---------------------------------------------------------
  # Component Settings
  ----------------------------------------------------------*/
  $theme-banner-max-width: 'desktop-lg',
  $theme-breadcrumb-background-color: 'white',

  $theme-card-border-radius: 'md',
  $theme-card-border-width: 0,
  $theme-card-gap: 3,

  $theme-header-logo-text-width: 15%,
  $theme-header-max-width: 'desktop-lg',

  $theme-identifier-max-width: 'desktop-lg',

  /*---------------------------------------------------------
  # Spacing Settings
  ----------------------------------------------------------*/
  $theme-grid-container-max-width: 'desktop-lg',

  /*---------------------------------------------------------
  # Utitilites Settings
  ----------------------------------------------------------*/
  $theme-utility-breakpoints: (
    'tablet-lg': true,
  ),

);
