// -------------------------------------
@use 'uswds-core' as *;

// 18F site components
@use 'variables.scss' as *;

// @import '_components/blog';
// @import '_components/button';
// @import '_components/card-with-image';
// @import '_components/header';
// @import '_components/hr';
// @import '_components/quotemark';
// @import '_components/section';
// @import '_components/utilities';

h1 {
  @include u-text('normal');
}

h2 {
  @include u-font('heading', '2xl');
  @include u-text('normal');
}

* + h2 {
  margin-top: units(6);
}

h3 {
  @include u-font('heading', 'xl');
  @include u-line-height('heading', 3);
  @include u-text('normal');
  letter-spacing: $letter-spacing-xs;
}

.project-page__content h3 {
  margin-top: units(4);
}

.project-page__sidebar p {
  margin-top: units(1);
}

