

$theme-respect-user-font-size: false;
$theme-root-font-size: 11px;

$theme-global-paragraph-styles: true;
$theme-global-link-styles: true;
$theme-global-content-styles: true;

$theme-font-path: '../fonts';

$theme-typeface-tokens: (
  example-serif-token: (
    display-name: 'Example Serif Display Name',
    cap-height: 364px
  ),
  example-sans-token: (
    display-name: 'Example Sans Display Name',
    cap-height: 364px
  )
);

// condensed
$theme-font-type-cond: false;

// icon
$theme-font-type-icon: false;

// language-specific
$theme-font-type-lang: false;

// monospace
$theme-font-type-mono: 'roboto-mono';

// sans-serif
$theme-font-type-sans: 'source-sans-pro';

// serif
$theme-font-type-serif: 'merriweather';

$theme-font-cond-custom-stack: false;
$theme-font-icon-custom-stack: false;
$theme-font-lang-custom-stack: false;
$theme-font-mono-custom-stack: false;
$theme-font-sans-custom-stack: false;
$theme-font-serif-custom-stack: false;

$theme-font-cond-custom-src: false;
$theme-font-icon-custom-src: false;
$theme-font-lang-custom-src: false;
$theme-font-mono-custom-src: false;
$theme-font-sans-custom-src: false;
$theme-font-serif-custom-src: false;

$theme-font-role-ui: 'sans';
$theme-font-role-heading: 'serif';
$theme-font-role-body: 'sans';
$theme-font-role-code: 'mono';
$theme-font-role-alt: 'serif';

$theme-type-scale-3xs: 2;
$theme-type-scale-2xs: 3;
$theme-type-scale-xs: 4;
$theme-type-scale-sm: 5;
$theme-type-scale-md: 6;
$theme-type-scale-lg: 9;
$theme-type-scale-xl: 12;
$theme-type-scale-2xl: 14;
$theme-type-scale-3xl: 15;

$theme-font-weight-thin: false;
$theme-font-weight-light: 300;
$theme-font-weight-normal: 400;
$theme-font-weight-medium: false;
$theme-font-weight-semibold: false;
$theme-font-weight-bold: 700;
$theme-font-weight-heavy: false;

// If USWDS is generating your @font-face rules,
// should we generate all available weights
// regardless of the assignments above?

$theme-generate-all-weights: false;

// Body settings are the equivalent of setting the <body> element
$theme-body-font-family: 'body';
$theme-body-font-size: 'sm';
$theme-body-line-height: 1;

// If true, explicitly style the <body> element with the base styles
$theme-style-body-element: false;

// Headings
$theme-h1-font-size: '2xl';
$theme-h2-font-size: 'xl';
$theme-h3-font-size: 'lg';
$theme-h4-font-size: 'sm';
$theme-h5-font-size: 'xs';
$theme-h6-font-size: '3xs';
$theme-heading-line-height: 2;
$theme-small-font-size: '2xs';
$theme-display-font-size: '3xl';

// Text and prose
$theme-text-measure-narrow: 1;
$theme-text-measure: 4;
$theme-text-measure-wide: 6;
$theme-prose-font-family: 'body';

// Lead text
$theme-lead-font-family: 'heading';
$theme-lead-font-size: 'lg';
$theme-lead-line-height: 6;
$theme-lead-measure: 6;
