---
layout: default
title: Blog
skip_index: true
---

<section class="usa-section background-dark">
  <div class="usa-grid">
    <h1 class="section-heading">{{ page.title }}</h1>
    <div class="blog-search">
      <form class="usa-search usa-search-small" action="{{ site.baseurl }}/search/">
        <div role="search">
          <label class="usa-sr-only" for="search-field-small">Search small</label>
          <input id="search-field-small" type="search" name="q">
          <button type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </div>
      </form>
    <p><a class="link-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></p>
    </div>
  </div>
</section>

<section class="usa-grid content-focus page-tag-results">
  {%
    include tag-results.html
    posts=paginator.posts
    tags=page.tags
    trim_padding=true
  %}
</section>

<!-- Pagination links -->
<section class="pagination usa-grid content-focus">
  <div>
    {% if paginator.previous_page %}
      <a class="link-arrow-left" href="{{ site.baseurl }}{{ paginator.previous_page_path }}/">
        Previous {{ paginator.per_page }} posts
      </a>
    {% else %}
    <p></p>
    {% endif %}
  </div>
  <div>
    <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  </div>
  <div>
    {% if paginator.next_page %}
    <a class="link-arrow-right" href="{{ site.baseurl }}{{ paginator.next_page_path }}/">
      Next {{ paginator.per_page }} posts
    </a>
    {% else %}
    <p></p>
    {% endif %}
  </div>
</section>
