.usa-grid-full .usa-width-one-third,
.usa-grid .usa-width-one-third {

  @include at-media('mobile-lg') {
    @include grid-col(12);

    &:last-child {
      @include u-margin-bottom(0);
    }
  }

  @include at-media('tablet') {
    @include grid-col(4);

    &:nth-of-type(3n) {
      @include u-margin-bottom(0);
    }
  }

  &.usa-width-tablet {

    @include grid-col(12);

    @include at-media($tablet-screen) {
      @include grid-col(4);

      &:nth-of-type(3n) {
        @include u-margin-bottom(0);
      }
    }
  }
}

.usa-grid-full .usa-width-two-thirds,
.usa-grid .usa-width-two-thirds {

  @include at-media('mobile-lg') {
    @include grid-col(12);

    &:last-child {
      @include u-margin-bottom(0);
    }
  }

  @include at-media('tablet') {
    @include grid-col(8);

    &:nth-of-type(3n) {
      @include u-margin-bottom(0);
    }
  }

  &.usa-width-tablet {

    @include grid-col(12);

    @include at-media($tablet-screen) {
      @include grid-col(8);

      &:nth-of-type(3n) {
        @include u-margin-bottom(0);
      }
    }
  }
}

.usa-grid .usa-width-one-half.usa-width-short-one {
  @include at-media('tablet') {
    @include grid-col(5);
  }
}

.usa-grid .usa-width-one-half.usa-width-shift-one {
  @include at-media('tablet') {
    @include grid-offset(1);
  }
}

.usa-grid-reversed {
  @include at-media('tablet') {
    .usa-grid-reversed-right {
      @include u-margin-bottom(0);
      float: right;
    }
  }
}
