h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: $paragraph-margins;
}

.break-bottom {
  border-bottom: $border-light;
  padding-bottom: $section-margins;
}

.break-bottom-gray {
  border-bottom: $border-gray;
  padding-bottom: $section-margins;
}

.break-bottom-small {
  border-bottom: $border-light;
  padding-bottom: $paragraph-margins;
}
