$color-opaque: rgba(0, 0, 0, 0.3);
$color-opaque-hover: rgba($color-medium-hover, 1);
$color-opaque-darker: rgba($color-primary-darker, 1);

@mixin hover-box-shadow() {
  border: 1px solid $color-gray-lighter;
  @include prefixer(box-shadow, 0 1px 8px $color-opaque, webkit moz ms o spec);

  &:hover {
    @include prefixer(box-shadow, 0 1px 8px $color-opaque-hover, webkit moz ms o spec);
    border: 1px solid $color-medium-hover;
  }

  &:active,
  &:focus {
    @include prefixer(box-shadow, 0 1px 8px $color-opaque-darker, webkit moz ms o spec);
    border: 1px solid $color-primary-darker;
  }
}
