.align-center {
  text-align: center;
}

.pad-bottom-mobile {
  padding-bottom: $site-margins;

  @include media($medium-screen) {
    padding-bottom: initial;
  }
}

.image-center {
  clear: both;
}

img,
figure,
svg {
  @include allow-layout-classes();
}

.marginless {
  margin: 0;
}

.small-caps {
  @include small-caps;
  margin-top: $section-margins;
}

.small-caps-no-margin {
  margin-top: 0;
}

.small-caps + h3,
.small-caps + h2, {
  margin-top: $spacer-margins;
}
