.align-center {
  text-align: center;
}

.pad-bottom-mobile {
  padding-bottom: $theme-site-margins-width;

  @include at-media('tablet') {
    padding-bottom: initial;
  }
}

.image-center {
  clear: both;
}

img,
figure,
svg {
  @include allow-layout-classes();
}

.marginless {
  margin: 0;
}

.margin-spacing {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pad-top-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-right-left {
  padding-right: 1%;
  padding-left: 1%;

  @include at-media('tablet') {
    padding-right: 4%;
    padding-left: 4%;
  }
}

.small-caps {
  @include small-caps;
  margin-top: 5rem;
}

.small-caps-no-margin {
  margin-top: 0;
}

.small-caps + h3,
.small-caps + h2, {
  margin-top: 0.5rem;
}

.sidebar-heading-border {
  padding-top: 2.3rem;
  margin-top: 4.5rem;
  border-top: 10px solid $color-medium;
}
