// Typography
$h1-font-size:       3.6rem;
$h2-font-size:       3.2rem;
$h3-font-size:       2.4rem;
$h4-font-size:		 2.2rem;
$h5-font-size:       1.4rem;
$h6-font-size:       1.2rem;

$base-font-size:	 1.8rem;

$tiny-font-size:     1.2rem;

$icon-small:         1rem;
$icon:				 1.3rem;

$font-sans:          'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-monospace:     Consolas, Monaco, "Andale Mono", monospace;


// Color
$color-light:        #b3efff; // $color-light / $color-secondary-light
$color-bright:       #00cfff; // $color-bright / $color-secondary
$color-medium:       #046b99; // $color-medium / $color-primary
$color-dark:         #1C304A; // $color-dark / $color-primary-dark
$color-base:         #1F2E4A;

$color-bright-hover: #00A7CE;
$color-medium-hover: #00547A;

$color-gray-lightest: #f1f1f1; // Adding bc used in our $border-light in this file.
$color-gray-hover   : #fafafa;

// Spacing
$section-margins:    5rem;
$paragraph-margins:  1.5rem;
$paragraph-margins-thick: 3rem;
$nav-width-extra:    88px; // width needed to add so nav doesn't break on medium-screen size
$text-max-width:     60.6rem;

// Miscellaneous
$border-accent-height: 1rem;
$border-accent:        $border-accent-height solid $color-bright;
$border-light:         1px solid $color-gray-lightest;
$border-thick:       4px solid $color-gray-lightest;
