backend:
  name: github
  repo: 18f/18f.gsa.gov
  base_url: https://federalistapp.18f.gov
  auth_endpoint: external/auth/github
  preview_context: federalist/build
  branch: main
  use_graphql: true

##
## Uncomment when doing local development on Netlify CMS
## Run `npx netlify-cms-proxy-server` to start working locally
## In another terminal, start the app with `npm start`
## See https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository
##

# backend:
#   name: git-gateway
# local_backend: true

##
##

media_folder: assets/blog
public_folder: /assets/blog
publish_mode: editorial_workflow
logo_url: https://18f.gsa.gov/assets/img/logos/18f-logo.svg

## Slug to create PR branch names
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - label: Authors
    name: authors
    folder: _authors/
    create: true
    slug: "{{name}}"
    editor:
      preview: false
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "First Name", name: "first_name", widget: "string"}
      - {label: "Last Name", name: "last_name", widget: "string"}
      - {label: "Full Name", name: "full_name", widget: "string"}
      - {label: "Published", name: "published", widget: "boolean"}
  - label: Services Projects
    name: services-projects
    create: true
    folder: _services_projects/
    slug: "{{permalink}}"
    editor:
      preview: false
    fields:
      - {label: "Agency", name: "agency", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string"}
      - {
          label: "Permalink",
          name: "permalink",
          widget: "string",
          hint: "/what-we-deliver/<agency-name>/",
          pattern: ['\/what-we-deliver\/([0-9a-zA-Z-]+)\w+\/', 'Must follow hint structure']
        }
      - {label: "Redirect From", name: "redirect_from", widget: "string", required: false}
      - {label: "Excerpt", name: "excerpt", widget: "string", default: ""}
      - {label: "Image", name: "image", widget: "string", default: ""}
      - {label: "Image Accessibility", name: "image_accessibility", widget: "string", default: ""}
      - {
          label: "Project Weight",
          name: "project_weight",
          widget: "number",
          valueType: "int",
          required: false
        }
      - {
          label: "Tag",
          name: "tag",
          widget: "select",
          options: &tagsanchor [
            "10x",
            "18f",
            "18f.gsa.gov",
            "accessibility",
            "acquisition services",
            "agency work",
            "agile",
            "agile bpa",
            "alaska",
            "analytics.usa.gov",
            "anniversary",
            "api",
            "ask 18f",
            "best practices",
            "c2",
            "calc",
            "cloud.gov",
            "code.gov",
            "collaboration tools",
            "college scorecard",
            "communicart",
            "communication tools and practices",
            "content design",
            "convincing stakeholders",
            "culture",
            "culture change",
            "data access",
            "data act",
            "day in the life",
            "demo day",
            "department of commerce",
            "department of defense",
            "department of justice",
            "department of labor",
            "design",
            "devops",
            "digital acquisition accelerator",
            "digital services movement",
            "digitalgov community",
            "discovery.gsa.gov",
            "distributed",
            "education",
            "encasement",
            "environmental protection agency",
            "eregulations",
            "evangelism",
            "events",
            "every kid in a park",
            "fbi",
            "fbopen",
            "fec.gov",
            "federal front door",
            "federalist",
            "foia",
            "forest service",
            "general services administration",
            "gov.uk",
            "guides",
            "gsa",
            "hackathons",
            "health and human services",
            "hiring",
            "how we work",
            "https",
            "hub",
            "identity",
            "interview",
            "it centralization",
            "jekyll",
            "join us",
            "legacy",
            "lessons learned",
            "login.gov",
            "machine learning",
            "micro-purchase platforms",
            "midas",
            "military",
            "modern practices",
            "modular contracting",
            "myusa",
            "nasa",
            "navy reserve",
            "national science foundation",
            "national security",
            "national technical information service",
            "navy reserve",
            "new ten",
            "onboarding",
            "open data",
            "open government",
            "open opportunities",
            "open source",
            "peace corps",
            "platforms",
            "portfolios",
            "presidential innovation fellows",
            "product",
            "product launch",
            "procurement",
            "public buildings service",
            "pulse.cio.gov",
            "rfp ghostwriting",
            "second anniversary",
            "security",
            "speaker series",
            "staff profiles",
            "state and local practice",
            "talent",
            "technical debt",
            "technical guides",
            "technology transformation services",
            "testing",
            "tools you can use",
            "training",
            "transformation services",
            "transparency",
            "treasury",
            "u.s. digital service",
            "u.s. geological survey",
            "usability",
            "uscis",
            "useiti",
            "user research",
            "user-centered design",
            "video",
            "vote.usa.gov",
            "web design system",
            "workshop"
          ]
        }
      - {label: "Expiration Date", name: "expiration_date", widget: "date", required: false}
      - {label: "Github Repo", name: "github_repo", widget: "string", required: false}
      - {label: "Project URL", name: "project_url", widget: "string", required: false}
      - {label: "Quote", name: "quote", widget: "string", required: false}
      - {label: "Resources", name: "resources", widget: "string", required: false}
      - {label: "Image Icon", name: "image_icon", widget: "string", required: false}
      - {label: "Quote Source", name: "quote_source", widget: "string", required: false}
      - {label: "Learn More", name: "learn_more", widget: "string", required: false}
      - {label: "Product Clients", name: "product_clients", widget: "list", required: false}
      - {label: "Published", name: "published", widget: "boolean", required: false}
      - {label: "Listed", name: "listed", widget: "boolean", required: false}
      - {
          label: "Body",
          name: "body",
          widget: "markdown"
        }
  - label: Posts
    name: posts
    folder: _posts/
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
      preview: false
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {
          label: "Publish Date",
          name: "date",
          widget: "datetime",
          format: 'MMMM D, YYYY',
          dateFormat: 'MMMM D, YYYY',
          timeFormat: false
        }
      - {
          label: "Authors",
          name: "authors",
          widget: "relation",
          collection: "authors",
          searchFields: ["first_name", "last_name", "full_name"],
          valueField: "name",
          displayFields: ["name"],
          multiple: true
        }
      - {
          label: "Tags",
          name: "tags",
          widget: "select",
          options: *tagsanchor,
          multiple: true,
          required: false
        }
      - {
          label: "Excerpt",
          name: "excerpt",
          widget: "string"
        }
      - {
          label: "Image",
          name: "image",
          widget: "image",
          allow_multiple: false,
          required: false
        }
      - {
          label: "Body",
          name: "body",
          widget: "markdown"
        }
  - label: Promoted content
    name: promotedcontent
    preview: false
    files:
      - label: Promoted content
        name: promoted_conent
        file: "_data/featured_blog_content.yml"
        fields:
          - label: "Topics"
            name: "topics"
            widget: "list"
            fields: 
              - {label: "Topics", name: "topic", widget: "string"}
              - {label: "Tag", name: "tag", widget: "string"}
          - label: "Posts"
            name: "promoted_posts"
            widget: "list"
            fields: 
              - {label: "Title", name: "title", widget: "string"}
              - {label: "URL", name: "url", widget: "string"}
