.page-guides {
  .graphic-list-item {
    @include grid-col(6);

    &:nth-child(2n) {
      margin-right: 0;
    }

    padding-right: units(1);

    @include at-media('tablet') {
      @include grid-col(3);
      width: 30%;
      padding-right: units(0);
    }
    img {
      max-width: 6rem;
    }
  }

  .graphic-row {
    &:first-of-type {
      @include at-media('tablet') {
        margin-bottom: 3rem;
        margin-top: 3rem;
      }
    }

    &:last-of-type {
      .graphic-list-link {
        @include at-media('tablet') {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .graphic-list-link {
    @include u-margin-y(3);
    @include media-link;
    text-decoration: none;
    width: 100%;
    color: color('primary-dark');

    &:hover {
      color: color('accent-cool');
    }

    &:visited {
      color: color('primary-dark');

      &:hover {
        color: color('accent-cool');
      }
    }
  img {
    @include u-square(10);
    }
  }

  .link-lean {
    @include at-media('tablet') {
      width: 10rem;
    }
  }
}
