// What we deliver section
// ==========================

.section-deliver {
  a {
    display: inline-block;
    margin-top: 5rem;
    font-size: $h5-font-size;

    &:visited {
      color: $color-bright;

      &:hover {
        color: $color-bright-hover;
      }
    }
  }

  p {
    font-size: $h5-font-size;
  }
}

.section-deliver-icons {
  margin-top: 4.6rem;
}

.section-deliver-icon {
  float: left;
  margin-top: 3rem;
  padding-right: $site-margins;
  width: 50%;

  &:nth-child(odd) {
    clear: left;
  }

  &:nth-child(even) {
    padding-right: 0;
  }


  @include media($medium-screen) {
    $icon-padding: 6%;
    padding-right: $icon-padding;
    width: 20%;

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(odd) {
      clear: none;
    }

    &:nth-child(even) {
      padding-right: $icon-padding;
    }
  }

  p {
    font-weight: $font-bold;
    margin-top: 2rem;
  }
}

.section-deliver-icon-img {
  min-height: 6.8rem;
  text-align: center;
}

.section-deliver-icon-government {
  margin-top: -2px;
}

.section-deliver-icon-path {
  margin-top: 8px;
}

.section-deliver-cta {
  clear: both;
}

// Blog section
// boone did this, we should do it the right way some day
section.posts_feature h2 a {
  color: #1F2E4A;
  text-decoration: none;
}

//New Feature announcement
.announcement{
  background-color: $color-light;
}

.announcement__body {
  background-image: url('../img/page-feature/info.png');
  background-repeat: no-repeat;
  background-size: $icon-size;
  background-position: 0 $spacing-md-small;
  padding: $spacing-md-small 0;
  padding-left: calc(#{$icon-size} + #{$spacing-md-small});
}

.announcement__text{
  margin: 0 auto;
}
