// What we deliver section
// ==========================

.section-deliver {
  a {
    display: inline-block;
    margin-top: 5rem;

    &:visited {
      color: color('secondary');

      &:hover {
        color: color('secondary-darker');
      }
    }
  }
}

.section-deliver-icons {
  margin-top: 4.6rem;
}

.section-deliver-icon {
  float: left;
  margin-top: 3rem;
  padding-right: $theme-site-margins-width;
  width: 50%;

  &:nth-child(odd) {
    clear: left;
  }

  &:nth-child(even) {
    padding-right: 0;
  }


  @include at-media('tablet') {
    $icon-padding: 6%;
    padding-right: $icon-padding;
    width: 20%;

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(odd) {
      clear: none;
    }

    &:nth-child(even) {
      padding-right: $icon-padding;
    }
  }

  p {
    font-weight: $theme-font-weight-bold;
    margin-top: 2rem;
  }
}

.section-deliver-icon-img {
  min-height: 6.8rem;
  text-align: center;
}

.section-deliver-icon-government {
  margin-top: -2px;
}

.section-deliver-icon-path {
  margin-top: 8px;
}

.section-deliver-cta {
  clear: both;
}

.section-mission {
  background: url(asset_url("assets/img/2people-talking.jpeg"));
  background-position: 10% center;
}
