// How we work
// ==========================

  $hww-icon-size: 3rem;

  .graphic-list {
    border-top: units(1) solid color('accent-cool');

    list-style: none;
    margin-top: 3rem;
    padding-left: 0;

    @include at-media('tablet') {
      margin-top: 0;
    }

    li {
      display: table;
      font-weight: $theme-font-weight-bold;
      margin-bottom: 0;
    }

    img {
      height: 60px;
      margin-right: units(3);
      width: $hww-icon-size;
    }

    span {
      display: inherit;
      margin-top: 16px;
      overflow: hidden;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .graphic-list-img {
    float: left;
    width: 90px;
  }

.hww-intro {
  max-width: 700px;
}

.hww-subheading {
  @include h3;
  color: $color-medium;
  margin-bottom: units(1);
  margin-top: units(.5);
}

.section-case-studies-text {
  margin-bottom: 4rem;
}

.hww-main-content {
  .grid-row {
    margin-bottom: units(5);
  }

  hr {
    margin: units(5) 0;
    border: 1px solid color($theme-color-base-lighter)
  }
}

.acq-intro {
  margin-bottom: units(5);
}
