// How we work
// ==========================

.page-how-we-work {
  .graphic-list {
    border-top: $border-accent;
    border-color: $color-medium;
    font-size: initial;
    list-style: none;
    margin-top: 3rem;
    padding-left: 0;
    padding-top: $paragraph-margins;

    @include media($medium-screen) {
      margin-top: 0;
    }

    li {
      display: table;
      font-weight: $font-bold;
      margin-bottom: 0;
    }

    img {
      height: 60px;
      margin-right: 3rem;
      width: max-content;
    }

    span {
      display: inherit;
      margin-top: 16px;
      overflow: hidden;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .graphic-list-img {
    float: left;
    width: 90px;
  }
}

.hww-intro {
  max-width: 700px;
}

.hww-subheading {
  @include h3;
  margin-bottom: 3rem;
  margin-top: 0;
}

.hww-item {
  h2 {
    @extend .small-caps;
    margin-top: 0;
  }
}

.section-case-studies-text {
  margin-bottom: 4rem;
}
