
a {
	margin: $paragraph-margins;
}

a:visited {
	color: $color-visited; 
}


.menu-btn-styleguide {
  left: 0;
  position: fixed;

  svg {
    height: $icon-diameter;
    width: $icon-diameter;

    path {
      fill: $color-white;
    }
  }
}

.color-box-group {
	margin-bottom: 2rem;
}

.color-box {
	width: 30rem;
	height: 6rem;
}

.cb-dark {
	background: $color-dark;
}

.cb-medium{
	background: $color-medium;
}

.cb-medium-hover{
	background: $color-medium-hover;
}

.cb-bright{
	background: $color-bright;
}
.cb-bright-hover{
	background: $color-bright-hover;
}

.cb-light{
	background: $color-light;
}

.cb-gray{
	background: $color-gray;
}

.cb-gray-lightest{
	background: $color-gray-lightest;
}