.usa-accordion-button-chevron {
  &[aria-expanded=false] {
    background-image: url('../img/arrow-down.png');
    background-image: url('../img/arrow-down.svg');
  }

  &[aria-expanded=true] {
    background-image: url('../img/arrow-up.png');
    background-image: url('../img/arrow-up.svg');
  }
}
