blockquote {
  border-left: $border-thick;
  margin-left: $paragraph-margins;
  margin-right: $paragraph-margins;
  padding-left: $paragraph-margins;

  cite {
    display: inline;
    font-size: $small-font-size;
    padding-left: $paragraph-margins;

    > * {
      display: inline-block;
      margin-left: $paragraph-margins;
    }
  }
}

.pquote {
  display: flex;
  flex-direction: column;
  margin-bottom: $paragraph-margins-thick;
  margin-top: $paragraph-margins-thick;

  @include media($medium-screen) {
    flex-direction: row;
  }

  blockquote {
    align-self: flex-end;
    border: 0;
    margin: 0;
    padding: 0;

    p:last-of-type {
      margin: 0;
    }
  }
}

.pquote-img,
.pquote img {
  align-self: flex-end;
  margin-bottom: $paragraph-margins;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;

  @include media($medium-screen) {
    margin-bottom: 0;
    margin-right: $paragraph-margins;
    width: 200px;
  }
}

// Select all pull quotes that are on the
// base markdown level (probably)
p ~ .pquote:not(.pquote-single) {
  img,
  blockquote {
    align-self: flex-start;
  }
}

.pquote-single {
  padding-left: $paragraph-margins-thick;
  padding-right: $paragraph-margins-thick;
}
