$banner-line-height: 1.4;

blockquote {
  border-left: 4px solid color('gray-cool-5');
  padding-left: .7rem;
  font-style: italic;

  cite {
    display: inline;
    font-size: $theme-small-font-size;

    > * {
      display: inline-block;
    }
  }
}

.pquote {
  display: flex;
  flex-direction: column;

  @include at-media('tablet') {
    flex-direction: row;
  }

  blockquote {
    align-self: flex-end;
    border: 0;
    margin: 0;
    margin-left: 1rem;
    padding: 0;

    p:last-of-type {
      margin: 0;
    }
  }
}

/// How we work block quote

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.testimonial-blockquote {
  font-size: 1em;
  width: 100%;
  margin: 3.5rem auto;
  color: color('primary-dark');
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid $theme-color-secondary-dark;
  position: relative;
  background: color('gray-cool-5');

  &::before {
    content: '\201C';
    color: color('secondary-dark');
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  ::after {
    content: '';
  }

  span {
    display: block;
    color: color('secondary-dark');
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }

}

// Does not have the quote mark, use for facts and other information to highlight
.funfact-blockquote {
  font-size: 1em;
  width: 100%;
  margin: 3.5rem auto;
  font-style: italic;
  color: color('primary-dark');
  padding: 1.2em 30px;
  border-left: 8px solid $theme-color-secondary-dark;
  position: relative;
  background: color('gray-cool-5');
}

//Home page testimonial

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.testimonial {
  color: color('base-darker');

  .testimonial__body {
    font-size: font-size('sans', 'lg');
    font-weight: 300;
    line-height: 2rem;
  }

  .testimonial__attribution {
    display: flex;
    margin-top: units(2);
    font-style: italic;
    font-size: font-size('sans', 'xs');

    p {
      margin: 0 units(1.5);
    }

    span {
      font-style: normal;
      font-weight: bold;
    }
  }
}
