@use 'uswds-core' as *;

.pagination {
  color: color('base-dark');
  font-size: font-size('body', 'sm');
  margin-top: 2rem;

  > div {
    float: left;
    width: 33%;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      a {
        float: right;
      }
    }
  }
}

.post-article figcaption {
  @include u-font('sans', 'xs');
  @include u-line-height('sans', 5);
  margin-top: units(1);
}

.post-article blockquote,
.post-article .testimonial-blockquote {
  @include u-font('sans', 'lg');
  @include u-text('italic');
  border-left: units(0.5) solid color('primary');
  color: color('primary-darker');
  margin: units(3) 0;
  padding-left: units(3);

  &:first-child {
    margin-top: 0;
  }

  span {
    @include u-font('sans', 'md');
    color: color('base-darker');
    display: block;
    font-weight: font-weight('medium');
    margin-top: units(1);
  }
}

.post-feature_image {
  background-position: center;
  background-size: cover;
  height: units('card-lg');
  margin: 0;
  position: relative;
}

.post-pagination__heading {
  @include u-font('heading', 'lg');
  @include u-text('bold');
  color: color('primary');
}

.post-pagination__link:focus,
.post-pagination__link:hover {
  .post-pagination__heading {
    color: color('primary-darker');
  }
}

.post-tag {
  @include u-font('sans','md');
  background-color: color('base-lightest');
  margin-top: units(1.5);
  margin-right: units(1.5);
  padding: units(1);
  text-decoration: none;
  text-transform: lowercase;

  &:visited {
    color: color('primary');
  }

  &:focus,
  &:hover {
    background-color: color('base-lighter');
    color: color('primary-darkest');
  }

  &:focus,
  &:hover {
    color: color('primary-darkest');
  }
}

.posts__see-all {
  @include at-media('tablet') {
    text-align: right;
  }
}

// Code block styling

pre.highlight {
  table.rouge-table {
    line-height: 1.15;
    font-size: size('mono', 'sm');

    td {
      border: none;
      padding: 0 10px;
      background-color: rgba(0, 0, 0, 0.05) !important;
    }

    td.rouge-gutter.gl {
      text-align: right;
      vertical-align: top;
      color: rgba(0, 0, 0, 0.55);
    }

    td.rouge-code {
      width: 600px; // TODO Should be the same size as the parent blog post
      vertical-align: top;

      pre {
        margin: 15px 0 0 0;
        overflow-x: auto;
        max-width: 580px; // TODO Should be the same size as the parent blog post
      }
    }
  }

}

p, li {
  code {
    font-size: size('mono', 'sm');
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1px 5px;
  }
}

// filenames
figure.highlight {
  margin-top: 30px;
  margin-left: 0px;
  pre {
    margin-bottom: -12px;
    code {
      font-size: size('mono', 'sm');
      background-color: rgba(0, 0, 0, 0.05);
      padding: 1px 5px;
    }
  }
}


// pre {
//   white-space: pre-wrap;
// }
// pre::before {
//   counter-reset: listing;
// }
// pre code {
//   counter-increment: listing;
// }
// pre code::before {
//   content: counter(listing);
//   display: inline-block;
//   width: 8px;
//   padding-left: auto;
//   margin-left: auto;
//   text-align: right;
// }

