// Blog index
// ==========================

.blog-content,
.sidebar {
  margin-top: $section-margins;
}

.blog-content {
  padding-right: 10px;
}

.sidebar {
  label {
    font-size: $h4-font-size;
    font-weight: $font-bold;
    margin-bottom: $paragraph-margins;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: $section-margins;
  }
}

.blog-search {
  width: 100%;
  padding-bottom: 4.5rem;
  margin-bottom: $paragraph-margins;
  border-bottom: 10px solid $color-primary;

  @include media($medium-screen) {
    max-width: 29rem;
  }

  label {
    margin-top: 0;
  }
}

.sidebar-callout {
  background-color: $color-gray-lightest;
  margin-bottom: 4rem;
  padding: 20px;

  ul {
    margin-bottom: 0;
  }

  li {
    margin-bottom: $paragraph-margins-thick;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sidebar-heading-topic {
  margin-top: 2.3rem;
}

.blog-footer {
  h2 {
    font-size: $base-font-size;
    font-weight: normal;
  }

  .usa-button {
    margin: 0;
  }
}

.media-link img {
  width: 100%;
}

.sidebar-icons {
  text-decoration: none;
}

.sidebar-icon-twitter {
  margin-right: 8px;
  width: 40px;
}

.sidebar-icon-rss {
  width: 40px;
}

.sidebar-icon-github {
  width: 24px;
}
