.card-with-image {
  &:visited {
    color: initial;
  }
  text-decoration: none; 
}

.card-with-image div {
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: white;


  &:focus,
  &:hover {
    border: 1px solid color('primary-dark');
  }

  &:active {
    background-color: color('base-lighter'); 
  }
}

.card-with-image--dark div {
  color: white;
  background-color: color('primary-dark');

  &:focus,
  &:hover {
    background-color: color('primary-darker');
  }

  &:active {
    background-color: color('primary-darkest'); 
  }
}

