.usa-card {

  .usa-card__img {
    height: 200px;
  }

  h6 {
    font-weight: bold;
    color: $theme-color-base-darker;
  }

  .usa-card__footer {
    font-weight: bold;
    font-size: $theme-type-scale-lg;
  }

}
