.usa-card {

  a {
    text-decoration: none;
  }

  a:focus {
    div {
      @include u-shadow(5);
      h3 {
        color: $color-dark;
      }
    }
  }

  .usa-card__container {
    @include u-shadow(2);
  }

  .usa-card__container:hover {
    @include u-shadow(5);
    h3 {
      color: $color-dark;
    }
  }

  .usa-card__img {
    height: 200px;
  }

  h6 {
    font-weight: bold;
    color: color('base-dark');
    margin-bottom: units('05');
  }

  h3 {
    color: $color-medium;
  }

  p.card-description {
    color: $color-dark;
  }

  .usa-card__footer {
    font-weight: bold;
    font-size: $theme-type-scale-lg;
    }

}
