.usa-card {

  a {
    text-decoration: none;
  }

  a:focus {

    .usa-card__container {
      @include u-shadow(5);
      h3 {
        color: $color-dark;
      }

      .card-link-tagline {
        text-decoration:underline
      }
    }
  }

  .usa-card__container {
    @include u-shadow(2);
  }

  .usa-card__container:hover {
    @include u-shadow(5);
    h3 {
      color: $color-dark;
    }

    .card-link-tagline {
      text-decoration:underline
    }
  }

  .usa-card__img {
    height: 200px;
  }

  h6 {
    font-weight: bold;
    color: color('base-dark');
    margin-bottom: units('05');
  }

  p.card-agency-name {
    font-weight: bold;
    color: color('base-dark');
    margin-bottom: units('05');
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.73rem;
    line-height: 1.2 ;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  h3 {
    color: $color-medium;
    margin-top: units(3);
  }

  p.card-description {
    color: $color-dark;
  }

  .usa-card__footer {
    font-weight: bold;
    font-size: $theme-type-scale-lg;
    }

}
