.side-cta .usa-button {
  &:visited {
    color: color('ink');
  }

  &:focus,
  &:hover {
    background-color: color('primary-dark'); 
    color: color('white');
  }

  &:active {
    background-color: color('blue-90');
    color: color('white');
  }
}
