.usa-disclaimer {
    background-color: color('gray-cool-5');
    font-size: 1.2rem;
    height: 2.3rem;

    @include at-media('mobile-lg') {
      font-size: $h6-font-size;
    }
  }

  .usa-disclaimer-official {
    display: inline-block;

    p {
      @include u-margin-y(3px);
      @include u-margin-x(0);
      display: inline-block;

      @include at-media('mobile-lg') {
        @include u-margin-y(2px);
      }
    }

    img {
      float: left;
      margin-right: 0.7rem;
      margin-top: 1px;
      width: 2rem;
    }
  }

  // This hides the stage note (i.e. alpha, beta, etc) of the disclaimer for
  // anything smaller than large screen sizes
  .usa-disclaimer-stage {
    @include u-margin-y(2px);
    display: none;
    float: right;

    @include at-media('desktop-lg') {
      display: block;
    }
  }
