// Featured and related posts
// ==========================
.featured-posts {
  ul {
    @include unstyled-list;
  }

  h2 {
    margin-bottom: units(2);

    a {
      color: color('primary-dark');
      text-decoration: none;
    }

  }

  article {
    border-top: units(1) solid color('accent-cool');
    margin-bottom: $theme-site-margins-width;

    .post-date {
      margin-top: units(1);
    }

    @include at-media('tablet') {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .post {
    margin-bottom: units(3);

    @include at-media('tablet') {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include at-media('tablet') {
      margin-bottom: 0;
    }

  }
}

.featured-posts__heading {
  margin-top: 0;
  color: color('accent-cool');
}

.post-date,
time {
  font-weight: normal;
  font-size: font-size($theme-body-font-family, 'xs');
  color: color('base-dark');
  margin-bottom: 1em;
  margin-top: units(2);
}

.post-byline {
  + .post-date,
  + time {
    white-space: nowrap;
  }
}
