// Figure
// ==========================

// Fix for IE 10 & 11 where the image overflows the grid item container and
// doesn't respect the image's max-width to fill the container.

[class^="usa-width-"],
[class*=" usa-width-"] {
  > .media_link {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 100%; // Target IE 10 & 11
    }
  }
}

figcaption {
  font-size: $theme-small-font-size;
  color: color('base-dark');
  text-align: left;

  &.align-center {
    text-align: center;
  }
}

.image-shadowed {
  @include u-shadow(2);
}

.image-reduce {
  height: 50%;
  width: 50%;
}

.right-aligned {
  float: right;
}

.right-aligned-cap {
  float: right;
}
