.usa-header {
  @if variable-exists(header-bg) {
    background-color: color($header-bg);
  }

  .usa-logo {
    a {
      @if variable-exists(header-title) {
        color: color($header-title);
      }
      align-items: center;
      display: flex;
    }

    .usa-logo-img {
      float: left;
      height: units(3);
      margin-right: units(1);

      @include at-media($theme-header-min-width) {
        margin-top: 0;
        height: units(6);
      }

      + .usa-logo__text {
        float: left;
      }
    }
  }

  &.usa-header--extended .usa-logo-img {
    @include at-media($theme-header-min-width) {
      height: units(9);
    }
  }

  .usa-nav__secondary-links {
    a {
      @if variable-exists(header-link) {
        color: color($header-link);
      }

      &:hover {
        @if variable-exists(header-link-hover) {
          color: color($header-link-hover);
        }
      }
    }
  }
}

// set color and size of bar underneath nav items
// add-bar(weight, color, side, length, offset-x)
@mixin nav-border-basic {
  @include add-bar(0.5, 'accent-cool', 'bottom', 0, 2, -0.5);
}

// usa-header--basic
// ---------------------------------

.usa-header--basic {
  @include at-media($theme-header-min-width) {
    .usa-navbar {
      position: relative;
      width: $theme-header-logo-text-width; // TODO: review this more
    }

    .usa-nav {
      @include u-flex('row', 'align-center', 'justify-end');
      display: flex;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: units(2);
      padding-left: units(1);
      width: 100%;
    }

    .usa-nav-container {
      @include u-flex('align-end', 'justify');
      display: flex;
    }

    .usa-nav__primary-item > .usa-current,
    .usa-nav__link:hover {
      @include nav-border-basic;
    }
  }
}

// The search <input>
[type="search"] {
  min-width: 0; // Fix a Firefox display quirk
  width: calc(
      #{$theme-search-min-width} + #{units($theme-button-small-width)}
  );
}
