// Header
// ==========================
.usa-disclaimer {
  font-size: 1.1rem;
}
.usa-disclaimer-official {
  display: block;
}

header[role=banner] {
  ul {
    @include unstyled-list;

    // *TODO*: De-nest this once we fix lists in WDS
    li {
      display: inline-block;

      a {
        @include padding(2.3rem 2rem);

        color: $color-gray;
        font-weight: $font-bold;
        text-decoration: none;

        &.usa-current {
          color: $color-black;

          span {
            border-bottom: $border-accent;
            padding-bottom: 1.4rem;

            @-moz-document url-prefix() {
              padding-bottom: 1.3rem; // Current nav link border highlight fix for Firefox
            }

            @media screen and (-webkit-min-device-pixel-ratio:0) {
              padding-bottom: 1.45rem; // Current nav link border highlight fix for Safari
            }
          }
        }
      }
    }
  }

  nav[role=navigation] {
    @include margin(2.15rem null);
    display: none;
    float: right;
    font-size: $small-font-size;

    @include media($medium-screen + $nav-width-extra) {
      display: block;
    }
  }
}

.site-logo {
  @include margin(1rem null);
  display: block;
  float: left;

  img {
    width: 4.4rem;
  }
}

// scss-lint:disable PropertyCount
.menu-btn {
  @include button-unstyled;
  background-color: $color-medium;
  border-radius: $border-radius;
  color: $color-white;
  display: inline;
  float: right;
  font-size: $h6-font-size;
  line-height: 4rem;
  height: 4rem;
  margin-top: 1.2rem;
  width: 5.8rem;
  text-align: center;
  text-decoration: none;

  @include media($medium-screen + $nav-width-extra) {
    display: none;
  }

  &:hover {
    color: $color-white;
    background-color: $color-dark;
  }

  &:visited {
    color: $color-white;
  }
}
// scss-lint:enable PropertyCount
