// Hero feature
// ==========================

.usa-hero--primary {
  background-image: none;
}

.page-join-18f,
.page-contact {
  .post-feature_image {
    @include at-media('tablet') {
      background-position: center 7%;
    }
  }
}
