.icon-list {
  display: flex;
  margin-bottom: $paragraph-margins;

  @include media($medium-screen) {
    margin-bottom: $paragraph-margins-thick;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.icon-list-image {
  margin: 0;
  margin-right: $site-margins;

  svg {
    width: 50px;
    height: 50px;
  }
}

.icon-list-text {
  .p-bold {
    margin-bottom: $spacer-margins;
  }

  &:last-of-type p {
    margin-top: 0;
  }
}

.icon-list-wrapper {
  padding-left: 0;
}
