a.bar-link {
  position: relative;

  &::before {
    @include transition(height, 0.1s);
    background-color: $color-bright-hover;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-bright-hover;

    &::before {
      background-color: $color-bright-hover;
      height: $border-accent-height;
      width: 100%;
    }
  }

  &:active {
    border: 1px solid $color-primary-darker;

    &::before {
      background-color: $color-primary-darker;
      height: $border-accent-height;
      width: 100%;
    }
  }
}
