.list-columns {
  @include unstyled-list();
}


.list-images {
  display: flex;
  flex-wrap: wrap;

  .list-images-item .list-images-image {
    height: auto;
    margin: 0;
    min-width: 1.5 * $icon-diameter;
    width: 1.5 * $icon-diameter;
    @include u-margin-right($paragraph-margins);
  }
}

.list-images-item {
  align-items: center;
  display: inline-flex;
  min-height: 54px;
  width: 100%;
}
