.list-columns {
  @include unstyled-list();

  li {
    @include u-margin-bottom(2);
  }
}


.list-images {
  display: flex;
  flex-wrap: wrap;

  .list-images-item .list-images-image {
    height: auto;
    margin: 0;
    min-width: 45px;
    width: 45px;
    margin-right: 12px;
  }

  .list-images-image {
    @include u-margin-right('105');
  }
}


.list-images-item {
  
  align-items: center;
  display: inline-flex;
  min-height: 54px;
  width: 100%;
}


// Project page lists

.partner-info {
  @include u-border-top(1);
  @include u-border-top('accent-cool');

  h5 {
    @include u-padding-y(2);
  }
}
