.list-columns {
  @include unstyled-list();

  li {
    margin-bottom: units(2);
  }
}


.list-images {
  display: flex;
  flex-wrap: wrap;

  .list-images-item .list-images-image {
    height: auto;
    margin: 0;
    min-width: 45px;
    width: 45px;
    margin-right: 12px;
  }

  .list-images-image {
    margin-right: units('105');
  }
}


.list-images-item {
  align-items: center;
  display: inline-flex;
  min-height: 54px;
  width: 100%;
}


// Project page lists

.partner-info {
  @include u-border-top(1);
  @include u-border-top('accent-cool');

  a {
    color: color('accent-cool');
    text-decoration: underline;
  }

  .usa-sidenav__sublist a {
    padding-left: 0;
    text-decoration: underline;

    &:hover {
      background-color: unset;
      color: color('primary-dark');
    }
  }

  h5 {
    padding: units(1) 0 units(2);
  }

  .agency-partner-name {
    line-height: 1.6rem;
  }
}
