.subnav {
  .usa-sidenav {
    @include u-border-bottom('05');
  }

  .usa-accordion__button {
    background-color: #ffffff;

    @include at-media('tablet') {
      background-image: none;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .usa-accordion__content {
    @include u-padding(0);
  }

  .usa-sidenav__sublist {
  .usa-sidenav__item:first-child {
      @include u-border-top('05');
    }
  }
}

.usa-sidenav__item {
  a {
    @include u-text('bold')
  }
}
