// Mobile sidenav
// ==========================
$sliding-panel-width: 26rem;

.nav-mobile {
  @include padding (2rem);
  @include position(fixed, 0 0 0 auto);
  @include size($sliding-panel-width 100%);
  @include transform(translateX($sliding-panel-width));
  background: $color-white;
  border-left: 1px solid $color-gray-light;
  border-right: 0;
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999999;

  .usa-sidenav-list {
    margin-top: 6rem;
  }

  &.is-visible {
    @include transform(translateX(0));
    @include transition(all 0.3s ease-in-out);
  }
}

.nav-mobile {

  @include media($medium-screen + $nav-width-extra) {
    display: none;
  }
}
