// Post pagination
// ==========================

.post-pagination {
  @include u-padding-y(2);
  @include u-border-top('base-lightest');
  @include u-border-bottom('base-lightest');
  font-weight: $theme-font-weight-bold;

  .grid-col-6 {
    &:last-child {
      @include at-media('tablet') {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  a {
    color: $theme-color-secondary-dark;
    text-decoration: none;

    &:hover {
      color: $theme-color-secondary-darker;
    }

    h5 {
      color: $theme-color-base;
      margin-top: 1rem;
    }
  }
}
