// Post list
// ==========================

.post-list {
  @include unstyled-list;

  h3 {
    font-size: font-size('sans', 'xl');
    line-height: lh('heading', 3);

    a,
    a:visited {
      color: color('base-darker');
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    + .post-byline {
      margin-top: units(1);
    }
  }

  li {
    border-bottom: 1px solid color('base-lightest');
    display: inline-block;
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .media_link {

    @include at-media('tablet') {
      float: left;
      margin-top: 0;
    }
  }

  img {
    width: 100%;
  }
}

.post-click-target {
  text-decoration: none;

  &:visited,
  &:hover,
  &:focus,
  &:hover:visited,
  &:hover:focus {
    text-decoration: none;
    color: color('ink');
  }

  p {
    color: color('ink');
    text-decoration: none;
  }
}

