// Post pagination
// ==========================

@mixin widget-small() {
  @include u-padding-y(2);
  border-bottom: 1px solid $theme-color-base-lightest;
  border-top: 1px solid $theme-color-base-lightest;
  font-size: $theme-h5-font-size;
  font-weight: $theme-font-weight-bold;
}

.post-pagination {
  @include widget-small;

  .grid-col-6 {
    &:last-child {
      @include at-media('tablet') {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  a {
    color: $theme-color-secondary-dark;
    text-decoration: none;

    &:hover {
      color: $theme-color-secondary-darker;
    }

    h5 {
      color: $theme-color-base;
      margin-top: 1rem;
    }
  }
}
