// Post feature
// ==========================
.posts_feature {
  > ul {
    @include unstyled-list;
  }

  .post-excerpt {
    font-size: 1.7rem;
  }

  article {
    border-top: $border-accent;
    margin-bottom: $site-margins;
    padding-top: $site-margins;

    @include media($medium-screen) {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .post {
    margin-bottom: $paragraph-margins-thick;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media($tablet-screen) {
      margin-bottom: 0;
    }
  }
}

.posts_feature-heading {
  margin-top: 0;

  a {
    color: $color-base;
  }
}

.post-date,
time {
  font-weight: normal;
  font-size: $h5-font-size;
  color: $color-gray;
  margin-bottom: $paragraph-margins-thick;
}

.post-byline {
  + .post-date,
  + time {
    white-space: nowrap;
    margin-bottom: $paragraph-margins-thick;

    &::before {
      content: '\2022';
      height: 1em;
      width: 1em;
      margin-right: 1rem;
      margin-left: $spacer-margins; // to accommodate for adjoning p margin
      color: $color-gray;
      font-size: 0.8em;
    }
  }
}

.post-border {
  border-bottom: $border-accent-medium;
  padding-bottom: $paragraph-margins-thick;
}
