// Post meta
// ==========================

.post-byline {
  color: $color-gray;
  font-size: $h5-font-size;
  display: inline-block;
}

.post-author {
  color: $color-medium;
  text-decoration: none;

  &:visited {
    color: $color-medium;
  }
}

.post-author-comma {
  margin-left: -3px;
}

// currently a bullet, which renders too large when at the same size as the font
.post-meta-separator {
  color: $color-gray;
  font-size: 0.8em;
}

.post-tags {
  display: block;
  margin-bottom: $paragraph-margins-thick !important;
  a {
    @include padding(0.6rem null);
    background-color: $color-gray-lightest;
    color: $color-medium;
    display: inline-block;
    font-size: $h6-font-size;
    line-height: 1;
    margin-bottom: 4px;
    margin-right: 0;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      background-color: $color-gray-hover;
    }

    &:hover,
    &:visited {
      color: $color-medium-hover;
    }
  }
}
