// Post pagination
// ==========================

@mixin widget-small() {
  @include u-padding-y(2);
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  font-size: $h5-font-size;
  font-weight: $theme-font-weight-bold;
}

.post-pagination {
  @include widget-small;

  .grid-col-6 {
    &:last-child {
    
      @include at-media('tablet') {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  a {
    color: $color-medium;
    text-decoration: none;

    &:hover {
      color: $color-medium-hover;
    }

    h5 {
      color: $color-base;
      margin-top: 1rem;
    }
  }
}
