// Post feature
// ==========================
.posts_feature {
  > ul {
    @include unstyled-list;
  }

  article {

    @include u-border-top(1);
    @include u-border-top('secondary');
    // border-top: $theme-color-secondary solid;
    margin-bottom: $theme-site-margins-width;
    padding-top: 1rem;

    @include at-media('tablet') {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .post {

    &:last-of-type {
      margin-bottom: 0;
    }

    @include at-media('tablet') {
      margin-bottom: 0;
    }
  }
}

.posts_feature-heading {
  margin-top: 0;
  color: color('accent-cool');
}

.post-date,
time {
  font-weight: normal;
  font-size: font-size($theme-body-font-family, 'xs');
  color: color('base-dark');
  margin-bottom: 1em;
  margin-top: units(2);
}

.post-byline {
  + .post-date,
  + time {
    white-space: nowrap;
  }
}

.post-border {
  border-bottom: $theme-color-secondary;
}
