// Post meta
// ==========================

.post-byline {
  color: color('gray-cool-60');
  font-size: $h5-font-size;
  display: inline-block;
}

.post-author {
  color: $color-medium;
  text-decoration: none;

  &:visited {
    color: $color-medium;
  }
}

.post-author-comma {
  margin-left: -3px;
}

// currently a bullet, which renders too large when at the same size as the font
.post-meta-separator {
  color: color('gray-cool-60');
  font-size: 0.8em;
}

.post-tags {
  display: block;
  margin-bottom: 3rem !important;
  a {
    @include u-padding('05');
    @include u-margin('05');

    background-color: color('gray-cool-5');
    color: $color-medium;
    display: inline-block;
    font-size: $h6-font-size;
    line-height: 1;
    margin-bottom: 4px;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      background-color: $color-gray-hover;
    }

    &:hover,
    &:visited {
      color: $color-medium-hover;
    }
  }
}
