// Post meta
// ==========================

.back-blog {
  text-decoration: none;
  font-weight: bold;
  @include u-font('sans', 'xs');
}

.post-feature_image {
  background-position: center;
  background-size: cover;
  height: units('card-lg');
  margin: 0;
  position: relative;
}

.post-byline {
  color: color('base-dark');
  display: inline-block;
}

.post-author {
  @include u-color('secondary-dark');
  text-decoration: none;

  &:visited {
    @include u-color('secondary-dark');
  }
}

.post-author-comma {
  margin-left: -3px;
}

// currently a bullet, which renders too large when at the same size as the font
.post-meta-separator {
  color: color('base-dark');
  font-size: 0.8em;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: units(2);

  a {
    padding: units(1);
    margin: units('05');
    margin-right: units(1);
    margin-left: 0;

    background-color: color('gray-cool-5');
    color: color('secondary-dark');
    display: inline-block;
    font-size: font-size($theme-body-font-family, 'xs');
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;


    &:hover {
      background-color: color('base-lightest');
    }

    &:hover,
    &:visited {
      color: color('secondary-darker');
    }
  }
}

.post-excerpt {
  margin-top: units(2);
}

.post-content {
  margin-top: 18px;
}

// Post pagination
// ==========================

.post-pagination {
  padding: units(2) 0;
  @include u-border-y('base-lightest');
  @include u-border-y('1px');
  font-weight: $theme-font-weight-bold;

  .grid-col-6 {
    &:last-child {
      @include at-media('tablet') {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  a {
    color: color('secondary-dark');
    text-decoration: none;

    &:hover {
      color: color('secondary-darker');
    }

    h5 {
      color: color('base');
      margin-top: 1rem;
    }
  }
}
