.section-info {
  background: $color-gray-lightest;
  border-top: 1px solid $color-white;
  font-size: initial;
  padding: 0;

  @include media($medium-screen) {
    background: none;
    padding-right: $site-margins;

    > ul:first-of-type {
      border-top: $border-thick;
      border-color: $color-dark;
      padding-top: $paragraph-margins;
    }
  }

  ul {
    @include unstyled-list;

    background: $color-gray-lightest;
    border-top: 1px solid $color-gray-lighter;
    padding-bottom: $site-margins;
    padding-top: $paragraph-margins;

    @include media($medium-screen) {
      background: $color-white;
      border: 0;
      padding: 0;
    }
  }

  a {
    overflow-wrap: break-word;
  }

  .section-info-list-item {
    padding-bottom: $site-margins;
    padding-left: $site-margins;
    padding-right: $site-margins;

    @include media($medium-screen) {
      background-color: $color-white;
      padding-left: 0;
      padding-right: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .section-info-button {
    @include media($medium-screen) {
      padding-left: 0;
      padding-top: $section-margins;
    }
  }
}

.section-info-header {
  font-weight: $font-bold;
}
