.section-cta {
  img {
    margin-bottom: 2rem;

    @include at-media('desktop-lg') {
      margin-bottom: 0;
    }
  }

  p {
    @include h3;
    line-height: $theme-heading-line-height;
    max-width: 44ch;
  }
}
