.section-info {
  background: color('gray-cool-5');
  font-size: initial;

  @include at-media('tablet') {
    background: none;
    padding-bottom: 0;

    > ul:first-of-type {
      border-top: $border-accent;
      border-color: $color-medium;
      padding-top: $paragraph-margins;
    }
  }

  blockquote {
    border-left: none;
    color: $color-medium;
    font-size: $h4-font-size;
    line-height: $banner-line-height;
    margin: 0;
    margin-bottom: $theme-site-margins-width;
    padding-left: 0;
  }

  p {
    margin: 0;
  }

  > ul {
    @include unstyled-list;

    background: color('gray-cool-5');

    @include at-media('tablet') {
      background: color('white');
    }

    ul:not(.usa-unstyled-list) {
      padding-left: $paragraph-margins;
      margin-top: $spacer-margins;

      li {
        line-height: $banner-line-height;
        list-style-type: disc;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    overflow-wrap: break-word;
  }

  .section-info-list-item {
    padding-bottom: $theme-site-margins-width;
    padding-right: $theme-site-margins-width;

    @include at-media('tablet') {
      background-color: color('white');
      padding-left: 0;
      padding-right: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.section-info-header {
  font-weight: $theme-font-weight-bold;
}
