.section-info {
  background: $color-gray-lightest;
  font-size: initial;

  @include media($medium-screen) {
    background: none;
    > ul:first-of-type {
      border-top: $border-thick;
      border-color: $color-dark;
      padding-top: $paragraph-margins;
    }

    blockquote {
      font-size: $h3-font-size;
      color: $color-medium;
      border-left: none;
    }
  }

  ul {
    @include unstyled-list;

    background: $color-gray-lightest;

    @include media($medium-screen) {
      background: $color-white;
    }

    ul {
      li {
        line-height: $heading-line-height;
        padding-top: $paragraph-margins;
      }
    }
  }

  a {
    overflow-wrap: break-word;
  }

  .section-info-list-item {
    padding-bottom: $site-margins;
    padding-right: $site-margins;

    @include media($medium-screen) {
      background-color: $color-white;
      padding-left: 0;
      padding-right: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.section-info-header {
  font-weight: $font-bold;
}
