.usa-social-link--github {
  background-image: url('../img/social-icons/svg/github-dark.svg'), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
  }
.usa-social-link--linkedin {
  background-image: url('../img/social-icons/svg/linkedin.svg'), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
  }
