.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &.sticky-subnav {
    max-height: 100%;
    overflow: auto;
  }

  &.stuck .nav-subnav {
    padding-top: $site-margins;
  }
}

.sticky::before,
.sticky::after {
  content: '';
  display: table;
}
