.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-right: 0;

  @include media($medium-screen) {
    padding-right: $paragraph-margins;
  }

  &.sticky-subnav {
    max-height: 100%;
    overflow: auto;
  }
}

.sticky::before,
.sticky::after {
  content: '';
  display: table;
}


.sticky-subnav {
  ul {
    background: $color-white;

    &[aria-hidden="true"] {
      display: none;
    }
  }

  @include media($medium-screen) {
    ul[aria-hidden="true"] {
      display: inline-block;
    }

    button {
      background: $color-white;
      border-bottom: 1px solid $color-gray-lighter;

      &[aria-expanded] {
        background: $color-white;
      }

      &:hover,
      &:active,
      &:focus {
        background: $color-white;
        cursor: default;
      }
    }
  }
}
