// Tag index
// ==========================

.page-tag-results {
  .post-list {
    li {
      &:first-child {
        border-top: $border-light;
        padding-top: $section-margins;
      }
    }
  }

  .post-list-no-padding {
    li:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }
}
