// Tag index
// ==========================

.page-tag-results {
  .hero {
    min-height: 250px;
    padding: $section-margins;
  }

  .hero-callout {
    padding: $paragraph-margins-thick;
  }

  .post-list {
    li {
      &:first-child {
        border-top: $border-light;
        padding-top: $section-margins;
      }
    }
  }

  .post-list-no-padding {
    li:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }
}


.page-tag-results-content {
  h4 {
    @include small-caps;
    margin-top: $section-margins;
  }

  h4 + h3,
  h4 + h2, {
    margin-top: 0;
  }
}
