// Tag index
// ==========================

.page-tag-results {
  .hero {
    min-height: 250px;
  }

  .post-list {
    li {
      &:first-child {
        border-top: $theme-color-base-light;
      }
    }
  }

  .post-list-no-padding {
    li:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }
}
