<div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic usa-header--basic-megamenu" role="banner">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="header-logo">
          <a
            href="{{ site.baseurl }}/"
            title="Home"
          >
            <img
                class="usa-logo-img"
                src="{{site.baseurl}}/assets/img/logos/18f-logo.svg"
                alt="18F home page"
            >
          </a>
        </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <!-- usa-nav__inner div removed to fit navigation -->
    <nav role="navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="{{ site.baseurl }}/assets/uswds/img/usa-icons/close.svg" alt="close">
      </button>
      {%- assign primary_links = site.data.navigation.primary -%}
      {%- if primary_links -%}
      <ul class="usa-nav__primary usa-accordion">
        {% for _section in primary_links %}
        <li class="usa-nav__primary-item">
        {% if _section.links %}
          {% assign section_links = site.data.navigation[_section.links] | default: _section.links %}
          {% assign _section_id = _section.id %}
          {% unless _section_id %}{% assign _section_id = 'nav-' | append: forloop.index %}{% endunless %}
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="{{ _section_id }}">
            <span>{{ _section.text }}</span>
          </button>
          <div id="{{ _section_id }}" class="usa-nav__submenu usa-megamenu">
            <div class="grid-row grid-gap-4">
              {% for _link in section_links %}
                <!-- wrap every 3 links in a usa-megamenu-col div -->
                {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
                  {% if modulo == '1' %}
                  <div class="desktop:grid-col-3">
                    <ul class="usa-nav__submenu-list">
                  {% endif %}
                      <li class="usa-nav__submenu-item">
                        <a href="{% if _link.external %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">{{ _link.text }}</a>
                      </li>
                  {% if modulo == '0' or forloop.last %}
                    </ul>
                  </div>
                  {% endif %}
              {% endfor %}
            </div><!-- /grid-row -->
          </div>
        {% else %}
          {% assign nav_item_class = "" %}
          {% assign current_item  = "" %}
        {%- if _section.class -%}
          {% assign nav_item_class = _section.class %} 
        {%- elsif _section.href contains '/contact' -%}
          {% assign nav_item_class = "usa-button an18f-button--dark margin-top-3 desktop:margin-top-0 desktop:margin-x-2"  %}
        {%- else -%} 
          {% assign nav_item_class = "usa-nav__link" %}
        {%- endif -%} 
        {% if _section.href == page.permalink %} 
          {% assign current_item = "usa-current" %}
        {% endif %} 
        {% if _section.href == '/blog/' and page.permalink == False -%} 
          {% assign current_item = "usa-current" %}
        {% endif -%}
          <a class="{{ nav_item_class }} {{ current_item }}"
             href="{%- if _section.external -%} {{ _section.href }} {%- else -%} {{ _section.href | relative_url }} {%- endif -%}"><span>{{ _section.text }}</span>
          </a>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if site.search_site_handle  %}
      <a href="https://search.usa.gov/search?utf8=%E2%9C%93&affiliate=18F-site&query=&commit="
         class="usa-button padding-x-2"
      >
        <img src="{{site.baseurl}}/assets/uswds/img/usa-icons-bg/search--white.svg"
             alt="Search"
        >
      </a>
      {% endif %}
    </nav>
  </div>
</header>
