.card-image-bg {
  display: none !important;
}

.card-banner {
  padding: 0 !important;
}

.card-cta {
  margin: 0;
}

.card-description {
  margin-top: 0 !important;
}

.card-link {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

.list-columns .usa-width-one-third {
  width: 100% !important;
}

.list-images,
.list-images-item {
  display: block !important;
}

.card-link-tagline > * {
  margin: 0 !important;
}
