---
layout: bare
title: Dashboard
permalink: /dashboard/
---

<section class="dashboard">
  <h1>{{page.title}}</h1>
  <p class="lead">We are building digital services for the American people. Follow our progress and get involved here.</p>
  <section class="dashboard-projects">
    <header class="dashboard-projects-headings">
      <div><h1>Project</h1></div>
      <div><h1>Partners</h1></div>
      <div><h1>Description</h1></div>
    </header>

    {% for project in site.data.projects %}
      {% if project.status != 'Hold' %}
        <pre>{{project}}</pre>

      <article class="dashboard-projects-content">
        <div>
          <h1>{{project.project}}</h1>
          <p class="status">{{project.status}}</p>
          <p class="issues">Open issues: {{project.issues}}<p>
        </div>
        <div><p>{{project.client}}</p></div>
        <div>
          <p>{{project.description}}</p>
          <p><i class="icon-github2"></i> <a href="{{project[2]}}">{{project.github}}</a></p>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </section>
</section>
