---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark">
  <section class="hero hero-primary">
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-one-third usa-width-tablet">
        <h2>We work with federal agencies to successfully deliver efficient, easy-to-use digital services.</h2>
        {% oembed https://twitter.com/monfresh/status/519297925965684736 %}
        <a href="{{ site.baseurl }}/hire/" tabindex="-1"><button class="usa-button usa-button-big usa-button-secondary">Get in touch</button></a>
      </div>
    </div>
  </section>
</section>

<section class="usa-section usa-grid">
  <h2>We support your mission</h2>
  <section>
    <section class="usa-width-one-half usa-width-short-one">
      <h3 class="p-line-height p-weight pad-bottom-mobile">As an office within the General Services Administration, we know how to work with government. Work with us to plan successful projects, build custom software, get better results with vendors, or learn how to work in new ways.</h3>
    </section>
    <aside class="usa-width-one-half usa-width-shift-one">
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/monitor.svg %}</figure>
        <div class="icon-list-text">
          <p class="paragraph-bold">Improve public-facing services like websites or applications</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/gavel.svg %}</figure>
        <div class="icon-list-text">
          <p class="paragraph-bold">Implement new laws or mandates while moving your agency forward</p>
        </div>
      </div>
      <div class="icon-list">
        <figure class="icon-list-image">{% include svg/icons/folderwithclock.svg %}</figure>
        <div class="icon-list-text">
          <p class="paragraph-bold">Digitize and streamline internal systems to reduce risk and save time</p>
        </div>
      </div>
    </aside>
  </section>
</section>

<section class="usa-section background-gray">
  <section class="usa-grid">
    <h2>Featured projects</h2>
    {% include card-project.html
       project='fec-gov'
    %}
    {% include card-project.html
       project='hhs-states'
    %}

    {% include card-project.html
       project='doi-every-kid-in-a-park'
    %}
  </section>
</section>
<section class="usa-grid usa-section posts_feature">
  <h2><a href="{{ site.baseurl }}/blog/">Recent blog posts</a></h2>
  <ul>
    {% for post in site.posts limit:3 %}
      {% include post.html
         post_date=post.date
         post_title=post.title
         post_excerpt=post.excerpt
         post_url=post.url
      %}
    {% endfor %}
  </ul>
</section>
