---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark usa-section">
  <div class="usa-grid content-focus align-center">
    <h1>We help federal agencies meet their missions</h1>
    <!-- <h1>We help agencies approach technology projects in new ways</h1> -->
    <a href="{{ site.baseurl }}/what-we-deliver/"><button class="usa-button usa-button-big usa-button-secondary">What we deliver</button></a>
  </div>
</section>
<section class="usa-grid usa-section">
  <h2>Featured projects</h2>
  {% include card-project.html
     project='fec-gov'
  %}
  {% include card-project.html
     project='hhs-states'
  %}
</section>
<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <h2>Building 21st century digital government</h2>
  </div>
  <div class="usa-width-two-thirds">
    <p>18F is an office of the General Services Administration, and we help federal agencies solve several kinds of problems. We can work with you to improve your public-facing services, implement new laws or mandates, or improve your internal systems.</p>
    <p>Work with us to plan successful projects, choose better vendors, build custom software, or learn how to work in new ways.</p>
    <!-- <p>18F works with federal agencies to improve processes and deliver efficient, easy-to-use digital services to the public.</p>
    <p>As an office within the General Services Administration, we know how to work with government. All our projects support agencies in transforming how they deliver digital services and technology products.</p> -->
  </div>
</section>
<section class="background-dark usa-section">
  <div class="usa-grid content-focus align-center">
    <h2>Want to see if 18F can help your agency?</h2>
    <a href="{{ site.baseurl }}/hire/"><button class="usa-button usa-button-big usa-button-secondary">Contact us</button></a>
    <!-- <h3>Let’s work together to tackle your agency’s technology problems and transform how you serve the public.</h3> -->    
  </div>
</section>
<section class="usa-grid usa-section posts_feature">
  <h2><a href="{{ site.baseurl }}/blog/">From our blog</a></h2>
  <ul>
    {% for post in site.posts limit:3 %}
    <li class="usa-width-one-third">
      <article>
        <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
        <h3 class="posts_feature-heading">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.excerpt }}</p>
        <p>
          <a class="link-arrow-right post-link-continue_reading" href="{{ post.url | prepend: site.baseurl }}">Continue reading<span class="usa-sr-only">{{ post.title }}</span></a>
        </p>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
