---
layout: default
permalink: /
---

<section class="splash" style="" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <img src="/assets/images/logo-18f.png" alt="18F logo" class="logo fadeIn" />
  <h1>Building the 21st century digital government.</h1>
  <ul role="presentation" class="rslides">
    <li>
      <img src="/assets/images/slideshow/flickr-bay-bridges.jpg" alt="New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)">
      <div class="caption">
        <i class="icon-camera"></i><a href="http://www.flickr.com/photos/photogism/9903236524">New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)</a>
      </div>
    </li>
    <li>
      <img src="/assets/images/slideshow/energy-olympus-supercomputer.jpg" alt="The Olympus Supercomputer (ENERGY.GOV)">
      <div class="caption">
        <i class="icon-camera"></i><a href="http://energy.gov/articles/photo-week-olympus-supercomputer">The Olympus Supercomputer (ENERGY.GOV)</a>
      </div>
    </li>
    <li>
      <img src="/assets/images/slideshow/flickr-wind-technology.jpg" alt="National Renewable Energy Laboratory (ENERGY.GOV)">
      <div class="caption">
        <i class="icon-camera"></i><a href="http://www.flickr.com/photos/departmentofenergy/9396316654/">National Renewable Energy Laboratory (ENERGY.GOV)</a>
      </div>
    </li>
  </ul>
</section>

<section class="container" itemscope itemtype="https://schema.org/GovernmentOrganization">
  <div class="mantra" itemprop="description">
    <h1>
      <strong>Delivery</strong> is the strategy.
    </h1>
    <p>
      Built in the spirit of America's top tech startups, 18F is a team of top-notch designers, developers, and product specialists inside the <a href="http://gsa.gov">General Services Administration,</a> headquartered at 18 and F streets in Washington, D.C. 18F is a civic consultancy for the government, inside the government, enabling agencies to rapidly deploy tools and services that are easy to operate, cost efficient, and reusable.
    </p>
    <p>
      We are transforming government from the inside out, creating cultural change by working with teams inside agencies who want to <strong>create great services for the public.</strong>
    </p>
  </div>
</section>

<section class="services" itemprop="makesOffer">
  <div class="header">
    <div class="container-fluid">
      <h1>our work</h1>
    </div>
  </div>
  <article class="container service-entry" itemprop="department">
    {% for service in site.data.services %}
      <div class="service-title">
        <h1><a href="{{ service.link }}" class="service-title" itemprop="name">{{ service.display }}</a></h1>
      </div>
      <div class="service-snippet">
        <p>{{ service.description }}</p>
        <p>Learn more about {{ service.cta }}.</p>
      </div>
    {% endfor %}
</section>
<section id="news" class="blog">
  <div class="header">
    <div class="container-fluid">
      <h1>blog</h1>
    </div>
  </div>

  <article class="container blog-entry" itemprop="about" itemscope itemtype="http://schema.org/about">

    {% for post in site.posts limit:3 %}
      <div class="blog-title">
        <h1 itemprop="headline">
          <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
        </h1>
      </div>
      <div class="blog-meta">
        <p>
          Posted on <span class="blog-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_long_string }}</time></span>.
        </p>
        {% include byline.html context="post" %}
        <p>
          Tagged /
          <span class="blog-tags" itemprop="keywords">
            {% for tag in post.tags %}
              <a href="/{{site.tag_dir}}/{{ tag | slugify }}" title="click to read other posts tagged: {{tag}}">{{ tag }}</a>
              /
            {% endfor %}
          </span>
        </p>
      </div>
      <div class="blog-snippet" itemprop="articleBody">
        <p>{{ post.excerpt | strip_html }}</p>
        <p><a href="{{ post.url }}">Continue reading &ldquo;{{ post.title }}&rdquo;...</a></p>
      </div>
    {% endfor %}

    <div class="blog-all">
      <a href="/news/">See all blog posts.</a>
    </div>
  </article>

</section>

<section id="contact" class="contact">
  <div class="header">
    <div class="container-fluid">
      <h1>
        contact
      </h1>
    </div>
  </div>
  <div class="container contact-box">
    <div class="contact-form">
      <form action="https://gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=cbc418738b" method="post" id="contact-form">
      <div class="form-group"><label class="sr-hide" for="FULLNAME">Your name</label><input type="text" placeholder="Your Name" id="FULLNAME" name="FULLNAME" /></div>
      <div class="form-group"><label class="sr-hide" for="EMAIL">Your email address (required)</label><input type="text" placeholder="your@email-address.com" id="EMAIL" required name="EMAIL" /></div>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_6f1977de9eff4c384dc8d6527_cbc418738b" tabindex="-1" value=""></div>
      <input type="submit" class="button" value="Sign Up for More Information" />
      </form>
    </div>
    <div class="contact-words">
      <p>Leave us your name and email if you'd like more information about the way we work.</p>
      <p class="small">Your privacy and security are important to us, we'll only share your information as described in <a href="http://www.gsa.gov/portal/content/116609">GSA's Privacy and Security Notice</a>.</p>
    </div>
  </div>
</section>
