---
layout: default
permalink: /
---
<aside class="usa">
  <div class="container">
    <p>
      An official website of the United States Government <img class="flag" src="assets/images/us_flag_small.png">
    </p>
  </div>
</aside>

<!-- begin slideshow -->
<section class="splash">
  <img src="/assets/images/logo-18f.png" alt="18F logo" class="logo fadeIn" />
  <h1>Building the 21st century digital government.</h1>
  <ul role="presentation" class="slideshow">
      <li>
        <figure>
          <img src="/assets/images/slideshow/flickr-bay-bridges.jpg" alt="New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)"/>
          <figcaption>
            <i class="icon-camera"></i><a href="http://www.flickr.com/photos/photogism/9903236524">New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/assets/images/slideshow/energy-olympus-supercomputer.jpg" alt="The Olympus Supercomputer (ENERGY.GOV)" />
          <figcaption>
            <i class="icon-camera"></i><a href="http://energy.gov/articles/photo-week-olympus-supercomputer">The Olympus Supercomputer (ENERGY.GOV)</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img src="/assets/images/slideshow/flickr-wind-technology.jpg" alt="National Renewable Energy Laboratory (ENERGY.GOV)" />
          <figcaption>
            <i class="icon-camera"></i><a href="http://www.flickr.com/photos/departmentofenergy/9396316654/">National Renewable Energy Laboratory (ENERGY.GOV)</a>
          </figcaption>
        </figure>
      </li>
  </ul>
</section>
<!-- end slideshow -->

<!-- begin slideshow -->
<!-- <div class="jumbotron slideshow-wrapper">
  <img id="logo" src="/assets/images/logo-18f.png" alt="18F logo" class="fadeIn" />

  <div class="container-fluid fadeIn">
    <h1>
      Building the 21st century digital government.
    </h1>
    <span class="photo-credit"></span>
  </div>

  <div id="slideshow" class="fadeIn">
    <div class="slide" style="background-image: url(/assets/images/slideshow/flickr-bay-bridges.jpg); background-position: 25% 40%;" data-caption="<a href='http://www.flickr.com/photos/photogism/9903236524' class='link'>New and old San Francisco Bay Bridge at sunset (Shelly Prevost on Flickr)</a>"></div>
    <div class="slide" style="background-image: url(/assets/images/slideshow/energy-olympus-supercomputer.jpg); background-position: 50% 50%;" data-caption="<a href='http://energy.gov/articles/photo-week-olympus-supercomputer' class='link'>The Olympus Supercomputer (ENERGY.GOV)</a>"></div>
    <div class="slide" style="background-image: url(/assets/images/slideshow/flickr-wind-technology.jpg); background-position: left top;" data-caption="<a href='http://www.flickr.com/photos/departmentofenergy/9396316654/' class='link'>National Renewable Energy Laboratory (ENERGY.GOV)</a>"></div>
  </div>
</div> -->
<!-- end slideshow -->
<section class="container">
  <div class="mantra">
    <h1>
      <strong>Delivery</strong> is the strategy.
    </h1>
    <p>
      <strong>18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.</strong> We help agencies deliver on their mission through the development of digital and web services. Our newly formed organization, within the <a href="http://gsa.gov">General Services Administration</a>, encompasses the <a href="http://wh.gov/innovationfellows">Presidential Innovation Fellows</a> program and an in-house digital delivery team.
    </p>
    <p>
       We’re doers, recruited from the most innovative corners of industry and the public sector, who are passionate about driving efficiency, transparency, and savings for government agencies and the American people. <strong>We make easy things easy, and hard things possible.</strong>
    </p>
  </div>
</section>

<section class="blog">
  <div class="header">
    <div class="container-fluid">
      <h1>&lt; news /&gt;</h1>
    </div>
  </div>
  <div class="container">
    {% for post in site.posts limit:3 %}
    <div class="blog-entry">
      <div class="row">
        <div class="col-md-12">
          <h4><a href="{{ post.url }}" class="blog-title">{{ post.title }}</a></h4>
        </div>
        <div class="col-md-3 blog-md">
          <span class="blog-date">{{ post.date }}</span><br>
          <span class="blog-tags"><a href="">{{ post.tags | array_to_sentence_string }} </a></span>
          <span class="blog-authors">{{ post.authors }}</span>
        </div>
        <div class="col-md-9 blog-snippet">
          {{ post.excerpt }}<a href="{{ post.url }}">Continue reading...</a>
        </div><!-- col-md-9 -->
      </div><!-- row -->
    </div><!-- blog-entry -->
    {% endfor %}
    <div class="row">
      <div class="col-md-12 text-center"><h5><a href="http://18fblog.tumblr.com/">Read all blog entries.</a></h5></div>
    </div>
  </div>
</section>

<section class="team">
  <div class="header">
    <div class="container-fluid">
      <h1>&lt; team /&gt;</h1>
    </div>
  </div>
  <div class="container">
    {% for member in site.data.team %}
    <div class="col-md-3 col-sm-6 col-xs-6 bio">
      <img class="img-circle team-img" src="/assets/images/team/{{member.name}}-bw.jpg" data-color="/assets/images/team/{{member.name}}.jpg" alt="Photo of {{ member.full_name }}">
      <h4>{{ member.full_name }}</h4>
    </div>
    {% endfor %}
  </div>
</section>


<section class="contact">
  <div class="header">
    <div class="container-fluid">
      <h1>
        &lt; contact /&gt;
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="col-md-7 col-md-push-5">
      <p class="lead">Leave us your name and email if you'd like more information about the way we work.</p>
      <p class="small">Your privacy and security are important to us, and we'll never share your information. Please see <a href="http://www.gsa.gov/portal/content/116609">GSA's Privacy and Security Notice</a> for more information.</p>
    </div>
    <div class="col-md-4 col-md-pull-7">
      <form action="http://hydra.gsa.gov/cgi-bin/listserv.pl" method="post" id="contact-form">
      <input value="listserv@listserv.gsa.gov" type="hidden" name="recipient" /> <input value="18f" type="hidden" name="subject" /><input value="email" type="hidden" name="required" /><input value="https://18f.gsa.gov/thank-you.html" type="hidden" name="redirect" /><input checked="checked" name="subscribe_or_signoff" id="Subscribe" value="SUBSCRIBE 18f" type="hidden" />
      <div class="form-group"><input class="form-control input-lg" type="text" placeholder="Your Name" name="realname" /></div>
      <div class="form-group"><input class="form-control input-lg" type="text" placeholder="your@email-address.com" id="email" name="email" /></div>
      <input type="submit" class="btn btn-success btn-lg btn-block" value="Sign Up for More Information" />
      </form>
    </div>
  </div>
</section>
