---
layout: default
permalink: /
---

<!-- this is the section in question-->
<section class="splash" style="" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <img src="{{ site.baseurl }}/assets/images/18F-Logo.svg" alt="18F logo" class="logo fadeIn" />
  <h1>Building the 21st century digital government.</h1>
    <img class="wallpaper" src="{{ site.baseurl }}/assets/images/slideshow/energy-olympus-supercomputer.jpg" alt="The Olympus Supercomputer (ENERGY.GOV)">
    <div class="caption">
      <i class="icon-camera"></i><a href="http://energy.gov/articles/photo-week-olympus-supercomputer">The Olympus Supercomputer (ENERGY.GOV)</a>
    </div>
</section>

<section class="container" itemscope itemtype="https://schema.org/GovernmentOrganization">
  <div class="mantra" itemprop="description">
    <h1>
      <strong>Delivery</strong> is the strategy.
    </h1>
    <p>
      18F is an office inside the General Services Administration that helps other federal agencies build, buy, and share efficient and easy-to-use digital services. We’re a team of technology experts that work with agencies to diagnose problems and then work alongside agency teams to find the right solutions.
    </p>
    <p>
      Headquartered at 18 and F streets in Washington, D.C., we’re an office of federal employees acting as a civic consultancy for the government. We’re transforming government from the inside out, creating cultural change by working with teams inside agencies who want to <strong>create great services for the public</strong>.
    </p>
  </div>
</section>

<section class="services" itemprop="makesOffer">
  {% assign content = site.pages | where:"name","what-we-deliver-home.md" %}
  <div class="header">
    <div class="container-fluid">
      <h1>what we do</h1>
    </div>
  </div>
  <article class="container service-entry" itemprop="department">
      <div class="service-snippet">
        {{ content[0].content | markdownify }}
        <p>Learn more about <a href="{{ site.baseurl }}/what-we-deliver/">what we can do for your agency.</a></p>
      </div>

  </article>
</section>
<section id="news" class="blog">
  <div class="header">
    <div class="container-fluid">
      <h1>blog</h1>
    </div>
  </div>

  <article class="container blog-entry" itemprop="about" itemscope itemtype="http://schema.org/about">

    {% for post in site.posts limit:3 %}
      <div class="blog-title">
        <h1 class="h4" itemprop="headline">
          <a class="link-alt blog-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>
      </div>
      <div class="blog-meta">
        <p>
          Posted on <span class="blog-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_long_string }}</time></span>.
        </p>
        {% include byline.html context="post" %}
        <p>
          Tagged /
          <span class="blog-tags" itemprop="keywords">
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/{{site.tag_dir}}/{{ tag | slugify }}/" title="click to read other posts tagged: {{tag}}">{{ tag }}</a>
              /
            {% endfor %}
          </span>
        </p>
      </div>
      <div class="blog-snippet" itemprop="articleBody">
        <p>{{ post.excerpt | strip_html }}</p>
        <p><a href="{{ site.baseurl }}{{ post.url }}">Continue reading &ldquo;{{ post.title }}&rdquo;...</a></p>
      </div>
    {% endfor %}

    <div class="blog-all">
      <a href="{{ site.baseurl }}/blog/">See all blog posts.</a>
    </div>
  </article>

</section>

{% include newsletter.html %}
