---
title: What we deliver
permalink: /our-work/
layout: default-intro
lead: We help federal agencies build, buy, and share modern digital services to improve the user experience of government.
content_wide: true
redirect_from:
  - /consulting/
---
<section class="usa-grid usa-section" is="section-filterable" data-filter=".card">
  <h2>Who and how we've helped</h2>
  <fieldset class="form-checkboxes filterable-form">
    <legend class="h3">Filter by project type</legend>
    <formgroup class="form-inline">
      <input id="public-services" type="checkbox" checked />
      <label for="public-services">Public services</label>
    </formgroup>
    <formgroup class="form-inline">
      <input id="internal-systems" type="checkbox" checked />
      <label for="internal-systems">Internal systems</label>
    </formgroup>
    <formgroup class="form-inline">
      <input id="laws-and-mandates" type="checkbox" checked />
      <label for="laws-and-mandates">Laws and mandates</label>
    </formgroup>
  </fieldset>

  {% assign projects_list = site | find_collection: 'projects' | sort: 'title' %}
  {% for project in projects_list %}
    {% include card.html
     image_src=project.image
     image_alt=project.image_accessibility
     title=project.title
     description=project.excerpt
     link=project.permalink
     project_type=project.project_type
    %}
  {% endfor %}
</section>

<section class="usa-grid usa-section">
  {% assign agency_partners = site | find_collection: 'projects' | where_obj: 'agency_partner' | sort: 'agency_partner' %}
  {% assign partner_groups = agency_partners | in_groups: 3 %}
  <h2>Agency Partners and public offerings</h2>
  <ul class="list-columns">
  {% for group in partner_groups %}
    <li class="usa-width-one-third">
      <ul>
      {% for partner in group %}
        <li><a href="{{ partner.agency_partner_url | prepend: site.baseurl }}">{{ partner.agency_partner }}</a></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</section>
