---
layout: team
permalink: /team/
title: People
---
    <div class="intro">
      <h1>{{page.title}}</h1>

      <p>18F is a growing group of technologists, designers, and researchers from around the country. You can find us in Washington, San Francisco, Chicago, New York, Dayton, and a handful of other cities.</p>
      <!-- <ul class="sortable">Sort by:
        <li><a href="?sort=none">name</a></li>
        <li><a href="?sort=loc">location</a></li>
        <li><a href="?sort=team">team</a></li>
      </ul> -->
    </div>
    <div class="team">

      {% assign sorted = site.team | sort: 'last_name' %}
      {% for person in sorted %}
      {% if person.full_name %}
        <div class='bio' id="{{ person.name }}">
          {% if site.collections.team.output %}
          <a href='/team/{{person.name}}'>
          {% else %}
          <a class="disabled">
          {% endif %}
            {{ person.name | team_photo }}
            <h1>{{ person.full_name }}</h1>
          </a>
        </div>
      {% endif %}
      {% endfor %}

    </div>