---
layout: team
permalink: /team/
title: People
---

<section id="team">
	<div class="container">
		<h1>{{page.title}}</h1>
		<p>18F is a growing group of technologists, designers, and researchers from around the country. You can find us in Washington, San Francisco, Chicago, New York, Dayton, and a handful of other cities.</p>
		<!-- <ul class="sortable">Sort by:
			<li><a href="?sort=none">name</a></li>
			<li><a href="?sort=loc">location</a></li>
			<li><a href="?sort=team">team</a></li>
		</ul> -->
		<div class="team">
			{% for person in site.team %}
				{% if person.content.size > 0 %}
					<div class='bio'>
              {% if site.collections.team.output %}
	        		<a href='/team/{{person.name}}'>
              {% else %}
              <a class="disabled">
              {% endif %}
                  {{ person.name | team_photo }}
                  {% capture name %}{{ person.name | team_full_name }}{% endcapture %}
                  	{% if name.size > 0 %}
							<h1>{{ name }}</h1></a>
					{% else %}
						<h1>{{ person.display }}</h1>
					{% endif %}
	    		</div>
				{% endif %}
	    {% endfor %}
    </div>
  </div>
</section>