<footer>
  <div class="grid-container padding-y-6">
    {% unless hide_footer_rule %}
    <hr class="hr-1-dark footer-hr-alignment">
    {% endunless %}
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-3">
        {% image_with_class "assets/img/logos/18f-logo.svg" "maxw-5" "18F logo" %}
        <p>
          Work with us to plan successful projects, choose better vendors, build custom
          software, or learn how to work in new ways.
        </p>
        <a href="{{ "/contact/" | url }}"
           class="usa-button an18f-button--dark"
        >
          Contact us
        </a>
      </div>

      <div class="tablet:grid-offset-1 tablet:grid-col-2">
        <h2 class="font-heading-md text-medium margin-top-4 tablet:margin-top-0 margin-bottom-2 tablet:margin-bottom-4">
          Pages
        </h2>
        <ul class="usa-list usa-list--unstyled font-sans-sm list-item-spacing-2">
        {% for item in navigation.primary %}
          <li><a href="{{ item.href | url }}">{{ item.text }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class="tablet:grid-col-2">
        <h2 class="font-heading-md text-medium margin-top-4 tablet:margin-top-0 margin-bottom-2 tablet:margin-bottom-4">
          Policies
        </h2>
        <ul class="usa-list usa-list--unstyled font-sans-sm list-item-spacing-2">
          {% for item in navigation.policies %}
            <li><a href="{{ item.href | url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="tablet:grid-col-2">
        <h2 class="font-heading-md text-medium margin-top-4 tablet:margin-top-0 margin-bottom-2 tablet:margin-bottom-4">
          Contact
        </h2>
        <ul class="usa-list usa-list--unstyled font-sans-sm list-item-spacing-2">
          {% for item in navigation.contact %}
            <li>
              <a href="{{ item.href | url }}"
                 {% if item.html.class %}class="{{ item.html.class }}"{% endif %}
                 {% if item.html.rel %}rel="{{ item.html.rel }}"{% endif %}
                 >
               {{ item.text }}
             </a>
           </li>
          {% endfor %}
        </ul>
      </div>

      <div class="tablet:grid-col-2">
        <h2 class="font-heading-md text-medium margin-top-4 tablet:margin-top-0 margin-bottom-2 tablet:margin-bottom-4">
          Social
        </h2>
        <ul class="usa-list usa-list--unstyled font-sans-sm list-item-spacing-2">
          {% for item in social_media limit:3 %}
            <li class="display-flex flex-align-center">
              <a href="{{ item.link | url }}"
                 class="{% if item.html.class %}{{ item.html.class }}{% endif %}"
                 {% if item.html.rel %}rel="{{ item.html.rel }}"{% endif %}
                 >
                {% assign img_class = "maxw-205 margin-right-1 " | append: item.image.html.class %}
                {% image_with_class item.image.dark img_class %}
                {{- item.platform -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% include "usa_identifier.html" %}
</footer>
