<div class="bg-primary-darker padding-3 text-white usa-dark-background radius-md">
  <h2 class="font-sans-lg text-bold margin-bottom-2">Follow 18F</h2>
  <ul class="usa-list usa-list--unstyled">
    {% for item in social_media %}
    <li class="margin-bottom-2">
      <a href="{{ item.link | url }}"
         class="usa-link--alt {% if item.html.class %}{{ item.html.class }}{% endif %}"
         {% if item.html.rel %}rel="{{ item.html.rel }}"{% endif %}
         >
         {% image_with_class item.image.light "maxw-3 margin-right-2 text-sub" "" %}
         {%- unless item.platform == "RSS feed" -%}18F on {% endunless %}{{ item.platform }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
