---
layout: dashboard_new
title: Dashboard
permalink: /dashboard/new1/
js:
  - jquery-2.1.1.min.js
  - jquery.mixitup.min.js
  - app/dashboard-new.js
---

{% assign data = site.data.dashboard %}

<section class="mt4 px2">

  <div class="clearfix mxn2" id="filters">
    <div class="col col-12 sm-col-6 p2">
      <select class="col-12 field m0">
        <option value="all">all categories</option>
        <option value="accessibility">accessibility</option>
        <option value="apis">apis</option>
        <option value="design">design</option>
        <option value="guides">guides</option>
        <option value="how-we-work">how we work</option>
        <option value="open-data">open data</option>
        <option value="open-government">open government</option>
        <option value="platforms">platforms</option>
        <option value="procurement">procurement</option>
        <option value="security">security</option>
        <option value="tools-you-can-use">tools you can use</option>
      </select>
    </div>
    <div class="col col-12 sm-col-6 p2">
      <select class="col-12 field m0">
        <option value="all">coming soon...</option>
      </select>
    </div>
  </div>

  <div class="flex flex-wrap mxn2" id="projects">
  {% for d_hash in data %}
    {% assign d = d_hash[1] %}

    {% assign tags = d.tags | split:", " %}
    {% assign tags_cls = "" %}
    {% for t in tags %}
      {% capture tags_cls %}{{ tags_cls }} f_{{ (t | replace:" ","-") }}{% endcapture %}
    {% endfor %}

    {% if d.tagline.size > 0 %}
    <div class="col-12 sm-col-6 border-box p2 mix {{ tags_cls }}"
         data-order="{{ forloop.index }}"
    >
      <div class="p2 border">
        <div class="mb1 h5 bold caps">{{ d.full_name }}</div>
        <div class="mb1">{{ d.tagline }}</div>
        <div>
          <a href="/p/{{ d.name }}"><i class="fa fa-info-circle"></i></a> &middot; 
          <a target="_blank" href="{{ d.github }}"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>

</section>
