/*----------------------------------------------------------
# 18F colors
-----------------------------------------------------------*/
$brand-color-light: #B3EFFF;
$brand-color-bright: #00CFFF;
$brand-color-medium: #046B99;
$brand-color-dark: #1C304A;
