---
title: Work with us
permalink: /work-with-us/
lead: As federal employees, 18F shares your dedication to serving the American&nbsp;public.
redirect_from: /how-we-work/
hide_footer_rule: true
layout: primary
---

{% capture intro %}
Because [87% of large government IT projects don't succeed](https://guides.18f.gov/derisking-government-tech/), public sector approaches need to adjust. 18F believes projects have the best chance for success when agency leaders and staff are closely involved in developing the solutions they need.
{% endcapture %}

{% capture our-team %}
Our team of experts:
- Listen to understand your mission, goals and applicable rules or regulations.
- Evaluate the landscape to help you navigate the technology and product decisions.
- Prototype ideas to ensure they are viable for your context.
- Then, we draw from our expertise to create an actionable strategy.
- Together, we create the best outcomes for your mission and the people you serve.
{% endcapture %}

{% capture tech-adapt %}
## Tech that adapts and grows with your needs

18F engagements are designed to end. Since we’re part of the federal government, we don’t have a vested interest in extending engagements unnecessarily or selling you things you don’t need.

Instead, we involve your team in creating solutions and ensure they have everything they need to maintain and improve systems long after we’re gone.
{% endcapture %}

{% capture mission-path %}
## Choose the path that’s best for your mission and your users

We don’t offer one-size-fits-all solutions. Instead, we work with you to design the right path for your organization and make sure that you feel confident about each step. We believe in “demos not memos,” so everything we do is intended to be a step toward working software.

Some software projects are the right size and shape for 18F to build with you; others will require you to hire an outside vendor. We can help you to understand what kind of project you have, and if you need a vendor, to hire one that can respond to your changing needs and deliver working software to you on a regular basis.
{% endcapture %}

{% capture service-offerings %}
## Service offerings

18F teams consist of highly-qualified designers, engineers, product managers, and procurement specialists. In each engagement, we take the time to understand your mission and the challenges you confront. Then, we draw from our expertise to create practical solutions to deliver the best outcomes for you and the people you serve and set you up for success over time.

In each engagement, we take the time to understand your mission and the challenges you confront. We draw from our deep well of technical expertise in these areas to deliver the best solution for you and your unique challenges:

- **Digital strategy and modernization.** Leveraging the latest technologies to transform federal services, making them more accessible and efficient for all.
- **User experience design.** Crafting digital services with empathy and precision to ensure inclusivity and clarity for users from all walks of life.
- **Acquisition help.** Using lightweight methods to hire software development teams that use modern approaches to incrementally build digital products centered around user needs. 
- **IDEA compliance and advancement.** Not only meeting the requirements of the 21st Century IDEA but also pioneering beyond them to set new benchmarks for digital service delivery.
- **Content architecture and governance.** Structuring information architecture to facilitate intuitive navigation and robust governance across digital platforms.
- **Visual design and branding.** Establishing a visual identity that fosters trust and reflects the government’s dedication to serving the public.
- **Usability research and data-driven assessments.** Conducting comprehensive research to understand public needs, employing data to enhance the quality and effectiveness of services.

Some of our typical offerings include:

### Strategy Development

The first step toward success starts with a viable strategy. 18F strategy development teams help you wrangle complex service problems and develop a plan to achieve your goals. 

To create your strategy, we assemble a team with the right expertise to help you get a hold of your challenge. We draw on our experience and technical skills to develop a strategy based on rigorous research. We prototype solutions and test them with your stakeholders and users. These steps will help ensure that the strategy we recommend is viable and will satisfy both user needs and business goals, so you feel confident about each step.

### Vendor Acquisition Support

Some software projects are the right size and shape for 18F to build with you; others will require you to hire an outside vendor. We can help you hire a vendor that can respond to your changing needs and deliver working software to you on a regular basis. We’ll help you issue and manage a procurement, from RFI to post-award.

### Website Modernization

Your website is the primary channel for the public to learn about and interact with your agency. By partnering with 18F, you can better understand how and why people use your website, and use that understanding to serve them more effectively.

18F partners gain access to a specialized team focused on the nuances of customer experience. With us, you will be able to prototype new services, implement improvements, and get the tools and coaching to manage your new site.

### Digital Service Transformation

Research, prototype, launch, and manage your digital products from start to finish. Get support and coaching on how to continually improve on your success.

18F helps you understand what your users need, then design, build, and support the right systems to help you excel at serving them. We’ll work with you to ensure you can maintain and grow services over time.

Get hands-on support to modernize your approach to customer experience and technical management. As you build and run your projects, we coach you on how to use 18F’s methods to build a solid foundation for continued growth and success.

To take the next step, email us at <a href="mailto:inquiries18F@gsa.gov">inquiries18F@gsa.gov</a> and tell us what your needs are.
{% endcapture %}



<section class="usa-section usa-section--dark bg-primary-darker section-padding-6">
<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col">
      <h2>Transform the way you work</h2>
      <div class="font-sans-lg">
        {{ intro | markdownify }}
      </div>
    </div>
  </div>
</div>
</section>

<section class="usa-section section-padding-6">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col">
        <div class="font-sans-lg">
          {{ our-team | markdownify }}
        </div>
      </div>
    </div>
  </div>
  </section>

<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet-lg:grid-col-7">
         {{ tech-adapt | markdownify }}
      </div>
      <div class="tablet-lg:grid-col-5">
        {% image "assets/img/work-with-us/work-with-us-illo-3.svg" "" %}
      </div>
    </div>  
  </div>
</section>

<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet-lg:grid-col-7">
         {{ mission-path | markdownify }}
      </div>
      <div class="tablet-lg:grid-col-5">
        {% image "assets/img/work-with-us/work-with-us-illo-1.svg" "" %}
      </div>
    </div>
  </div>
</section>

<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet-lg:grid-col-7">
        {{ service-offerings | markdownify }}
      </div>
      <div class="tablet-lg:grid-col-5">
        {% image "assets/img/work-with-us/work-with-us-illo-2.svg" "" %}
      </div>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="grid-container">
    <h3 class="text-normal">Browse our guides</h3>
    <p class="font-sans-lg"> We want agencies to be able to do the work themselves. Here is a free guide that helps. </p>
    <div class="grid-row grid-gap-md">
      <div class="grid-col-12 tablet:grid-col-6 margin-top-3 tablet:margin-top-0">
      {% include "card-with-image.html",
         card_color: "dark",
         image_path: "assets/img/guides/derisking-lightest.svg",
         link_url: "https://guides.18f.gov/derisking-government-tech/",
         text_content: "De-risking Guide"
      %}
      </div>
    </div> <a href="{{ "/guides/" | url }}" class="usa-button usa-button--outline margin-top-3">
     Browse our guides
   </a>
  </div>
</section>

<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <h3 class="text-normal">Read related case studies</h3>
    <p class="font-sans-lg">Read short project summaries demonstrating how we’ve helped some of the largest federal agencies.</p>
    <div class="grid-row grid-gap-md">
    {% assign projects = 'fec-gov, treasury-data-act' | split: ", " %}
    {% for project in projects %}
      {% assign project_details = collections.services | where: 'fileSlug', project | first %}
      {% assign project_agency = project_details.data.agencies | where: "name", project_details.data.agency | first %}
      {% assign project_permalink = project_details.data.permalink | url %}
      <div class="grid-col-12 tablet:grid-col-6 margin-top-3 tablet:margin-top-0">
        {% include "card-with-image.html",
           image_path: project_agency.logo,
           image_alt_text: project_agency.name,
           image_size: "md",
           link_url: project_permalink,
           text_content: project_details.data.mini_excerpt
        %}
      </div>
    {% endfor %}
    </div>
   <a href="{{ "/our-work/" | url }}" class="usa-button usa-button--outline margin-top-3">
     Read our case studies
   </a>
  </div>
</section>
