<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

{{ include flag.html }}

<section class="container bare bare_pif">
  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="/pif/">
      <img class="pif-logo" src = "/assets/images/logo-pif.png" alt = "Presidential Innovation Fellows Logo">
    </a>
    <nav>
      <ul class="pif-nav-bar">
        <li><a href="/pif/">About</a></li>
        <li><a href="/pif/apply">Apply</a></li>
        <li><a href="/pif/fellows">Fellows</a></li>
        <li><a href="/pif/projects">Projects</a></li>
        <li><a href="/pif/faq">FAQs</a></li>
        <li><a href="/">18F home</a></li>
      </ul>
    </nav>
  </div>


  <div class="pif-content" role="main" itemscope itemprop="mainContentOfPage">
    <h1 class="pif-title">{{page.title}}</h1>
    {{ content }}
  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
