<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<section class="container bare">

  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="/">
      <i class="icon-18f-logo"></i>
    </a>
    <br />
    <a href="/pif/">
      <em>About</em>
    </a>
    <br />
    <a href="/pif/apply">
      <em>Apply</em>
    </a>
    <br />
    <a href="/pif/fellows">
      <em>Fellows</em>
    </a>
    <br />
    <a href="/pif/projects">
      <em>Projects</em>
    </a>
    <br />
    <a href="/pif/faq">
      <em>FAQs</em>
    </a>
  </div>


  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    {{ content }}
  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>