<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.">
    <!-- Twitter Card data -->
    <meta name="twitter:site" content="@18f">
    <meta name="twitter:title" content="18F - Digital Service Delivery for the Federal Government">
    <meta name="twitter:description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves.">
    <!-- Open Graph data -->
    <meta property="og:title" content="18F" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://18f.gsa.gov/" />
    <meta property="og:image" content="http://18f.gsa.gov/images/logo-18f.png" />
    <meta property="og:image:secure_url" content="https://18f.gsa.gov/images/logo-18f.png" />
    <meta property="og:description" content="18F builds effective, user-centric digital services focused on the interaction between government and the people and businesses it serves." />
    <meta property="og:site_name" content="18F - Digital Service Delivery for the Federal Government" />
    <title>18F Digital Services Delivery</title>
    {% include egg.html %}

    <link href="styles/bootstrap-3.1.1.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <!-- include individual stylesheets here, or minified version below -->
    <!--
      <link href="styles/fonts.css" rel="stylesheet">
      <link href="styles/18f.css" rel="stylesheet">
    -->
    <!-- minified -->
    <link href="styles/18f.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.js"></script>
      <link href="styles/ie.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body>

  {{ content }}

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- include individual scripts here, or minified version below -->
    <!--
      <script src="js/jquery-dotdotdot/src/js/jquery.dotdotdot.js"></script>
      <script src="js/skrollr/src/skrollr.js"></script>
      <script src="js/slideshow.js"></script>
      <script src="js/18f.js"></script>
    -->
    <!-- minified -->
    <script src="js/18f.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48605964-1', 'gsa.gov');
      ga('send', 'pageview');
    </script>
  </body>
</html>
