---
layout: default
---

{% include feature-image.html %}
<section class="usa-grid usa-section content-focus{% if page.include_subnav %} content-wide{% endif %}">
  <h1 class="usa-sr-only">{{ page.title }}</h1>

  {% if page.include_subnav %}
    <aside class="usa-width-one-third sticky-subnav sticky">
      {% include navigation.html subnav=true subnav_anchor=page.subnav_anchor %}
    </aside>
    <section class="usa-width-two-thirds">
      {% if page.lead %}
        <h3 class="page-lead">{{ page.lead }}</h3>
      {% endif %}
      {{ content }}
    </section>
  {% else %}
    {% if page.lead %}
      <h3 class="page-lead">{{ page.lead }}</h3>
    {% endif %}
    {{ content }}
  {% endif %}
</section>
