---
layout: default
---
<section class="background-dark usa-section section-intro">
  <div class="usa-grid">
    <header>
      {% if page.lead %}
        <h1 class="section-heading section-heading-alt">{{ page.title }} </h1>
        <h2>{{ page.lead }}</h2>
        {% else %}
          <h1 class="section-heading">{{ page.title }}</h1>
      {% endif %}
    </header>
  </div>
</section>
<section class="usa-grid content-focus{% if page.content_wide %} content-wide{% endif %}">
  {{ content }}
</section>
