---
layout: default
---

{% if page.title %}
  <section class="bg-primary-dark usa-section">
    <div class="grid-container">
        {% if page.lead %}
          <h1 class="section-heading section-heading-alt">{{ page.title }} </h1>
          <h2>{{ page.lead }}</h2>
        {% else %}
          <h1 class="section-heading">{{ page.title }}</h1>
        {% endif %}
    </div>
  </section>
{% else %}
  <h1 class="usa-sr-only">{{ page.title }}</h1>
{% endif %}

{% assign page_title = page.subnav_title | default: page.title %}

{% if page.breadcrumb == true %}
{% include breadcrumb.html
  page_title=page_title
  background_class='bg-base-lightest'
%}
{% endif %}

<section class="{% unless page.gridless %}grid-container usa-section {% endunless %}{% if page.include_subnav %} content-wide{% endif %} usa-content hww-main-content">
  {% if page.include_subnav %}
    <aside class="tablet:grid-col-4 margin-bottom-2 z-top bg-white sticky">
      {% include navigation.html subnav=true %}
    </aside>
    <section class="tablet:grid-col-8">
      {% if page.image and page.lead %}
        <h3 class="page-lead">{{ page.lead }}</h3>
      {% endif %}
      {{ content }}
    </section>
  {% else %}
    {% if page.image and page.lead %}
      <h3 class="page-lead">{{ page.lead }}</h3>
    {% endif %}
    {{ content }}
  {% endif %}
</section>

{% if page.banner_cta %}
  {% include banner-cta.html %}
{% endif %}


  <section class="usa-section section-case-studies bg-base-lightest">
    <div class="grid-container">
      <div class="usa-section-bottom">
      <h2>Case studies</h2>
      <p class="section-case-studies-text">Here are a couple of projects we’ve built with federal agencies using a Path Analysis followed by Experiment & Iterate phases.</p>
      
      <div class="grid-row grid-gap">
      <ul class="usa-card-group">
        {% include card.html
        project='fbi-crime-data-explorer'
        %}

        {% include card.html
        project='fec-gov'
        %}

        {% include card.html
        project='calc'
        %}
      </ul>
      </div>
    </div>
    </div>
  </section>

