<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

{% include flag.html %}

<section class="container bare">
	{% include nav.html %}
	{% include logo.html %}
  <div id="main" class="bare-content" role="main" itemscope itemprop="mainContentOfPage">

    <section class="blog-posting" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">

      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }} </time>

      <p>
        Tagged /
        <span class="blog-tags" itemprop="keywords">
          {% for tag in page.tags %}
            <a href="/{{site.tag_dir}}/{{ tag | slugify }}">{{ tag }}</a>
            /
          {% endfor %}
        </span>
      </p>
      {% include byline.html context="page" %}
      {{ content }}

    </section>

    {% if page.previous or page.next %}
        <section class="blog-pagination">
          <div>
            {% if page.previous %}
              <a href="{{ page.previous.url }}">
                <h1><i class="fa fa-chevron-left"></i> Previous Post</h1>
                <p>&ldquo;{{ page.previous.title }}&rdquo;</p>
              </a>
            {% endif %}
          </div>
          <div>
            {% if page.next %}
                <a href="{{ page.next.url }}">
                  <h1>Next Post <i class="fa fa-chevron-right"></i></h1>
                  <p>&ldquo;{{ page.next.title }}&rdquo;</p>
                </a>
            {% endif %}
          </div>
        </section>
    {% endif %}

    <section class="blog-related">
      <h1>Related Posts</h1>
      {% related_posts ul li %}
    </section>
    <aside class="blog-follow-us">
      <h1>Follow the latest news from 18F</h1>
      <ul>
        <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/18f">@18F</a></li>
        <li><i class="fa fa-rss"></i> <a href="/feed/">18F News Feed</a></li>
      </ul>

      <!-- <i class="fa fa-github"></i> <a href="https://github.com/18f">GitHub / 18F</a> -->

    </aside>

  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
