---
layout: default
---


{% include feature-image.html %}

<div class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-2">
      <a class="back-blog link-arrow-left" href="{{ site.baseurl }}/blog/">
        {% include svg/icons/arrow-left.svg %}
        <span class="usa-sr-only">Back to</span>
        Blog
      </a>
    </div>
    <div class="tablet:grid-col-8">
      <article id="main-content" "class="post-article" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
          <h1 itemprop="name headline">{{ page.title }}</h1>
          <p class="post-byline">
          {% include post-author.html context="page" %}
          </p>
          <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
          </p>
          <span class="post-tags" itemprop="keywords">
            {% for tag in page.tags %}
              <a class="usa-label" href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}/">{{ tag }}
              </a>
            {% endfor %}
          </span>
        </header>

        <div class="post-content" itemprop="articleBody">
          {% if page.image and page.image_feature_small == true %}
            <img class="image-feature-small" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.image_accessibility }}">
          {% endif %}

          {{ content }}
        </div>

      </article>
    </div>
  </div>
</div>

{% if page.previous or page.next %}
  <section class="post-pagination grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-6">
        {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          <span class="link-arrow-left">
            {% include svg/icons/arrow-left.svg %}
            Previous Post
          </span>
          <h5>&ldquo;{{ page.previous.title }}&rdquo;</h5>
        </a>
        {% endif %}
      </div>
      <div class="grid-col-6">
        {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          <span class="link-arrow-right">
            Next Post
            {% include svg/icons/arrow-right.svg %}
          </span>
          <h5>&ldquo;{{ page.next.title }}&rdquo;</h5>
        </a>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% include featured-posts.html 
  hide_date=false 
  title="Related posts" 
  related_posts=page.related_posts 
  show_tags=true %}
{% include banner-cta.html %}
