<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<section class="container bare">

  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="/">
      <i class="icon-18f-logo"></i>
    </a>
    <br />
    <a href="/news">
      <em>Return to the blog</em>
    </a>
  </div>

  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    <section class="blog-posting" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }} </time>
      <p>
        Tagged /
        <span class="blog-tags" itemprop="keywords">
          {% for tag in page.tags %}
            <a href="/{{site.tag_dir}}/{{ tag | uri_escape }}">{{ tag }}</a>
            /
          {% endfor %}
        </span>
      </p>
      {{ content }}
    </section>
    <section class="blog-related">
      <h2>Related Posts</h2>
      {% related_posts ul li %}
    </section>
    {% if page.previous or page.next %}
        <section class="blog-pagination">
          <div>
            {% if page.previous %}
                <a href="{{ page.previous.url }}"><h1>Previous Post</h1> {{ page.previous.title }}</a>
            {% endif %}
          </div>
          <div>
            {% if page.next %}
                <a href="{{ page.next.url }}"><h1>Next Post</h1> {{ page.next.title }}</a>
            {% endif %}
          </div>
        </section>
    {% endif %}

    <aside class="blog-follow-us">
      <h1>Follow us here:</h1>
      <ul>
        <li><i class="icon-rss"></i> <a href="/feed/">18F News Feed</a>
        <li><i class="icon-twitter"></i> <a href="https://twitter.com/18f">Twitter @18F</a></li>
        <li><i class="icon-github2"></i> <a href="https://github.com/18f">GitHub / 18F</a></li>
      </ul>
    </aside>
  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
