---
layout: default
---

{% assign page_title = page.subnav_title | default: page.title %}

{% if page.breadcrumb == true %}
{% include breadcrumb.html
  page_title=page_title
  background_class='bg-base-lightest'
%}
{% endif %}

<section class="usa-section section-padding-sm {% if page.include_subnav %} content-wide {% endif %}">
  <div class="grid-container"> 
    <h1> {{ page.title }} </h1>
    {% if page.lead %} 
      <p class="font-sans-xl line-height-sans-3"> {{ page.lead }} </p>
    {% endif %}
    {% if page.img %}
      <img src="{{ site.baseurl }}/{{ page.img }}" alt="{{ page.img_alt_text }}" class="margin-top-4">
    {% endif %}
  </div>
</section>
{% if page.gridless %}  
 {{ content }}
{% else %}
<section class="usa-section section-padding-top-0">
<div class="grid-container"> 
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-7">
      {{ content }}
    </div>
    {% if page.include_subnav or page.side_cta %}
    <aside class="tablet:grid-offset-1 tablet:grid-col-4 margin-bottom-2">
      {% if page.include_subnav %} 
        {% include navigation.html subnav=true %}
      {% endif %}
      {% if page.side_cta %} 
        {% include side-cta.html %}
      {% endif %}
    </aside>
    {% endif %}
  </div>
</div>
</section>
{% endif %}

{% if page.banner_cta %}
  {% include banner-cta.html %}
{% endif %}

{% comment %}
// TODO delete if unused
{% if page.image %}
  {% include feature-image.html %}
  <h1 class="usa-sr-only">{{ page.title }}</h1>
{% elsif page.title %}
  <section class="usa-section section-padding-sm">
    <div class="grid-container">
      <div class="tablet:grid-col">
        {% if page.lead %}
          <h1 class="">{{ page.title }} </h1>
          <p class="font-sans-xl line-height-sans-3">{{ page.lead }}</p>
        {% else %}
          <h1 class="section-heading">{{ page.title }}</h1>
        {% endif %}
      </div>
    </div>
  </section>
{% else %}
  <h1 class="usa-sr-only">{{ page.title }}</h1>
{% endif %}
{% endcomment %}
