<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" id="bio-{{page.name}}">

{% include flag.html %}
<section class="container bare profile">
	{% include nav.html %}
  {% include logo.html %}
  {% include headline.html %}
  <div id="main" class="content" role="main" itemscope itemprop="mainContentOfPage">
    {% if content.size > 0 %}{{ content }}

    {% else %}We haven't gotten to filling in {{ page.first_name }}'s
information yet. Check back soon, and thanks for your patience!
    {% endif %}
  </div>
  {% include sidebar.html %}


</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
