<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" id="bio-{{page.name}}">

{% include flag.html %}
<section class="container bare profile">
	{% include nav.html %}
  {% include logo.html %}
  <a href="{{site.url}}/team/#{{ page.name }}">Back to 18F People</a>
  {% include headline.html %}
  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    {% if content.size > 0 %}{{ content }}
    {% if page.project %}
    <h3>{{ page.first_name }}'s projects:</h3>
    	<ul>
	    	{% for project in page.project %}
					<li>{{ project }}</li>
				{% endfor %}
    	</ul>
    	{% endif %}
    {% else %}We haven't gotten to filling in {{ page.first_name }}'s information yet. Check back soon and thanks for your patience!
    {% endif %}
  </div>

  	{% include sidebar.html %}

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
