<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" id="bio-{{page.name}}">

{% include flag.html %}
{% include nav.html %}
<section class="container bare profile">

  {% include logo.html %}
  {% include headline.html layout="profile" %}
  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    {% if content %}{{ content }}
    {% else %}We haven't gotten to filling in this person's information yet. Check back soon and thanks for your patience!
    {% endif %}
  </div>
  	{% include sidebar.html %}

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
