---
layout: default
header_border: true
---

{% assign matching_posts = page | match_posts | sort:'date' | reverse %}


{% include breadcrumb.html
  parent_permalink='/what-we-deliver/'
  parent_title='What we deliver'
%}

<section class="page-tag-results">

  <section class="bg-primary-dark usa-section padding-y-0">
    <div class="grid-container padding-x-0 usa-flex">
      <div class="grid-row">
        <div class="{% if page.image %}tablet:grid-col-6 padding-4{% else %}padding-x-0{% endif %}">
          {% if page.agency %}
            <h1>
            {{ page.agency }}
            </h1>
          {% endif %}
          <h2>
            {{ page.title }}
          </h2>
        </div>
        {% if page.image %}
          <div class="tablet:grid-col-6 usa-hero hero"
            style="background-image: url({{ site.baseurl }}{{ page.image }});"
            role="img"
            title="{{ page.image_accessibility }}">
          </div>
        {% else %}
          <div class="hero hero-img-collapsed" style="background-image: none">
          </div>
        {% endif %}
      </div>
      </div>
  </section>

  <div class="grid-container content-wide">
    {% if page.agency or
          page.project_url or
          page.github_repo or
          page.product_clients.size > 0 or
          page.start_date or
          page.expiration_date or
          page.resources
    %}
  <div class="grid-row grid-gap">
    <div class="grid-container tablet:grid-col-8">
      <section class="usa-section page-tag-results-content case-study">
        <div class="case-study-preheader">Background</div>
        <h3>{{ page.subtitle }}</h3>
        {{ content }}
      </section>
    </div>
    
    <aside class="grid-container usa-section grid-container-reversed-right tablet:grid-col-4">
      <ul class="usa-sidenav partner-info thick-accent-border">
        {% if page.quote %}
          <blockquote>
            <p>&ldquo;{{ page.quote }}&rdquo;</p>
            {% if page.quote_source %}
              <h5>{{ page.quote_source | prepend: '– ' | markdownify }}</h5>
            {% endif %}
          </blockquote>
        {% endif %}

        {% if page.agency %}
        <li class="agency-partner-name">
          <h5>Agency partner</h5>
          {{ page.agency }}
        </li>
        {% endif %}

        {% if page.project_url %}
        <li>
          <h5>See our work</h5>
          <ul class="usa-sidenav__sublist">
            <li> {{ page.project_url | markdownify }} </li>
          </ul>
        </li>
        {% endif %}

        {% if page.github_repo %}
        <li>
          <h5>See the code on GitHub</h5>
            <ul class="usa-sidenav__sublist">
            {% for repo in page.github_repo %}
              <li>{{ repo | markdownify }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if page.product_clients.size > 0 %}
        <li>
          <h5>Agency partners</h5>
          <ul class="{% if page.product_clients.size > 1 %}usa-sidenav__sublist{% endif %}">
          {% for client in page.product_clients %}
            <li>{{ client }}</li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}

        {% if page.start_date or page.expiration_date %}
        <li>
          <h5>When</h5>
          <div>
          {% if page.start_date and page.expiration_date %}
            {{ page.start_date }} – {{ page.expiration_date }}
          {% elsif page.start_date and page.expiration_date == false %}
            Starts {{ page.start_date }}
          {% elsif page.start_date == false and page.expiration_date %}
            Ends {{ page.expiration_date }}
          {% endif %}
          </div>
        </li>
        {% endif %}

        {% if page.resources.size > 0 %}
        <li>
          <h5>Resources</h5>
          <ul class="{% if page.resources.size > 1 %}usa-sidenav__sublist{% endif %}">
            {% for resource in page.resources %}
              <li >{{ resource | markdownify }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.learn_more %}
          <li>
            <a class="usa-button" href="{{ page.learn_more }}">Learn more</a>
          </li>
        {% endif %}
      </ul>
      <div>{% include side-cta.html %}</div>
    </aside>
    {% endif %}
  </div>
  </div>
</section>
  {% include featured-posts.html
    hide_date=true
    title="Related blog posts"
    related_posts=matching_posts
    show_tags=false
    additional_class="bg-base-lightest"
  %}
