---
layout: default
---

{% if page.breadcrumb == true %}
{% assign parent_title = page.parent_title %}
{% include breadcrumb.html
  page_title=title
  background_class='bg-base-lightest'
%}
{% endif %}

<div class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-2">
      {%- assign collection_pages = site.guides | where: "parent_title", page.parent_title -%}
      <ul>
        {% for collection_page in collection_pages %}
        <li>
          <a href="{{ site.baseurl }}{{ collection_page.url }}">{{ collection_page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tablet:grid-col-8">
      <article id="main-content" "class=" post-article" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
          <h1 itemprop="name headline">{{ page.title }}</h1>
        </header>

        <div class="post-content" itemprop="articleBody">
          {% if page.image and page.image_feature_small == true %}
          <img class="image-feature-small" src="{{ site.baseurl }}{{ page.image }}"
            alt="{{ page.image_accessibility }}">
          {% endif %}

          {{ content }}
        </div>

      </article>
    </div>
  </div>
</div>

{% if page.previous or page.next %}
<section class="post-pagination grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-6">
      {% if page.previous %}
      <a href="{{ site.baseurl }}{{ page.previous.url }}">
        <span class="link-arrow-left">
          {% include svg/icons/arrow-left.svg %}
          Previous guide page
        </span>
        <h5>&ldquo;{{ page.previous.title }}&rdquo;</h5>
      </a>
      {% endif %}
    </div>
    <div class="grid-col-6">
      {% if page.next %}
      <a href="{{ site.baseurl }}{{ page.next.url }}">
        <span class="link-arrow-right">
          Next guide page
          {% include svg/icons/arrow-right.svg %}
        </span>
        <h5>&ldquo;{{ page.next.title }}&rdquo;</h5>
      </a>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% include featured-posts.html
hide_date=false
title="Related posts"
related_posts=page.related_posts
show_tags=true %}
{% include banner-cta.html %}
