---
layout: default
---
<section class="background-gray usa-section">
  <div class="usa-grid">
    <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
    <div class="usa-width-three-fourths">
      <h2 class='h3'>18f.gsa.gov inherits from the U.S. Web Design Standards and 18F brand guidelines to create style that is professional, unique, and informative</h2>
    </div>
  </div>
</section>
<section class="usa-grid content-focus content-wide usa-section">

  <aside id="styleguide-navbar" class="nav-subnav">
    <button class="menu-btn-styleguide">{% include svg/icons/bars.svg %}</button>
    {% include navigation/drawer.html nav_items=page.nav_items nav_class_suffix='-styleguide' %}
  </aside>
  <section>
    {{ content }}
  </section>
</section>

