<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

{% include flag.html %}
{% include nav.html %}
<section class="container team">
  <section id="team">
    <div class="container bare">
      {% include logo.html %}

      <div class="team-content" role="main" itemscope itemprop="mainContentOfPage">
        {{ content }}
      </div>

    </div>
  </section>
</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
