{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  {% assign was_redirected = false %}
  {% if env.production %}
    {% assign is_index = page.url == "/" %}
    {% if redirect_bases[tags[0]] or is_index %}
      {% assign was_redirected = true %}
      {% include "meta_redirect.html", is_index: is_index %}
    {% endif %}
  {% endif %}

  {%  unless was_redirected %}
    {% include "meta.html" %}
    <body class="display-flex flex-column minh-viewport">
      {% include "header.html" %}
      {% if tags %}
        {% assign primary_navigation = navigation[tags] %}
      {% else %}
        {% assign primary_navigation = site.primary_navigation %}
      {% endif %}

      {% include "menu.html" secondary_navigation: site.secondary_navigation %}

      {{ content }}

      {% include "footer.html" %}

      {% comment %} Hide SVG Sprites {% endcomment %}
      <div style="display: none;">
        {% usa_icons_sprite %}

        {% comment %}

        TODO: Remove once this set of icons once we've determined the usa_icons
        above is enough. Currently, keeping both adds two sets of SVGs with duplicate IDs,
        which is flagged as by pa11y as an accessibility error.

        {% uswds_icons_sprite %}

        {% endcomment %}

      </div>

      {% include "scripts.html" %}
    </body>
  {% endunless %}
  </html>
