---
layout: layouts/default
---

{% comment %}
This is an example showing how you can load date from the _data/ folder
{% endcomment %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{title}}</h1>
        {{ content }}
        <ul>
          {% for item in site.data[page.datafile] %}
          <li>
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>: {{item.description}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
