<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale | default: 'en-US' }}">
  <head>
    {% include "meta.html" %}
    {% include "styles.html" %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include "skipnav.html" %}
    {% include "header.html" %}

    {% if page.tagline and page.intro %}
    <section class="grid-container usa-section">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">{{ page.tagline }}</h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
          {{ page.intro | markdownify }}
        </div>
      </div>
    </section>
    {% endif %}

    {% if page.layout == 'post' %}
      {{ content }}
    {% else %}
      <main id="main-content">
        {{ content }}
      </main>
    {% endif %}

    {% include "footer.html" %}
    {% include "scripts.html" %}
  </body>
</html>
