---
layout: layouts/base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div id="main-content" class="usa-layout-docs usa-section flex-1 tablet:padding-bottom-10 {{ layout_class }}">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {%- if sidenav == true -%}
        {%- include "sidenav.html" -%}
      {%- endif -%}
      <main class="usa-layout-docs__main desktop:grid-col-9
                  usa-prose measure-5 {{tags[0] -}}"
      >
        {%- unless page_title_tag -%}
          {% assign page_title_tag = "h1" %}
        {%- endunless -%}
        {%- if title -%}
          {%- if hidden_guide_title -%}
          <h1 class="usa-sr-only">{{ hidden_guide_title }}</h1>
          {%- endif -%}
          <{{page_title_tag}} class="page-title {{tags[0]}}">{{ title }}</{{page_title_tag}}>
        {%- endif -%}
        {{ content }}
      </main>
    </div>
  </div>
</div>

{% if tags[0] == 'derisking' %}
  <script src={{ '/assets/derisking/js/current-link.js' | url }}></script>
{% endif %}
{%- if script -%}
  <script src="{{ script | url }}"></script>
{%- endif -%}
