---
layout: default
main:
  class: 'primary-layout'
---

{% assign page_title = page.subnav_title | default: page.title %}

<section class="usa-section section-padding-sm">
  <div class="grid-container">
    <h1> {{ page.title }} </h1>
    {% if page.lead %}
      <p class="font-sans-xl line-height-sans-3">{{ page.lead }}</p>
    {% endif %}
    {% if page.image %}
      {% image_with_class page.image "margin-top-4" page.image_alt_text %}
    {% endif %}
  </div>
</section>

 {{ content }}

{% if page.banner_cta %}
  {% include "banner-cta.html" %}
{% endif %}

