.jumbotron {
  background-color: #03253e;
  padding: 0;
  margin: 0;
  height: 720px;
  /*background-image: url(http://farm8.staticflickr.com/7374/9753507372_d5aa73abcc_o.jpg);*/
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  position: relative;
}
.jumbotron > img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 20;
}
@media (max-width: 992px) {.jumbotron > img {height: 100px; width: 100px; top: 20px; left: 20px;}}
@media (max-width: 360px) {.jumbotron > img {height: 75px; width: 75px;}
}
.jumbotron .container-fluid {
  position: absolute;
  top: 430px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #03253e; /* For browsers that don't support opacity */
  background-color: rgba(0,0,0,.4);
  z-index: 20;
}
.jumbotron .container-fluid > h2 {
  margin:0 auto;
  text-align: center;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  max-width: 860px;
}
@media (max-width: 992px) {
  .jumbotron { height: 650px; }
  .jumbotron .container-fluid {top:330px;}
  .jumbotron .container-fluid > h2 {font-size: 4em;}
}
@media (max-width: 550px) {
  .jumbotron { height: 480px; }
  .jumbotron .container-fluid {top:200px;}
  .jumbotron .container-fluid > h2 {font-size: 3em;}
}
@media (max-width: 360px) {
  .jumbotron { height:480px; }
  .jumbotron .container-fluid {top:200px;}
}

.photo-credit {
  color:#fff;
  font-size: 1.1em;
  margin-top: -40px;
  margin-left: 15px;
  height: 40px;
  position: relative;
  z-index: 1000;
  overflow: none;
}
.photo-credit i {
  vertical-align: middle;
}
.photo-credit .icon-camera {
  font-size: 30px; margin-right:10px;
}
.photo-credit a {
  color:#fff; text-decoration:none;
}
.photo-credit a:hover {
  color:#f39; text-decoration:none;
}
@media (max-width: 550px) {
  .photo-credit {
    margin-top: -30px;
    font-size: 0.8em;
    height: 1em;
  }
  .photo-credit .icon-camera {
    font-size: 20px;
  }
}

.mantra {
  margin-top:40px;
  margin-bottom:40px;
  background-image:url(../images/lightbulb.png);
  background-size: 10%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {.mantra {background:none;}}
.mantra h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-top: 15px; padding-bottom: 15px; margin:0;
}
.mantra h3 > strong {color: #906;}
.mantra p {
  font-size: 15px;
  padding-top:20px; padding:bottom:20px; margin:0;
}

.blog {
  height: auto;
  background-color: #cef;
  padding:20px 0 30px 0;
}
.blog h4 {
  font-size: 20px;
  font-weight: 700;
}
.blog h4 > a {color:#906; text-decoration: none;}
.blog h4 > a:hover {color:#f39; text-decoration: underline;}

.blog .blog-entry {
  display: none;
}

#blog-loading h4 {
  text-align: center;
  padding: 20px;
  color: #606060;
}
#blog-loading .error {
  text-align: center;
  color: #906;
  display: none;
}

.blog-md {font-size: 13px; font-weight: 400; line-height: 1.5em; padding-bottom: 10px;}
.blog-md a {text-decoration: none; font-weight: 700;}
.blog-md a:hover {text-decoration: underline;}
.blog-snippet {
  line-height: 2em;
  height: 8em;
  overflow: none;
}

.footer {
  border-top: 5px solid #18f;
  background-color: #03253e;
  height: auto;
  color: #fff;
  padding-top: 20px; padding-bottom: 20px;
}
.footer div { padding-top: 10px; padding-bottom: 10px;}
.footer div > img { height: 100px; }
.footer a { color:#fff; text-decoration: none;}
.footer a:hover { text-decoration: underline;}
.footer .propaganda {float: right;}
@media (max-width: 790px) {.footer .propaganda {float:none;}}


/*
  SLIDESHOW
*/
.slidesjs-navigation,
.slidesjs-pagination,
.photo-credit {display:none;}
.photo-credit {
  text-shadow: 1px 1px 2px #000;
}
#slideshow {
  position: relative;
  z-index: 1;
  display: none; /* no flicker, let script load slideshow */
}
